[2021-02-23 16:38] #487 closed

[2021-02-23 17:12] Zenrac commented on #488
Closed by #489

[2021-02-23 17:12] #488 closed

[2021-02-26 08:53] nicolas63 opened #604 "Access rights"
@jdubois Can you add @Zenrac in jhipster-net-developers please ?

[2021-02-26 14:43] Zenrac opened #605 "Add possibility to enable CQRS"
##### **Overview of the feature request**

Allowing to decide if users want to use  the CQRS (Command Query Responsibility Segregation) pattern could be a good addition for JHipster.NET.

In order to achieve this, we can use [MediatR](https://github.com/jbogard/MediatR) to do a simple Mediator implementation.

##### **Motivation for or Use Case**

CQRS is a very well known pattern that can maximiz

[2021-03-01 09:34] Zenrac opened #607 "Improve Xamarin implementation"
##### **Overview of the feature request**

First Xamarin implementation (done in #489) lacks many important features.
######  Handle offline mode
- Generated App should be able to work even if the connection to DB fails.

###### Relation between entities
- Generated entity should be able to have relations with other entities.

######  Better iOS compatibility
- Improve UI for iOS

######  User man

[2021-03-01 12:42] jdubois commented on #604
Done!
Welcome to the team @Zenrac !

[2021-03-01 12:42] #604 closed

[2021-03-03 21:33] ivanmonteiro opened #614 "Upgrade Entity Framework packages for Oracle compatibility"
##### **Overview of the issue**

Entity Framework packages are fixed. It is using the same version (v5.0.0) of the asp.net core.

https://github.com/jhipster/jhipster-dotnetcore/blob/0348960d5888f47d9a5244a5be23b517c7843403/generators/server/templates/dotnetcore/src/Directory.Build.targets#L3

https://github.com/jhipster/jhipster-dotnetcore/blob/0348960d5888f47d9a5244a5be23b517c7843403/generators/

[2021-03-03 21:41] nicolas63 commented on #614
Exactly i think you have right we can use two variables

[2021-03-03 23:45] #614 closed

[2021-03-05 08:14] Zenrac opened #617 "Two "Fronts" sections in generated documentation"
##### **Overview of the issue**

There are two "Fronts" sections in JHipster.NET's documentation.

![image](https://user-images.githubusercontent.com/19573589/110086487-b62c8400-7d92-11eb-869a-30329770171a.png)

##### **Reproduce the error**

Go on [JHipster.NET's documentation](https://jhipsternet.readthedocs.io/en/latest/)

-   [x] Checking this box is mandatory (this is just to show you read ev

[2021-03-05 11:10] #617 closed

[2021-03-24 18:14] A-5ingh opened #651 "Azure AD support"
##### **Overview of the feature request**

Looking for Azure AD authentication and authorization support in the monolith application which gets generated through the blueprint.

##### **Motivation for or Use Case**

Most of our applications which we develop uses Azure AD authentication and are always deployed in Azure cloud. We often use this blueprint to generate both backend and frontend for our

[2021-03-24 18:26] A-5ingh commented on #388
@nicolas63 I can pick this task up.

[2021-03-24 20:53] nicolas63 commented on #388
Thanks, do you need help ?

[2021-03-24 21:02] nicolas63 commented on #651
Yes, i think is a good idea, i have never use azure ad have you a sample app ?
All security configuration is done here -> https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/server/templates/dotnetcore/src/Project/Configuration/SecurityStartup.cs.ejs

[2021-03-25 05:27] A-5ingh commented on #388
Yes please @nicolas63 if you could provide more details on the requirement.
From the description I could understand is that we need to deploy the generated app to AzureApp service.
We will have an ARM template to generate the required resources in Azure but to deploy we might require devops pipeline right ? or maybe we can use an existing git url to deploy the app.

[2021-03-25 05:33] A-5ingh commented on #651
Thanks @nicolas63
Microsoft has provided enough sample applications which is using msal v2 - https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code. It include samples for dotnetcore, react, angular etc. Please take a look and let me know what you think.
I'll go through the SecurityStartup.cs.ejs file to understand how it works because this is the first time I'll be working

[2021-03-26 09:56] nicolas63 commented on #388
For resources creation we can use a template or also generate terraform files to create resources ( sample here : https://gitlab.com/lips63/achievements/-/merge_requests/5/diffs#800d400dc35711ca737e1ffc8d80b40a6cff73ef )
For the deployment i think the first step is to create a script. In other issue we can call this script to deploy automatically
After that we need to add this on the generation fo

[2021-03-26 10:01] nicolas63 commented on #651
i think i can just add https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/2.%20Web%20API%20now%20calls%20Microsoft%20Graph/TodoListService/Startup.cs#L25
in SecurityStartup.
For this you need to add a condition in https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/server/prompts.js#L74 to add Azure Ad and them you can check if authentication

[2021-03-26 10:03] nicolas63 commented on #651
if you want you can update a generated app and them i can help you to integrate this in the genrator

[2021-03-27 07:47] A-5ingh commented on #388
Sure @nicolas63 let me go through this Terraform first and how to use let. Once I'll have the terraform files ready then we can pick the script. For now I'm just going to note down the steps which we will need to perform.

- [ ] Create a Terraform script to be used for creation of resources in Azure. We have ARM template in azure for resource creation.
- [ ] Create a script to call the terraform s

[2021-03-27 11:51] A-5ingh commented on #651
Sure @nicolas63 let me see what can I do, but Azure Ad will required changes in both frontend and backend side. Just like the way oAuth and Jwt authentication have changes in both frontend and backend. I might take some time on getting this done.

[2021-03-28 15:53] #165 closed

[2021-03-28 15:56] nicolas63 commented on #165
bounty claimed => https://opencollective.com/generator-jhipster/expenses/37062

[2021-03-29 18:49] nicolas63 commented on #651
do you really need change in front ? it's not just a redirect to azure ad login page ?
The easiest way would be to generate an application and then make modification. After that, I can help you to integrate it in the generator.

[2021-03-29 18:50] nicolas63 commented on #388
that's right if you need help don't hesitate

[2021-03-30 08:54] MrWYG opened #662 "bug: jhipster entity <entity-name>"
https://jhipsternet.readthedocs.io/en/latest/Introduction/getting-started.html
When I test this Getting Started(link above), after run the order : jhipster entity
(environment: Windows 10, VS2019)
got the bug below:
• INFO! Error parsing options for generator jhipster-dotnetcore:entity, error: Error: This is a JHipster blueprint and should be used only like jhipster --blueprint dotnetcore
• ERROR!

[2021-03-30 09:02] nicolas63 commented on #662
Which version of jhipster do you use ?
Can you give me your .yo-rc.json (this file is in root folder) ?
Can you try with command jhipster entity --blueprint dotnetcore ?

[2021-03-30 09:29] MrWYG commented on #662
Jhipster 7.0.0

Use the command : jhipster entity author --blueprint dotnetcore
Result:
INFO! Using JHipster version installed globally
INFO! No custom sharedOptions found within blueprint: generator-jhipster-dotnetcore at C:/Users/yanguwan/AppData/Roaming/npm/node_modules/generator-jhipster-dotnetcore
INFO! No custom commands found within blueprint: generator-jhipster-dotnetcore at C:/Users/yangu

[2021-03-30 09:35] MrWYG commented on #662
Can you give me your .yo-rc.json (this file is in root folder) ? where it is? I didn't find it.

[2021-03-30 09:39] nicolas63 commented on #662
sorry i have forget a s :  jhipster entity author --blueprints dotnetcore
I think you have few problems
You use jhipster 7.0.0 but this blueprint is not yet compatible with the v7 it's in progress here (https://github.com/jhipster/jhipster-dotnetcore/pull/354)
Have you generate the application with command jhipster --blueprints dotnetcore before run jhipster entity ?

[2021-03-31 01:07] MrWYG commented on #662
yes, I have run the command and its OK.

[2021-03-31 02:16] MrWYG commented on #662
When I click the (http://localhost:5000/)page  'sign in', it get a exception below.

2021-03-31 10:11:55.130 EROR 24172 --- [ 36] H.M.P.ProblemDetailsMiddleware           : An unhandled exception has occurred while executing the request.
System.InvalidOperationException: IDX20803: Unable to obtain configuration from: 'System.String'.
   at Microsoft.IdentityModel.Protocols.ConfigurationManager`1.G

[2021-03-31 02:28] MrWYG commented on #662
I test the JHipster version  6.10.5 and now the command 'jhipster entity <entity-name>' is OK, thank you very much for your help.

[2021-03-31 05:52] A-5ingh commented on #651
@nicolas63 Yes frontend code will definitely require change so that on login it will redirect to correct azure ad login page. It requires a library MSAL [Microsoft authentication library](https://developer.microsoft.com/en-us/identity/blogs/msal-js-2-0-supports-authorization-code-flow-is-now-generally-available/), which will perform the protection of routes and post login/logout redirects.

Sure,

[2021-03-31 06:55] nicolas63 commented on #662
no problem thanks for your feedbacks, the compatibility with v7 should arrive soon (this week I think)

[2021-03-31 06:55] #662 closed

[2021-04-01 16:21] #301 closed

[2021-04-01 16:33] nicolas63 commented on #301
bounty claimed https://opencollective.com/generator-jhipster/expenses/37491

[2021-04-02 08:13] A-5ingh commented on #388
@nicolas63 I have accomplished the below tasks so far:

- [x] Generated a sample app using dotnetcore blueprint.
- [x] Deployed locally using docker-compose and published an image of the same on a public docker repository. (Found an issue in docker-compose build command, will raise a separate issue for that)
- [x] Created terraform files (main.tf and variables.tf) which will create an App Service

[2021-04-02 15:25] nicolas63 commented on #388
Very nice ! Can you create a repo with this ? or create a zip ? After a look I could help you to put it in the generator

[2021-04-02 15:27] nicolas63 commented on #388
(Found an issue in docker-compose build command, will raise a separate issue for that) => i have see this problem it's fixed now but not released

[2021-04-02 16:44] A-5ingh commented on #388
Thank you @nicolas63. So the terraform scripts will work for an Azure SQL server, we will have to see how can we make it configurable for other databases which jhipster supports (like mysql, postgre and oracle). Also, let me know if the documentation has to be updated for the deployment in azure.

[2021-04-02 16:45] A-5ingh commented on #388
Oh is it. The issue I found was due to BuildTarget and was resolved by copying the file (Directory.Build.targets) in dockerfile just before restore command.

[2021-04-02 18:21] ivanmonteiro commented on #388
@A-5ingh I have not used Terraform yet but it is a very interesting approach. Please keep going and if you need some help don't hesitate to ask.

[2021-04-02 20:12] A-5ingh commented on #388
Thanks @ivanmonteiro. Yes, Terraform is a unique way of creating the resources on any of the clouds (either AWS or Azure).
@nicolas63 I have made the required changes for prompting the user and then generating the tf files required to create the resources and then deploy using docker image which the user has to build and push to either dockerhub or azure or any other docker service.
I have created

[2021-04-03 20:13] jeffward01 commented on #662
Thanks! I also would like this fix :)

[2021-04-05 17:55] nicolas63 commented on #388
Hi @A-5ingh, I have looked your changes all seem ok.
For the issue :
ClientApp/tsconfig.e2e.json doesn't exist error but app got generated and was able to run without any issue.
It's due to v7 migration i need to remove one replace but it's not a problem for the generation.

Unable to stop prettier plugin from auto formatting ejs file format.
I don't understand this, can you give me more detail ?

[2021-04-05 18:00] #435 closed

[2021-04-06 17:26] A-5ingh commented on #388
#672 PR created for azure. But I accidentally added the docs in main branch. So will update the PR again.

[2021-04-07 08:57] MasoudShah opened #673 "Filtering Entities"
##### JHipster in Spring has a feature like scaffolding but more flexible and usable. It filters entities for queries and accepts all the parameters of a model for get method in different manners like: equals, graterThan and other things.

##### This feature reduces the time of API development a lot. It would be great to have this feature in dotnet framework.

[2021-04-07 10:16] #388 closed

[2021-04-07 12:53] nicolas63 commented on #673
yes but this issue is duplicated i close this
https://github.com/jhipster/jhipster-dotnetcore/issues/360

[2021-04-07 12:53] #673 closed

[2021-05-04 20:49] ivanmonteiro opened #727 "Fix compile error with Pomelo.EntityFrameworkCore.MySql v5.0.0"
##### **Overview of the issue**

DatabaseStartup code needs changes to compile with the new version of the MySql provider. This is why the dependabot PR is failing for v5.0.0 of MySql provider - https://github.com/jhipster/jhipster-dotnetcore/pull/720.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s

[2021-05-04 21:23] #727 closed

[2021-05-13 20:15] ivanmonteiro opened #741 "Many-To-One relationship to User does not load users dropdown list on client"
##### **Overview of the issue**

The client (angular) is not loading users dropdown list when a relationship exists with User entity.
On the client-side the User dorpdown-list does not load any users.
Http GET request to `/api/users` returns not found (since there is no api endpoint on the backend side).
It seems that we do have the route `/api/admin/users` at https://github.com/jhipster/jhipster-

[2021-05-19 12:30] nicolas63 commented on #741
It's a bug on dotnet generator or the java genrator has the same behavior ?

[2021-05-20 02:03] ivanmonteiro commented on #741
It think is a bug on dotnet generator. I remeber that on java version and on the v2 of dotnet generator User relationship dropdownlist loads fine.
Just on v3 of dotnet generator it stopped working due to the api route change described above.

[2021-05-21 04:07] MrWYG opened #751 "bug: there display 'translation-not-found[*]' while displaying enumeration type"
jhipster version: 6.10.5.
use angular.

I use jdl to generate code as shown below:
[code]

after generated, the project +.Crosscutting has error in the Enum TestType as shown below:
[code]

and then I corrected all error, but the Enum type displayed not correct in the entity page as shown below:
translation-not-found[TestType.EXTERNALPERFORMANCE].

[2021-05-25 08:29] nicolas63 commented on #741
Oh ok, can you take this issue and modify the users route ?

[2021-06-01 10:44] MrWYG commented on #751
I find the reason is because the shared->model->enumerations has error in the enum type.

[2021-06-01 10:44] #751 closed

[2021-07-01 18:04] ivanmonteiro opened #786 "Pagination is not being generated"
##### **Overview of the issue**

When I import entitities by JDL no pagination is generated, even with `paginate * with pagination` set in the JDL.
I'm using the main version of jhipster.net with angular as the frontend.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create a file named `myapp.jdl` with the following contents:
[code]
and then run
`jhipster import-jdl myapp.j

[2021-07-03 04:41] gatity commented on #786
to generate pagination, I was forced to add "this.pagination='pagination';" in customizeDotnetPaths in utils.js file .
also when I add "dto * with mapstruct" it can't save one to many relationship in angular .

[2021-07-03 04:54] ivanmonteiro commented on #786
@gatity Could you create another issue for the one-to many relationship with more details?

[2021-07-03 10:44] gatity opened #787 "couldn't Save relationships with dto mapstruct"
##### **Overview of the issue**

When I import entities by JDL with  "dto * with mapstruct" set in the JDL,one to one and one to many relationships does not save in database,
I'm using the version 7.0.1 of jhipster.net with angular as the frontend.
I inserted a jdl file like below and I couldn't save none of the relations between region and country and also country and location( I use angular UI t

[2021-07-05 20:40] ivanmonteiro commented on #787
I think that with jhipster v7 the client sends the full entity relationships to the server... But the dto implementation has only the relationship id.
On the generated app I changed the dto relationship to use the other entity Dtos and It seems to work.

[2021-07-05 22:58] ivanmonteiro commented on #787
I'll try a PR this weekend

[2021-07-06 00:34] ivanmonteiro commented on #787
The relationships ids at the DTO are never being set.
Example:
[code]
SupplierId is never set. The client (angular) sends full relationship for related entity, not only the ID:
[code]

[2021-07-06 03:00] HammNCheez opened #793 ""Microfrontend is not defined" error when building with default options"
##### **Overview of the issue**

When creating a project with the default options I am getting an error saying "microfrontend is not defined", the error message points to a file `..node_modules\generator-jhipster\generators\client\templtes\angular\package.json.ejs:169`

![jhipster net-error](https://user-images.githubusercontent.com/6722607/124531734-bc7c4c80-ddd4-11eb-8064-07c2e392268b.png)

####

[2021-07-06 03:26] ivanmonteiro commented on #793
Are you using the main version of jhipster.net (cloning the repo) or the npm version by running `npm install -g generator-jhipster-dotnetcore`?

[2021-07-06 03:28] ivanmonteiro commented on #793
You might want to use v7,0,1 of the main jhipster generator with jhipster.net

[2021-07-06 12:31] b509 commented on #651
Hi,
were you able to make any progress on this? I am trying to do the same with Java Spring Security and Azure AD, but struggling.

[2021-07-07 17:54] HammNCheez commented on #793
Downgrading did the trick. thanks for the help.

[2021-07-07 17:54] #793 closed

[2021-07-09 07:07] nicolas63 opened #795 "Upgrade to JHipster 7.1"
##### **Overview of the feature request**

Upgrade to JHipster 7.1

##### **Related issues or PR**

#793

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2021-07-09 07:08] nicolas63 commented on #786
@ivanmonteiro @gatity thanks for your help i look this soon

[2021-07-09 07:09] nicolas63 commented on #651
@b509 sorry any progress on this issue but if you have the time to provide me an example I can help you to integrate the example in the generator

[2021-07-09 07:11] nicolas63 commented on #651
@b509 if you need only spring security i think you need to create an issue here https://github.com/jhipster/generator-jhipster

[2021-07-09 12:30] #605 closed

[2021-07-09 19:06] ivanmonteiro commented on #795
Maybe after upgrading to jhipster 7.1.0 we finally merge the dependencies branch too?

[2021-07-09 19:10] nicolas63 commented on #795
Yes exactly

[2021-07-16 14:57] Zenrac opened #803 "Handle users/accounts with Mongo"
##### **Overview of the feature request**

After MongoDB support being added with #717, which allows to handle entities with MongoDB, the main missing feature is to handle Claims/Users/Accounts with Mongo. This could be done with [AspNetCore.Identity.Mongo](https://github.com/matteofabbri/AspNetCore.Identity.Mongo).

##### **Motivation for or Use Case**

This feature would allow to generate applic

[2021-07-16 15:02] Zenrac opened #804 "Mongo Pagination doesn't work with Infinite Scroll"
##### **Overview of the issue**

When creating entities with infinite scroll on a Mongo application, there's an error with the headers and the request fails.

##### **Reproduce the error**

Create an entity and select "infinite-scroll" for the pagination.

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2021-07-23 12:10] nicolas63 commented on #787
@ivanmonteiro where are you on this issue  ?

[2021-07-27 20:37] mohamedsogoba opened #817 "microfrontend is not defined ?"
when i try to generate a new project i have this error at the end i don't understand?
Please you can help me?
Unhandled promise rejection at:
ReferenceError: C:\Users\ME\AppData\Roaming\npm\node_modules\generator-jhipster\generators\client\templates\angular\package.json.ejs:169
    167| <%_ } _%>
    168|     "jest": "jest --coverage --logHeapUsage --maxWorkers=2 --config jest.conf.js",

    170|

[2021-07-28 09:25] kamyarizadi opened #818 "Creation of a new project fails"
After answering all question I have the following error during creation of new project:
Unhandled promise rejection at:
ReferenceError: C:\Users\izadiadmin\AppData\Roaming\npm\node_modules\generator-jhipster\generators\client\templates\angu
lar\package.json.ejs:169
    167| <%_ } _%>
    168|     "jest": "jest --coverage --logHeapUsage --maxWorkers=2 --config jest.conf.js",

    170|     "start-tl

[2021-07-28 09:27] kamyarizadi opened #819 "Jhipster.net core new project creation faild"
After answering all question I have the following error during creation of new project:
Unhandled promise rejection at:
ReferenceError: C:\Users\izadiadmin\AppData\Roaming\npm\node_modules\generator-jhipster\generators\client\templates\angu
lar\package.json.ejs:169
167| <%_ } _%>
168| "jest": "jest --coverage --logHeapUsage --maxWorkers=2 --config jest.conf.js",

        169| "start": "ng serve<%

[2021-07-28 09:46] nicolas63 commented on #819
Yes, it's because the generator do not support jhipster v7.1 (deplicate issue :https://github.com/jhipster/jhipster-dotnetcore/issues/793)
I have added the support and i will release it soon https://github.com/jhipster/jhipster-dotnetcore/pull/798

[2021-07-28 09:46] #819 closed

[2021-07-28 09:47] nicolas63 commented on #817
Yes, it's because the generator do not support jhipster v7.1 (deplicate issue :https://github.com/jhipster/jhipster-dotnetcore/issues/793)
I have added the support and i will release it soon https://github.com/jhipster/jhipster-dotnetcore/pull/798

[2021-07-28 09:47] #817 closed

[2021-07-28 09:47] nicolas63 commented on #818
duplicate https://github.com/jhipster/jhipster-dotnetcore/issues/819

[2021-07-28 09:47] #818 closed

[2021-07-28 13:46] sergrdz opened #821 "Unexpected behavior when updating entities with the command "jhipster import-jdl app.jh""
##### **Overview of the issue**
When the command is executed, all the entities are updated and not only the one with changes.

##### **Reproduce the error**

1. Create a microservice type application
2. Import a file with the command "jhipster import-jdl app.jh"
3. Make a change to an entity
4. Import again with the command "jhipster import-jdl app.jh"

##### **Suggest a Fix**
The database type is

[2021-07-28 16:42] ivanmonteiro commented on #821
Is the import-jdl behaviour different from the (java) jhipster?

Here is a quick snippet that I use as a work-around when I want to import only one entity by jdl:
[code]

About databaseType: I think this generator uses databaseType and ignores the others (prodDatabaseType and devDatabaseType)  If I'm not mistaken.

[2021-07-28 17:41] sergrdz commented on #821
I have a productive gateway with the Jhipster v6.10.1 version and only the affected entity is updated, I'm not sure if the behavior is maintained in the latest version.

It is correct that prodDatabaseType and devDatabaseType are ignored. I think if it is not used as in the base generator there may be incorrect behaviors, as in the case of pagination it is always set as NO_PAGINATION. And the file

[2021-07-28 19:57] nicolas63 commented on #795
fix by https://github.com/jhipster/jhipster-dotnetcore/pull/798

[2021-07-28 19:57] #795 closed

[2021-07-28 20:10] nicolas63 commented on #821
@sergrdz thanks for your feedback you are right this code
[code]
introduce a bug i need to investigate to resolve it. In the meantime i think the command line  suggested by @ivanmonteiro  can help you

[2021-07-28 20:44] nicolas63 commented on #819
it's released 👍

[2021-07-28 20:44] nicolas63 commented on #817
it's released 👍

[2021-07-28 20:45] nicolas63 commented on #793
it's released 👍

[2021-07-30 10:08] nicolas63 opened #823 "Blazor and mongo didn't work"
##### **Overview of the issue**

when we create an entity with blazor app the entity is not create

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

we need to use primary key type rather than long here https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/entity-client/templates/blazor/src/Project.Client/Models/

[2021-08-10 23:33] xbotuk opened #840 "git repo not created for dotnetcore blueprint"
##### **Overview of the issue**

Unlike Java blueprint, for dotnetcore git repo is not automatically created for the generated codebase. Can you create a git repo at the root with the files that should be version controlled.

##### **Motivation for or Use Case**

Source control aspects are missing.

##### **Reproduce the error**

create a project by following: jhipster --blueprints dotnetcore

the

[2021-08-11 16:24] ivanmonteiro opened #843 "Required enum field causes compilation errors"
##### **Overview of the issue**

At the generated project's EntityControllerIntTest.cs the enum field is assigned to null:
[code]

Since enumeration fields are not nullable by default, this causes a compilation error. Also, setting it to 0 would defeat the purpose of the requiredness check of the test, since 0 will be transformed to a valid enumeration.

##### **Motivation for or Use Case**

#####

[2021-08-14 15:15] xbotuk opened #845 "liquibase style database codebase generation"
Please add liquibase style database codebase generation for .Net core

[2021-08-16 15:55] ivanmonteiro commented on #845
This is a duplicate of https://github.com/jhipster/jhipster-dotnetcore/issues/98,
It would be nice to have the generator handle migrations in some way but its been a while since the issue #98 is open

It is possible to use entity framewok to generate database migrations: https://jhipsternet.readthedocs.io/en/latest/Features/database-migrations.html
Check the documentation above :)
It is a manual p

[2021-08-21 10:55] galkzaz opened #849 "How can i create microservices"
how can i create microservices and run it,I'm confused between jhipster --blueprints dotnetcore and jhipster import-jdl app.jdl which one shall I used
If I used  jhipster --blueprints dotnetcore it will create root foder baseName
If I used jhipster import-jdl app.jdl I faces many issues like
namespace created like namespace .Configuration
package name not used
how do i run the whole solution as in

[2021-08-21 11:08] xbotuk commented on #98
It would be good if Liquibase was used for deploying DB schema and also for unit-testing.
Even if not at runtime, but at deployment time will be useful.

[2021-08-22 08:35] galkzaz commented on #849
I think the generator is not working with microservices and there is no docs or tutorial or example for this
I tried it my self but many problems and errors
I used Jhipster microservices with Java and its easy and well structured

[2021-08-24 10:07] galkzaz opened #852 "Namespace not used when generating microservice"
##### **Overview of the issue**

When generating microservice app ,namespace is not used in generated classes
the generated one is

`
using .Infrastructure.Configuration;
`
`
namespace .Configuration
`

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

JHipster.NET :v3.1.1
jhipsterVersion: 7.1.0

#

[2021-08-24 10:12] galkzaz opened #853 "MSSQL does not work in databaseType"
##### **Overview of the issue**

When importing a JDL with a databaseType set to mssql we get a:

`
ERROR! Error during import-jdl: Unknown value 'mssql' for option 'databaseType'.
`

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

JHipster.NET :v3.1.1
jhipsterVersion: 7.1.0

##### **JHipster con

[2021-08-30 07:32] nicolas63 commented on #853
thanks for your feedback i work on it soon or if you want you can help me to resolve it

[2021-08-30 07:34] nicolas63 commented on #849
can you try to create the microservice with cli rather than jdl ?

[2021-08-30 15:58] galkzaz commented on #849
what do u mean by cli

[2021-09-03 08:33] nicolas63 commented on #849
oh yes sorry cli is not clear, if you create the microservice without jdl ( run jhipster --blueprint dotnetcore  and choose microservice) you have now one microservice, you can create a second microservice and next create a gateway. The gateway ask path of the microservcice and map route with ocelot and use consul as service discovery

[2021-10-02 19:01] elalejmartin opened #861 "ERROR! Template file .npmrc was not found"
I have the following problem when generating a project with angular on my windows 10.
If I generate it with vue or react it works fine.
Does anyone know what can happen ?
![image](https://user-images.githubusercontent.com/4900699/135728857-0115ac22-5dc6-4550-88b0-1859a209b9ac.png)

[2021-10-02 19:12] nicolas63 commented on #861
I think is due to your jhipster version can you try with jhipster 7.1.0 ?
I will create an issue to upgrade jhipster version compatibility to 7.2.0

[2021-10-10 12:08] nicolas63 opened #864 "Update to JHIPSTER 7.3"
##### **Overview of the feature request**

https://www.jhipster.tech/2021/10/08/jhipster-release-7.3.0.html

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2021-10-17 16:12] damiangonzalez commented on #861
I am seeing the same issue

[code]

[2021-10-17 17:03] nicolas63 commented on #861
Yes, this error is due to an incompatibility with 7.2 and 7.3 of jhipster generator the pr is in progress #865. I don't have much time at the moment but if you want to help me you are welcome

[2021-10-19 23:02] damiangonzalez commented on #861
Thank you Nicolas for responding! I will be sure to let you know if I get enough spare time to contribute here, but unfortunately at the moment I am very pressed for time between demands at work with the family. 
   I did notice something else with my generated application however, I noticed that the docker file showed here is not part of what was generated on my machine
https://github.com/jhipste

[2021-10-20 19:47] damiangonzalez commented on #861
Thank you for the feedback, yes that's exactly what I ended up doing. This command worked very well for me:
[code]
It was covered in the documentation I found here
https://jhipsternet.readthedocs.io/_/downloads/en/latest/pdf/

[2021-11-01 23:37] MrWYG opened #876 "when I use command jhipster --blueprints dotnetcore get error Unhandled promise rejection at:"
##### **Overview of the issue**
Unhandled promise rejection at:
ReferenceError: C:\Users\15383\AppData\Roaming\npm\node_modules\generator-jhipster\generators\client\templates\react\package.json.ejs:22
20| "name": "<%= dasherizedBaseName %>",
21| "version": "0.0.1-SNAPSHOT",

22| "description": "<%= projectDescription %>",
23| "private": true,
24| "license": "UNLICENSED",
25| "cacheDirectories": [

[2021-11-02 09:34] nicolas63 commented on #876
@MrWYG, sorry but with the same configuration i not have this error, can you give me your .yo-rc.json (this file is in root folder)

[2021-11-02 11:36] MrWYG commented on #876
1. the filepath I found:
AppData\Roaming\npm\node_modules\generator-jhipster-dotnetcore\node_modules\jhipster-core\test\test_files\jhipster_app
2. the content:
{
  "generator-jhipster": {
    "jhipsterVersion": "3.7.1",
    "baseName": "standard",
    "packageName": "com.mycompany.myapp",
    "packageFolder": "com/mycompany/myapp",
    "serverPort": "8080",
    "authenticationType": "session",

[2021-11-02 11:53] nicolas63 commented on #876
There is no .yo-rc in the folder where you generate the application ?

[2021-11-02 12:02] MrWYG commented on #876
I think that is Self-contained.
below is the detail when I install generator-jhipster-dotnetcore:
npm install -g generator-jhipster-dotnetcore
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated querystring@0.2.0: The querystring API is considered Legacy. new code should use the URLSearchParams API instead.
npm WARN deprecated uuid@3.4.0: Please upgrade

[2021-11-02 12:07] MrWYG commented on #876
I didn't generate any application because when I generate an application there is error catched.

[2021-11-02 12:54] nicolas63 commented on #876
do you have the possibility to reproduce on another computer ? Sorry but i can't reproduce

[2021-11-02 13:22] MrWYG commented on #876
Could you provide me what version you have installed about Node.js and OpenJKD/Java JDK?

[2021-11-02 13:31] nicolas63 commented on #876
you don't need jdk and for npm i have 8.1.2 and node 16.13.0 like you

[2021-11-02 14:16] nicolas63 commented on #876
In wich folder do you run jhipster --blueprints dotnetcore ?

[2021-11-02 23:34] MrWYG commented on #876
I tried driver C and E, both not work .

[2021-11-03 13:35] MrWYG commented on #876
I'm having the same problem with another computer.
I want to make sure my steps are correct as shown below:
1. Install Node.js;
2. execute command: npm install -g generator-jhipster
3. execute command: npm install -g generator-jhipster-dotnetcore
4. call the generator: jhipster --blueprints dotnetcore
Am I right?

[2021-11-03 14:58] nicolas63 commented on #876
yes exactly just you need to use generator-jhipster version 7.1

[2021-11-04 00:20] MrWYG commented on #876
Thank you very much for you help, it works.

[2021-11-04 00:20] #876 closed

[2021-11-04 07:16] nicolas63 commented on #876
@MrWYG what is resolution ? Just jhipster version ?

[2021-11-04 07:34] MrWYG commented on #876
Yes, use generator-jhipster version 7.1.0 is OK.

[2021-11-23 08:24] Brouilles commented on #876
Same problem here. Confirm use generator-jhipster version 7.1.0  is the solution! Thanks.

[2021-11-26 15:14] elalejmartin opened #892 "When I make a modification to the page, it does not update hot"
When I make a modification to the page, it does not update hot, I have to stop the execution and raise it again. How can I get the changes to be hot?

[2021-11-26 15:41] ivanmonteiro commented on #892
If you run `dotnet watch` command it will probably work, but take a long time since it will recompile the backend and the frontend every time a file changes.

If you're willing to split the project into backend-only and frontend-only it works better for your use case since reloading will be much faster. See: https://www.jhipster.tech/separating-front-end-and-api/

You will need to run two commands

[2022-01-28 13:15] cvillami opened #918 "Failed generator – JHipster.NET v3.1.1"
##### **Overview of the issue**

The generator does not start, and generates an error that I really cannot understand, much less solve. I have already removed the installation and reinstalled it and it still doesn't work.

##### **Motivation for or Use Case**

Generate an application of the type -> Monolithic application

##### **Reproduce the error**
[Error img](https://drive.google.com/file/d/17

[2022-01-28 19:43] cvillami commented on #918
But now I have this error ->

Error: Template file webpack/environment.js was not found at /Volumes/CWork/0--Original/jhipster/middle-santander/jhipster-dotnetcore-3.1.1/generators/client/templates/angular,/usr/local/lib/node_modules/generator-jhipster/generators/client/templates/angular
    at /Volumes/CWork/0--Original/jhipster/middle-santander/jhipster-dotnetcore-3.1.1/node_modules/generator-jh

[2022-01-28 20:24] cvillami commented on #918
The only release that does not give the above error is 3.0.0

/usr/local/lib
├─┬ generator-jhipster-dotnetcore@3.0.0
│ └── generator-jhipster@7.0.1
└── generator-jhipster@7.0.1

[2022-02-05 07:24] nicolas63 commented on #918
Oh yes, that's because 3.0 is compatible with 7.0 and 3.1 with 7.1. Sorry, we really need a compatibility matrix. If you want contribute maybe you can add it ?

[2022-02-07 18:37] 123445666 commented on #918
I fixed the angular issue with jhipster 7.6 on my forked branch, it works well for me, you can use it for save your time if you want.
https://github.com/123445666/jhipster-dotnetcore/tree/issue-918

[2022-02-07 20:30] nicolas63 commented on #918
Very Nice @123445666 ! Can you create a PR ?

[2022-02-08 14:38] 123445666 commented on #918
Sure, i've just done it.

[2022-02-12 22:25] xbotuk opened #924 "net6.0 support"
Please upgrade this to support .Net 6
Thanks

[2022-02-13 21:54] #864 closed

[2022-02-13 21:55] nicolas63 opened #925 "Update to latest jhipster version (7.6)"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-02-13 22:20] #925 closed

[2022-02-16 18:55] ivanmonteiro commented on #924
I'm working on the upgrade to dotnet 6 and will provide a PR soon

[2022-02-16 19:13] nicolas63 commented on #924
Very nice @ivanmonteiro

[2022-02-17 08:59] 123445666 opened #929 "Showing the error when using generator tool (jhipster 7.6)"
##### **Overview of the issue**
Issue 1: When generating angular app
Unable to find src/JhipsterSampleApplication/ClientApp/.eslintrc.js or missing required pattern. File rewrite failed.

Issue 2: When generating react app
Unable to find src/JhipsterSampleApplication/ClientApp/tsconfig.spec.json or missing required pattern. File rewrite failed.
Unable to find src/JhipsterSampleApplication/ClientAp

[2022-02-17 09:02] 123445666 commented on #929
For the issue 3: i found that in jhipster's project, eslint doesn't include the cypress folder currently  so i will add it to ignore.

[2022-02-18 12:53] #929 closed

[2022-02-22 20:10] ivanmonteiro opened #936 "Upgrade to Entity Framework Core 6"
##### **Overview of the feature request**

Upgrade this project to use the latest version of Entity Framework 6 ORM (it uses version 5 now).
This should be done after upgrade to dotnet 6 #924

Make sure that integration tests are passing for the databases:

- [x] MSSQL
- [x] Oracle
- [ ] Postgres
- [x] Mysql
- [ ] Mongodb

##### **Motivation for or Use Case**

Entity Framework 6 is the latest vers

[2022-02-22 21:53] ivanmonteiro opened #937 "Fix dotnet format integration tests"
##### **Overview of the issue**

After the upgrade to dotnet 6, the `dotnet format` tool is not working.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Run `dotnet format --verify-no-changes`
Error:
[code]

##### **Related issues**

https://github.com/dotnet/format/issues/1519

##### **Suggest a Fix**

Waiting for a fix to un-comment lines on file https://github.com/jhipster

[2022-02-23 17:22] #924 closed

[2022-03-08 14:46] nicolas63 commented on #918
Jhipster dotnet 3.2 is released and support jhipster 7.6

[2022-03-08 14:46] #918 closed

[2022-03-28 10:27] 123445666 opened #947 "Update to latest jhipster version (7.7)"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-03-29 05:18] #947 closed

[2022-04-02 16:26] #936 closed

[2022-04-05 11:28] 123445666 opened #960 "Update to latest jhipster version (7.8) and fix some issue with Reactjs"
1. Upgrade jhipster version to 7.8
2. Fix React issue (using jwt-with-react-app/.yo-rc.json)
- Cannot create new user because LangKey is empty but not null.
- Cannot create new user because userDto.Id is empty but not null.

##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show y

[2022-04-05 14:19] #960 closed

[2022-04-05 17:03] ivanmonteiro commented on #845
I closed this issue in favor of Issue #98

[2022-04-05 17:03] #845 closed

[2022-04-13 09:12] nicolas63 commented on #937
seem work with last version => https://github.com/dotnet/format/issues/1519#issuecomment-1097617862

[2022-04-13 09:13] #892 closed

[2022-04-13 09:14] #861 closed

[2022-04-13 15:44] ivanmonteiro commented on #937
I'm testing it right now and I'll provide a PR if it works :)

[2022-04-13 19:09] 123445666 opened #976 "Issue related many-to-many relationship"
Hi @nicolas63 ,

##### **Overview of the issue**

When working with Dao issue, i found a bug related many-to-many relationship with ef.

##### **Motivation for or Use Case**
Create or edit a Job History and Save.
It shows : 'UNIQUE constraint failed: JobChores.ChoresId, JobChores.JobsId'."

##### **Reproduce the error**

I used the app.jdl in the test folder but commented the dto line.

##### **Re

[2022-04-13 19:18] nicolas63 commented on #976
Yes i think is good, @ivanmonteiro are you also agree ?
@123445666 What do you pass in parameter entitiesToBeUpdated ?

[2022-04-13 19:22] ivanmonteiro opened #977 "Fix compilation Warnings"
##### **Overview of the issue**

I noticed that after the dotnet 6 upgrade we have many more warnings during _dotnet build_.

Some **await/async warnings** (many are specific to the **blazor** client):
[code]

There also other warnings, take a look at our actions logs.

@nicolas63 could you take a look at the blazor warnings?

##### **Motivation for or Use Case**

##### **Reproduce the error**

Us

[2022-04-13 19:24] nicolas63 commented on #977
Yes i can look this

[2022-04-13 20:04] 123445666 commented on #976
@nicolas63 With the new AddOrUpdateGraph, it'll only update the root Entity (without the child) except "many-to-many relation"

If there are "many-to-many", it'll pass the name of child entity like this
`List<string> entitiesToBeUpdated = new List<string> { "PieceOfWork" };
return await base.CreateOrUpdateAsync(job, entitiesToBeUpdated);`

* It will also avoid the risk of unexpected child data upd

[2022-04-13 21:57] nicolas63 commented on #976
Maybe it's better to pass a type like
List<Type> { typeof(PieceOfWork) };
return await base.CreateOrUpdateAsync(job, entitiesToBeUpdated);

Are you ok with this ?

[2022-04-14 11:36] 123445666 commented on #976
It's ok, i'll do it that way.

[2022-04-15 15:08] ivanmonteiro commented on #976
I agree, for the moment we can try @123445666's approach.

[2022-04-17 22:24] kennethlong opened #980 "Pagination Issue"
##### **Overview of the issue**

I created a new application using the latest versions of jhipster and jhipster-dotnetcore.  When I pull up the swagger page and try to do a get on an object, swagger returns an error:  TypeError: Failed to execute 'fetch' on 'Window': Request with GET/HEAD method cannot have body.

So apparently Swagger doesn't support the parameters coming from the body.  So I add

[2022-04-18 13:57] nicolas63 commented on #980
The parameter IPageable is already passed in the query and we extract with https://github.com/jhipster/jhipster-net/blob/main/src/JHipsterNet.Web/Pagination/Extensions/QueryStringExtensions.cs

This class convert simple param to https://github.com/jhipster/jhipster-net/blob/main/src/JHipsterNet.Core/Pagination/IPageable.cs

I need more invesgation to undestand the bug.

[2022-04-18 19:19] kennethlong commented on #980
Let me know if you need me to do anything on my side.  My workaround has me working for now.

[2022-04-19 03:30] #937 closed

[2022-04-21 14:38] kennethlong commented on #980
This appears to be a Swagger issue.  Did the Swagger ever work for the paginated GET calls?  I am looking for a solution and I will share my findings here.

[2022-04-21 20:34] nicolas63 commented on #980
I'm not really sure but i think yes

[2022-04-22 09:30] enzo-ae commented on #803
Saw it a little too late, used a different library

#981

[2022-04-23 07:45] #976 closed

[2022-04-23 20:09] nicolas63 commented on #803
no worry, the other library is also good

[2022-04-23 22:03] nicolas63 commented on #980
can you try this :

in SwaggerStartup.cs
[code]

and add this class
[code]
I wrote this quickly but it seems to work well, it can probably be improved

[2022-04-23 22:04] nicolas63 commented on #980
if it's work for you, maybe you can provide an pull request ?

[2022-04-24 10:37] nicolas63 commented on #787
this issue is due to https://github.com/jhipster/generator-jhipster/issues/12707

[2022-04-24 21:05] kennethlong commented on #980
Yes this works, thank you!  I was working on a similar approach, but having trouble getting "sort" parameter working in Swagger.  I am trying to add sort parameter to PageableModelFilter.

 I will keep digging and see if I can figure it out.  I will do a pull request when I get this sort part figured out.

[2022-04-24 21:25] nicolas63 commented on #980
You can get sort parameter name here : https://github.com/jhipster/jhipster-net/blob/main/src/JHipsterNet.Core/Pagination/Extensions/PageableBinderConfig.cs

[2022-04-24 22:49] kennethlong commented on #980
Yes, I found that.

I think the issue is that all the OpenApi stuff tries to map it as "code=value", and we are using a comma separated list.  I couldn't find any examples that take a set of properties and convert them to a comma separated list of values, so I just went with:

`
            operation.Parameters.Add(new OpenApiParameter
            {
                Name = "sort",
                I

[2022-04-25 12:37] nicolas63 commented on #980
yes i think is better

i think it's simplier to do this when the root app is generated

[2022-04-25 12:38] nicolas63 commented on #980
and especially thanks to you to have detected this bug and to help me to correct it !

[2022-04-25 17:02] ivanmonteiro commented on #787
Sorry for the long time to reply.

I was able to reproduce the issue but I did not work on it.

The solution seems straightforward:

Make dto relationships full objects like:

Example:

[code]

Some work will also be needed for the blazor client to adapt to those changes.

[2022-04-25 23:01] kennethlong commented on #980
@nicolas63 You want me to put in the JHipsterNet.Core Boot directory or Pagination directory?  Since startup, Boot kinda fits.  We could create a new directory?  Let me knwo what you prefer.

[2022-04-25 23:19] kennethlong commented on #980
Also, do you prefer I create a new branch or merge to master in my forked copy?

[2022-04-25 23:26] kennethlong commented on #980
One more question, do you want me to update the package versions and dotnet version while I'm in there?

[2022-04-26 06:54] nicolas63 commented on #980
i think the right place is a new folder in https://github.com/jhipster/jhipster-net/tree/main/src/JHipsterNet.Web/Pagination

[2022-04-26 06:55] nicolas63 commented on #980
as you like as long as it is on your fork 😄

[2022-04-26 07:02] nicolas63 commented on #980
yes you can, but are you sure for automapper syntax ? we only use automapper here https://github.com/jhipster/jhipster-net/blob/930dfba8ed354bbd514c601b12642620a119ae22/src/JHipsterNet.Core/Pagination/Extensions/QueryableExtensions.cs#L19

[2022-04-28 00:08] kennethlong commented on #980
@nicolas63 You were right about AutoMapper version - it was on 8.x which is after they made the breaking changes.

All the version strings on the projects are 1.0.0.0 and the package version is 1.0.0 so I assume you are setting that version with a script or something or maybe I am missing something ;-)

I'm testing the library changes right now and should have a PR for it very soon.  Then we can b

[2022-04-28 02:20] kennethlong commented on #980
@nicolas63 Ok, library PR created.

I will create the PR for jhipster-dotnetcore after this is merged!

[2022-04-28 22:07] kennethlong commented on #980
@nicolas63 I'm going to change Directory.Build.targets versions on packages to match those that are in the library.  Should I update all the versions, including those not in the library to latest stable and 6.0 compatible?

[2022-04-29 00:07] kennethlong commented on #980
While testing locally, I realized I cut and pasted some code and didn't add IOperationFilter to PageableModelFilter.  I created another pull request, do I need to bump the nuget versions?

[2022-04-29 05:24] nicolas63 commented on #980
Yes, we need an other pull request with nuget versions updated

[2022-04-29 13:11] kennethlong commented on #980
Create PR for library with bumped versions.

[2022-04-29 22:34] kennethlong commented on #980
@nicolas63 Testing... If I don't upgrade the packages in the template to the new versions that match the updated versions in the library, I get "Detected package downgrade" errors.

![image](https://user-images.githubusercontent.com/42559150/166076934-97ea18ea-fbfc-4cbd-b6c3-48309d931dc9.png)

[2022-05-01 01:31] kennethlong commented on #980
@nicolas63 Ah, I see that dependabot has been creating pull requests to update package versions, so I can't update those without creating a merge conflict.

So should I create a PR with just the swagger changes and jhipster-net library dependencies?

[2022-05-01 19:08] kennethlong commented on #980
I created a pull request that includes the following:
1. Update to new Jhipster-Net library version
2. Update packages in Directory.Build.Targets to eliminate package downgrade errors
3. Add code to SwaggerStartup to add Pagination Filter
4. Fixes Blazor compilation errors
Let me know if I need to change anything.

[2022-05-09 00:02] #980 closed

[2022-05-16 22:05] 123445666 opened #1033 "Blazor Issue Jhipster-dotnetcore 3.5"
I have an issue with generated project Blazor with jhipster-dotnetcore newest version.
Does anyone have the same or only me ?

##### **Overview of the issue**

Cannot run with Blazor. Stuck at loading page.
Console showing this error:
blazor.webassembly.js:1 crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
![Screenshot_1](https://user-images.githubusercontent.co

[2022-05-16 22:25] 123445666 opened #1034 "Blazor generated project - User Manager doesn't show - jhipster-dotnetcore 3.4"
##### **Overview of the issue**
![Screenshot_2](https://user-images.githubusercontent.com/4284170/168691151-ae824c77-d2d0-429e-8166-8b43e3b3fcb2.jpg)
Something wrong with /api/users but it's still ok with angular.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Jhipster-dotnetcore 3.4
jhipster 7.8.1
File used: : sample\ jwt-with-blazor-app\ .yo-rc.json

##### **Related issues

[2022-05-17 12:10] 123445666 commented on #1033
I think should change
builder.Services.AddSingleton<AuthenticationStateProvider, AuthenticationService>();
to
builder.Services.AddScoped<AuthenticationStateProvider, AuthenticationService>();

[2022-05-17 20:54] nicolas63 commented on #1033
oh yes i think it's good solution can you try it ? i think it's due to version update during 3.5

[2022-05-17 21:02] nicolas63 commented on #1034
this error appear with 3.5 ? if not maybe it's due to https://github.com/jhipster/jhipster-dotnetcore/commit/188f2f4bef969e012beeb9cb0b1537211f8f5869#diff-16ba46caac0a82e2047039a413e7b09bb2f5ccd78c0eb3fba6eecc4293e97519
In v7 migration the users url has changed

[2022-05-19 09:19] duymap opened #1036 "Mail SMTP integration"
##### **Overview of the feature request**

So far the generator generates MailService.cs but there is no implementation for sending the email function, it would be great if we can have that in place by default. This is a great feature when generating code using jhispter in java.

##### **Motivation for or Use Case**

Sending emails is a very common feature and always needs for any project. So if h

[2022-05-19 16:19] 123445666 commented on #1034
I've just submit a pull request for these issues. Please review it when you have time. Thank you 😁

[2022-05-21 10:11] #1033 closed

[2022-05-21 10:11] #1034 closed

[2022-05-22 10:29] #977 closed

[2022-05-22 10:31] nicolas63 commented on #1036
this issue is a part of https://github.com/jhipster/jhipster-dotnetcore/issues/16
@duymap can you help us to realize this feature ?

[2022-05-22 10:58] duymap commented on #1036
Sure.

[2022-05-22 11:00] duymap commented on #16
Sending emails is a very common feature and is always needs for any project. So if having it in place, would be a big help for developers. E.g we can have mail sending code function implementation in MailService.cs, it reads config from JSON setting file, and developers replace their STMP information. This has been mentioned in this issue https://github.com/jhipster/jhipster-dotnetcore/issues/1036

[2022-05-29 18:36] 123445666 opened #1043 "Something wrong after generated with jdl (Can't generate the custom name of relationships One-One)"
Hi,
I'm using Jhipster for my project but it has something wrong with the generated project.

**The entity:**
![image](https://user-images.githubusercontent.com/4284170/170885341-589d9f4a-1744-4f11-a86f-c0cb89bdadea.png)
**And the generated Entity  :**
![image](https://user-images.githubusercontent.com/4284170/170885372-200de3f4-aed1-4789-b8b6-88861e68b406.png)

**Expected Result:**
![image](https

[2022-06-01 09:25] nicolas63 commented on #1043
Can you check the behavior of the jhipster (java) generator ?

[2022-06-01 10:50] 123445666 commented on #1043
Yes, I've checked with java version. They generate only the Objects.
![image](https://user-images.githubusercontent.com/4284170/171387903-22e05582-9ea7-4210-9c8d-ac8b74289de6.png)

[2022-06-03 13:37] 123445666 opened #1047 "JDL Blob support"
##### **Overview of the feature request**
We can't generate Blob to upload file for now like jhipster Jjava version.
Mark here to do.

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2022-06-09 16:36] enzo-ae opened #1053 "LoggerNameEnricher with generics"
##### **Overview of the feature request**

When the LoggerNameEnricher gets a generic type as context, it produces some pretty unreadable text - something like A.B.C.D.E.F.0.0.0, Culture=neutral, PublicKeyToken=null]]

I'd like to have something better readable

##### **Motivation for or Use Case**

I use generic classes that produce logs

##### **Possible improvement**

[code]

##### **Related is

[2022-06-16 13:22] nicolas63 commented on #1053
i understand if your solution is better you can create a PR here => https://github.com/jhipster/jhipster-net/blob/930dfba8ed354bbd514c601b12642620a119ae22/src/JHipsterNet.Web/Logging/LoggerNameEnricher.cs

[2022-06-17 00:54] kennethlong commented on #397
Does the Java template generate these test?  I was going to peek at the implementation if it does.

[2022-06-17 18:32] ivanmonteiro commented on #1036
@duymap If you need any help don't be afraid to ask

[2022-06-17 18:47] ivanmonteiro commented on #16
@duymap Yes, It is a very common feature.

I has been a long time since I did the coment above. There are libraries that do exactly what I described such as [FluentEmail](https://github.com/lukencode/FluentEmail). But even a very simple email sending solution like SmtpClient should be enough.

By the way, seems that Microsoft docs do not recommend using SmtpClient in new development due to the lac

[2022-06-21 01:19] duychungxenera commented on #16
Yes, I'm willing to do it. So to contribute it, want to know process how to contribute this repo ? Create branch and do PR against here or need to create new fork and PR ?

[2022-06-21 01:42] ivanmonteiro commented on #16
Here is the MailService class:
https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/server/templates/dotnetcore/src/Project.Domain.Services/MailService.cs.ejs

And smtp credentials/configuration shoud be added here:
https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/server/templates/dotnetcore/src/Project.Infrastructure/Configuration/SecuritySettings.cs.ejs

This

[2022-06-21 01:55] ivanmonteiro commented on #397
Last time I checked the main Jhipster generator didn't generate tests for relationships.
Currently the tests only check if relationship is required.

The idea would be to create unit tests that:
- creates the main entity
- also creates the dependant entities
- saves the entity graph to the database
- verifies that all entities were created/updated
- also deletes dependant entities and checks if it

[2022-06-21 13:27] moodsharkh commented on #849
Hello I created a microservice and run Consul as a docker container and I can see the microservice on Consul. However,
when I use "run jhipster --blueprint dotnetcore" and choose Microservice gateway there is no question about adding any microservice. am I missing something ?
If there is a sample Ocelot.json route entry that I can add.
I am using : JHipster.NET v3.6.0

![Screenshot 2022-06-21 1615

[2022-06-21 13:35] moodsharkh commented on #849
My bad, it appeared when generating the entity on the API gateway

[2022-07-11 12:00] pasikokko opened #1069 "Blazor Model and ModelUpdate.razor.cs generators handle User entity differently"
https://github.com/jhipster/jhipster-dotnetcore/blob/5844d760d11d8f91d5c27def5942fa3aa25811ac/generators/entity-client/templates/blazor/src/Project.Client/Models/Model.cs.ejs#L67

Model has UserId, but ModelUpdate.razor.cs will get relationshipName. Generated code is not compiling.

[code]

[2022-07-11 13:09] pasikokko opened #1070 "DTO with relationship to User generates UserId as `long?`"
https://github.com/jhipster/jhipster-dotnetcore/blob/5844d760d11d8f91d5c27def5942fa3aa25811ac/generators/entity-server/templates/dotnetcore/src/Project.Dto/Dto.cs.ejs#L60

I have an entity with one to one relation to User, to extend properties of a User. Generated DTO has UserID of type `long?`, which should be `string`. There will be runtime error, compiler doesn't warn about this mapping error.

[2022-07-16 11:44] nicolas63 commented on #1069
Hello, sorry for the delay, i think the generation of user relationship is not implemented in blazor

[2022-07-16 11:46] nicolas63 commented on #1070
oh yes i think we need to add something like this https://github.com/jhipster/jhipster-dotnetcore/blob/5844d760d11d8f91d5c27def5942fa3aa25811ac/generators/entity-server/templates/dotnetcore/src/Project.Domain/Entities/Entity.cs.ejs#L75

[2022-07-16 11:48] nicolas63 commented on #1070
i think is a regression du to https://github.com/jhipster/jhipster-dotnetcore/commit/020080ea4716497b48fc450cbc53ba64c489e3e8
Can you help us to fix them ?

[2022-09-21 15:11] #823 closed

[2022-09-25 13:00] nicolas63 opened #1124 "Use dotnet 6 minimal hosting"
##### **Overview of the feature request**

Since dotnet 6 we have a minimal hosting, we can move to this hosting model

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-09-25 15:39] #803 closed

[2022-09-25 16:18] nicolas63 commented on #96
closed by #1123

[2022-09-25 16:18] #96 closed

[2022-09-25 16:18] nicolas63 commented on #1124
closed by #1123

[2022-09-25 16:18] #1124 closed

[2022-09-26 18:34] nicolas63 opened #1131 "Missing install phase in app submobule"
##### **Overview of the issue**

in the https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/app/index.js the install phase is missing

##### **Motivation for or Use Case**

During install phase we attempt to init git folder

##### **Reproduce the error**

##### **Related issues**

This fix this issue (#840)

##### **Suggest a Fix**

add this sections

[code]

-   [x] Checking this

[2022-09-26 18:49] Shyamala7 commented on #1131
can I take this?

[2022-09-26 19:04] nicolas63 commented on #1131
Yes sure

[2022-09-26 19:29] nicolas63 commented on #843
@ivanmonteiro Is this bug still present ?

[2022-09-26 19:31] nicolas63 commented on #427
implemented now with cypress e2e tests

[2022-09-26 19:31] #427 closed

[2022-09-26 19:46] nicolas63 commented on #741
in the java version they are a public user endpoint like here (https://github.com/jhipster/jhipster-sample-app/blob/db781b4d0947ff9dc9d1eb74939305fbfd0b26d0/src/main/java/io/github/jhipster/sample/web/rest/PublicUserResource.java). We can create a controller with this route who return like the java version only activated users.

[2022-09-26 19:50] #373 closed

[2022-09-26 20:00] nicolas63 commented on #1070
i don't reproduce this bug

[2022-09-26 20:00] #1070 closed

[2022-09-26 20:04] nicolas63 opened #1132 "Update MongoDb doc"
##### **Overview of the feature request**

After this PR #1123  user and account are managed by mongoDB so we can update this page (https://jhipsternet.readthedocs.io/en/latest/Features/mongodb.html) to supress the WIP part

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-09-26 20:10] nicolas63 commented on #542
the class is here https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/server/templates/dotnetcore/src/Project/Configuration/IdentityStartup.cs.ejs

[2022-09-26 20:20] #843 closed

[2022-09-26 20:32] nicolas63 commented on #1043
we just need to remove related to the user in entity.ejs here (https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/entity-server/templates/dotnetcore/src/Project.Domain/Entities/Entity.cs.ejs#L75)

[2022-09-27 08:19] nicolas63 opened #1133 "Enable sonar only on default app"
##### **Overview of the issue**

Here we enable sonar analysis on default app and also in cqrs app

https://github.com/jhipster/jhipster-dotnetcore/blob/main/test-integration/scripts/01-init-env.sh#L21
https://github.com/jhipster/jhipster-dotnetcore/blob/main/test-integration/scripts/01-init-env.sh#L25

we have only default app declared on sonar cloud
https://sonarcloud.io/project/overview?id=jhip

[2022-09-27 20:52] nicolas63 opened #1135 "Rework priorities to use const"
##### **Overview of the feature request**

Since this rfc (https://github.com/jhipster/generator-jhipster/blob/main/rfcs/3-jhipster-rfc-unambiguous-priorities.md) the generator-jhipster use constants for priorities and we can also use it in this generator

So we need to rework all priorities write like this :

[code]

by

[code]

##### **Motivation for or Use Case**

the old way was not support in

[2022-09-27 21:16] nicolas63 opened #1136 "Prepare a submodule for CI-CD"
##### **Overview of the feature request**

Prepare the submodule to generate CI/CD

##### **Motivation for or Use Case**

make it easier to achieve this issues :
https://github.com/jhipster/jhipster-dotnetcore/issues/386
https://github.com/jhipster/jhipster-dotnetcore/issues/387

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-09-27 21:29] nicolas63 opened #1137 "AuditedEntityBase improvment"
##### **Overview of the feature request**

As discuss in gitter ( https://gitter.im/JHipster-NET/jhipster-dotnetcore) today our AuditedEntityBase don't inherite from
https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/server/templates/dotnetcore/src/Project.Domain/Entities/BaseEntity.cs.ejs

We just need to inherite from BaseEntity in AuditedEntityBase to get the identity

-   [x]

[2022-09-28 06:12] nicolas63 commented on #853
For the comment we don't support application part in the jdl

[2022-09-28 06:13] #853 closed

[2022-09-28 06:14] #849 closed

[2022-09-28 06:14] #787 closed

[2022-09-28 06:14] nicolas63 commented on #787
Already fixed

[2022-09-28 07:10] nicolas63 opened #1138 "Update copyright date"
##### **Overview of the issue**

The copyright is date is 2019-2021 we need to update to 2022
like here : (https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/app/prompts.js#L2)

##### **Browsers and Operating System**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-09-28 07:27] Indrajeet-S commented on #1138
I would like top change this

[2022-09-28 10:37] Indrajeet-S commented on #1138
Hey, so I have to change "2019-2021" to "2019-2022" in all files right?
and I have to make this PR after 1 October an
could you assign me with some more issues

[2022-09-28 10:54] vedant-z commented on #1135
@nicolas63 I would like to work on this

[2022-09-28 10:56] nicolas63 commented on #1135
nice, i have assign to you

[2022-09-28 10:57] vedant-z commented on #1132
Hey @nicolas63 in this issue basically the WIP part needs to be removed right ?

I would like to work on this as well

[2022-09-28 10:58] nicolas63 commented on #1138
yes

add a comment on the issues that interest you

[2022-09-28 11:01] nicolas63 commented on #1132
yes we just need to remove WIP part

[2022-09-28 11:08] Indrajeet-S commented on #1138
okay... I will do.. thanks

[2022-09-28 16:19] aswarthm commented on #1137
Hey, I'd like to work in this. From your description and gitter, I believe that the AuditedEntityBase should inherit from BaseEntity. i.e "public abstract class AuditedEntityBase : BaseEntity". Am I right?

[2022-09-28 16:47] nicolas63 commented on #1137
Yes you are right

[2022-09-28 16:50] aswarthm commented on #1137
Thank you, I will PR this during October

[2022-09-30 00:56] A-5ingh commented on #1133
Hey @nicolas63, hope you are doing well! Can you please assign this issue to me?

[2022-09-30 04:43] nicolas63 commented on #1133
Yes sure

[2022-09-30 18:57] Indrajeet-S commented on #1138
@nicolas63

[2022-09-30 19:43] #1132 closed

[2022-09-30 19:44] nicolas63 commented on #1138
Closed by #1151

[2022-09-30 19:44] #1138 closed

[2022-10-01 02:25] A-5ingh commented on #1043
@nicolas63 removing the `Id` from the listed file will fix the issue? I can also this up.

[2022-10-01 04:15] A-5ingh commented on #1133
@nicolas63 can you please review once you get time.

[2022-10-01 19:49] #1133 closed

[2022-10-02 03:34] A-5ingh commented on #542
@nicolas63 where are we planning to store the csv or json file in code? I have made the code changes to read from a csv file instead of hardcoding the data in code.

[2022-10-02 07:12] nicolas63 commented on #542
Yes we can generate this file to replace our harded code

[2022-10-02 07:14] nicolas63 commented on #1043
No we just need to remove the particular condition for the user entity. (Line 75 )

[2022-10-03 00:13] A-5ingh commented on #1043
I have tried removing the condition but then it creates duplicate variable with same name but different type with the given entities.

[2022-10-03 00:14] A-5ingh commented on #542
For generating we will have to again use the hardcoded values of user. I was thinking of keeping the csv file manually with all the user data and then just read it from there. You can also assign this to me.

[2022-10-05 06:37] nicolas63 opened #1165 "Rework Prerequisites"
##### **Overview of the feature request**

In Prerequisites we have a link to the jhipster documentation with lot of information and in fact we just need to ask to install jhipster like this
[code]

rework is needed here :
https://github.com/jhipster/jhipster-dotnetcore/blob/main/docs/Introduction/getting-started.md#prerequisites

and here
https://github.com/jhipster/jhipster-dotnetcore#prerequisi

[2022-10-05 06:45] nicolas63 opened #1166 "Remove running-local-blueprint-version-for-development part in readme"
##### **Overview of the feature request**

the https://github.com/jhipster/jhipster-dotnetcore#running-local-blueprint-version-for-development is not needed here because it's too complex for the readme and this documentation is already here https://jhipsternet.readthedocs.io/en/latest/Development/RunLocal.html

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-10-05 10:00] nicolas63 opened #1167 "Fix Login Modal View in Blazor"
##### **Overview of the issue**

Since the last version of Blazored.Modal the login view no longer displays the login view in a modal view

##### **Suggest a Fix**

To correct this we need to delete these lines
https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/client/templates/blazor/src/Project.Client/wwwroot/index.html.ejs#L18
https://github.com/jhipster/jhipster-dotnetcore/bl

[2022-10-06 01:53] ivanmonteiro opened #1177 "Fix Heroku deploy docs"
##### **Overview of the issue**

Heroku as announced that free dynos and resoures will not be available anymore

Update the docs:
Remove mention about free dynos/resources and make it clear that a paid plan is required

The docs file is here:
https://github.com/jhipster/jhipster-dotnetcore/blob/main/docs/Features/heroku.md

-   [x] Checking this box is mandatory (this is just to show you read ever

[2022-10-06 04:46] nicolas63 commented on #1177
Good idea, it's also discuss here https://github.com/jhipster/generator-jhipster/issues/19551

[2022-10-06 04:50] #1136 closed

[2022-10-06 06:19] tlegrand54 commented on #1166
Can I help you with this?

[2022-10-06 06:22] tlegrand54 commented on #1165
Can I help with this?

[2022-10-06 06:42] nicolas63 commented on #1165
Yes, i have assigned you

[2022-10-06 06:42] nicolas63 commented on #1166
Yes, i have assigned you

[2022-10-06 20:32] #1167 closed

[2022-10-08 09:11] tlegrand54 commented on #1166
Hi, Nicolas,
I just created the pull request #1181 but I don't know how to link it with this issue

[2022-10-08 09:26] nicolas63 commented on #1166
I have linked the issue, the best think to do is to mention the issue in the comment of your pull request like this 'fix #issuenumber'

[2022-10-08 09:27] #1166 closed

[2022-10-08 17:44] prokan468 commented on #1177
Hi, please do assign this issue to me.

[2022-10-08 17:50] nicolas63 commented on #1177
Sure, i have assigned you

[2022-10-09 02:51] A-5ingh commented on #542
@nicolas63 Please provide your review on the #1184.

[2022-10-09 11:33] prokan468 commented on #1177
#1182 Hi, I have updated the Heroku Documentation. Please do  accept the PR.

[2022-10-13 15:34] #1177 closed

[2022-10-19 08:39] #1043 closed

[2022-10-19 08:46] nicolas63 commented on #1131
unassigned due to invalid PR

[2022-10-19 08:47] nicolas63 commented on #1137
fixed by #1156

[2022-10-19 08:47] #1137 closed

[2022-10-20 17:15] kbeaugrand opened #1207 "Follow Microsoft's naming guidelines"
##### **Overview of the feature request**

The objective of this issue is to follow the .NET Standards naming conventions.
Naming rules are set on the .editorconfig file of the bluepring (see [Code-Style naming rules](https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules?WT.mc_id=AZ-MVP-5004641))

##### **Motivation for or Use Case**

Naming conventions on th

[2022-10-21 05:17] nicolas63 commented on #1207
Sorry, but this page https://learn.microsoft.com/en-us/dotnet/standard/design-guidelines/naming-guidelines?WT.mc_id=AZ-MVP-5004641 talks about public field. For the private field, this one explains how to name them https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/coding-style/coding-conventions. And these rules are applied by the runtime and the sdk (https://github.com/dotnet/runtime/b

[2022-10-21 05:17] #1207 closed

[2022-10-21 05:22] kbeaugrand commented on #1207
My bad I didn't read correctly these pages...
Even I dislike those rules, you're completely right!

Thanks for the feedback

[2022-10-23 07:32] nicolas63 opened #1210 "Update to the latest version of setup-dotnet in our github actions"
##### **Overview of the issue**

Since few week multiple job randomly failed due to this issue

##### **Suggest a Fix**

we are at version 1 and we need to upgrade to version 3 in these files :

https://github.com/jhipster/jhipster-dotnetcore/blob/main/.github/workflows/test-integration-jwt.yml
https://github.com/jhipster/jhipster-dotnetcore/blob/main/.github/workflows/test-integration-microservic

[2022-10-23 07:46] #1165 closed

[2022-10-23 08:11] tlegrand54 commented on #1210
Hello, can i do it ?

[2022-10-23 08:28] nicolas63 commented on #1210
yes

[2022-10-23 09:26] #386 closed

[2022-10-23 10:20] #387 closed

[2022-10-24 09:34] tlegrand54 commented on #1131
Hello, can you assign me this ?

[2022-10-24 09:34] nicolas63 commented on #1131
hello, done

[2022-10-24 09:45] tlegrand54 commented on #1210
Hey, when you said "we are at version 1 and we need to upgrade to version 3 in these files", do you mean the version of  actions/setup-dotnet?

[2022-10-24 10:27] nicolas63 commented on #1210
Yes exactly

[2022-10-26 02:04] nicolas63 commented on #1131
Fix by #1216

[2022-10-26 02:04] #1131 closed

[2022-10-26 02:04] nicolas63 commented on #1210
Fix by #1215

[2022-10-26 02:05] #1210 closed

[2022-11-04 17:48] ivanmonteiro opened #1222 "EntityFramework Core 7.0 upgrade"
##### **Overview of the feature request**

Upgrade and use the latest version of Entity Framework 7 Core

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-11-04 18:38] ivanmonteiro opened #1223 "Upgrade to .NET 7"
##### **Overview of the feature request**

.NET 7 will be released soon and it would be nice to upgrade the project to use .Net v7

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2022-11-06 18:39] tlegrand54 commented on #1223
Hello, if it possible can I help you on this ?

[2022-11-06 19:02] nicolas63 commented on #1223
Yes if @ivanmonteiro doesn't work on it. If it's ok you can start here https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/server/templates/dotnetcore/src/Directory.Packages.props

To update the dependencies. We also need to update docker image version. And apply all new good practices.

[2022-11-07 00:09] B-batman12thy commented on #193
For this error:"No blueprint found" you have to link the jhipster generator-blueprint to the folder you create for testing the blueprint.

[2022-11-07 15:34] ivanmonteiro commented on #1223
Yes, of course you can help. Also don't be afraid to ask questions

[2022-11-10 02:16] Rummy99 opened #1234 "Path Not Exported error"
Hi,

I am getting below path not exported error while creating jhipster dotnetcore blueprint. Please advice how to fix it.

**ERROR! Package subpath './generators/app' is not defined by "exports"**

![PXL_20221110_021116545.jpg](https://user-images.githubusercontent.com/85660159/200983878-0690227f-7c27-4365-a50f-e62447b99a23.jpg)

[2022-11-10 18:53] tristanblc commented on #1234
Hello,
In order to fix that, try to change "exports" in the file "\node_modules\generator-jhipster-dotnetcore\node_modules\generator-jhipster\package.json".
[code]

[2022-11-11 13:32] nicolas63 commented on #1234
thanks @tristanblc you have right, today the blueprint do not support node 18 @Rummy99 can you try with node 16 ?

[2022-11-11 16:43] tlegrand54 commented on #1223
No problem, thanks a lot

[2022-11-20 07:27] tlegrand54 commented on #1223
I have a question, how can I test after I change the version of .NET?

[2022-11-20 08:18] nicolas63 commented on #1223
You can run
```npm link```
After that your local version is used when you run
[code]

If you want debug the generator you can use vs code with f5 and if you want you can change the generated folder here  (https://github.com/jhipster/jhipster-dotnetcore/blob/main/.vscode/launch.json)

[2022-11-21 07:59] #1234 closed

[2022-11-29 10:27] luisferreiroo opened #1243 "After creating an entity with command, the database does not recognize the entity."
Once I have created the entity, I go to my webapp to see if the entity appears. When I see that it appears, inside the entity I get the following error: Object object. So it does not allow me to create anything inside the entity

**This is shown in the log of my container**

Hellang.Middleware.ProblemDetails.ProblemDetailsMiddleware[1]
      An unhandled exception has occurred while executing the