[2019-03-05 08:22] unikzforce opened #1 "build system"
appreciate the work you do here,
i suggest the [cakebuild](https://cakebuild.net) as the build system,
but i think the gradle ecosystem has something for dotnet too.

[2019-03-05 08:31] unikzforce commented on #1
it also has some template for Rider and resharper and ...:
[cake-build/frosting](https://github.com/cake-build/frosting)

[2019-05-21 08:03] maqeelqureshi opened #2 "Installation error"
This does not work
npm install -g generator-jhipster-jhipster-dotnetcore

also tried
npm install -g https://github.com/jhipster/jhipster-dotnetcore.git

Error details
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: ERROR! The generator-jhipster-jhipster-dotnetcore blueprint provided is not installed. Please install it using command npm i -g generator-jhipster-jhipster-dotn

[2019-06-23 09:53] danielpetisme commented on #2
Thanks for reporting the issue.
Until an official release, can you use the method describe in
https://www.jhipster.tech/modules/creating-a-blueprint/
Section **Running local Blueprint version for development**

[2019-06-23 09:55] danielpetisme commented on #1
Thank you for the proposal and sorry for the response latency.
I'll have a look (and feel free to propose a PR!).

[2019-07-01 18:47] timmi4sa commented on #2
@danielpetisme Thanks a lot, was able to "npm link" inside this repository cloned to my local disk (on MacOS). Then I created a folder for my app and went in there (cd <appname>), did "npm link generator-jhipster-dotnetcore" which created a folder "node_modules" inside. After running "jhipster -d --blueprint dotnetcore" I see that the blueprint is picked up (as evidenced in launch sequence of jHip

[2019-07-04 07:56] YogeshD-Hexaware commented on #2
404 error for   **npm install -g generator-jhipster-dotnetcore**

[2019-07-04 08:45] YogeshD-Hexaware commented on #2
same errors. it is still generating java files.
Please update readMe with more details

[2019-07-10 08:40] BananeGuimauve opened #6 "Backend test generation"
To test that the generated app works, we need to generate the backend tests. These tests are composed of originals JHipster backend tests and more.

[2019-07-10 08:57] BananeGuimauve opened #8 "Modify the prompts of the generator"
We need to change the prompts to only offer the available features. Another change to be made is when creating an entity, the proposed data types must be C # types instead of Java.

[2019-07-10 09:02] BananeGuimauve opened #9 "Add SonarQube"
In order to evaluate the quality of the generated code, we need to add SonarQube in the generated application.

[2019-07-10 09:29] BananeGuimauve opened #10 "Support more databases"
One of the features asked by many people is the possibility to choose more databases.
In order to make it, Entity Framework Core will be really helpfull and will facilitate their integration.
Currently, the only choice is a Sqlite database stored in RAM.

[2019-07-10 09:47] BananeGuimauve opened #11 "Change the generation path of the frontend entities"
Currently, the generation of Angular frontend entities is done on the same paths as in the generation of a Java application. This prevents us from linking the .Net backend to the frontend, from being able to build and run the application and backend tests. We need to rewrite the different generation paths of these entities to suit the .Net C # version tree.

[2019-07-10 10:09] BananeGuimauve opened #12 "Add Docker deployment support"
We would like to add the ability to deploy the generated app to a Docker container and for this we need to write a Dockerfile for the project.

[2019-07-10 12:00] BananeGuimauve opened #13 "Add frontend tests"
Change or not the location of the frontend unit test generation to suit the tree structure of a C# .Net project.
Moreover, by modifying the generation path of the front end, it will certainly be necessary to modify the path of the imports in the unit tests. Similarly, it is necessary to modify the different files necessary for the execution of the tests, for example : the script of the command "np

[2019-07-10 14:09] BananeGuimauve opened #14 "Bug with internationalization support"
Currently, we have a problem with the support of internationalization.
When enabled and the choices of a native language and additional languages made, the corresponding files are generated. The problem occurs when launching the application in the browser. The language choice tab doesn't appear !

[2019-07-10 14:14] BananeGuimauve opened #15 "Integration of the needle API"
Currently, during a modification of the data model we regenerate all the files of the entities of the backend without using the needles.
In the future we have to integrate these in order for example to add fields in the entities.

Another problem that it could solve:
When generating controllers and tests we sometimes need to access the associated entities. The problem can then occur because at a t

[2019-07-10 14:33] BananeGuimauve opened #16 "Send an email when creating an account"
In the Java version, when creating an account, a user receives directly in his mailbox a confirmation email. We want to replicate this behavior in the .Net version. Another question then arises, where to store the templates of the mails ?

[2019-07-10 14:56] BananeGuimauve opened #17 "Entity field types nullable or not?"
In the Java version, the types proposed for the fields of the entities are nullable but one can add to these fields an Required annotation.
In C #, equivalent types are not nullable unless you add the suffix "?" (example: int?). Similarly, the [Required] annotation can be added to the fields.
The question raised here is to know if we should keep the default behavior of the types (not nullable) or

[2019-07-10 19:19] #6 closed

[2019-07-15 13:13] BananeGuimauve commented on #11
Client's entities are now generated at the expected paths but there is another issue. When creating a new entity, it is not taken into consideration because some code lines like the routes are not generated. The needles are no longer working because we need to modify their paths, but it seems to be difficult to override it. I opened a thread on stackoverflow with more details : https://stackoverfl

[2019-07-17 21:01] ivanmonteiro commented on #2
Tried installing with npm and yarn, both 404 not found.  Also tried local install of this blueprint, but when I run "jhipster -d --blueprint dotnetcore" it creates only java files.

Any solution to this?

[2019-07-18 12:08] BananeGuimauve commented on #11
Currently, the only way I found to do it is to replace needles paths from the blueprint client subgenerator directly into the generator-jhipster node module. I know it's not clean but it's not a priority and we will certainly make something better in the future.

[2019-07-18 21:31] ivanmonteiro commented on #2
Having the same issues, jhipster generates only java files

[2019-07-19 13:25] #11 closed

[2019-07-23 21:38] ivanmonteiro opened #23 "Only Java files are being generated"
Tested commit 90d3406975a4116da5d192bc71ab0595e139168f and it generates C# code.
But with the latest commits jhipster only creates java files. Seems that the dotnetcore generator is not called. Others are having related issues.
I'm using Windows 10, Node v10.16.0 LTS and jHipster v6.1.2

Having the same issues, jhipster generates only java files

_Originally posted by @ivanmonteiro in https://gith

[2019-07-25 18:25] danielpetisme commented on #2
@YogeshD-Hexaware Thanks for raising the issue.
Since the blueprint is not yet published on npm official registry you can't use `npm install -g generator-jhipster-dotnetcore` right now.
We're planning a first release, meanwhile use the repo url just as you mentionned.
We  are moving as fast as we  can to provide a first public version this summer I hope.
Feel free to contribute if you can/want.

[2019-07-25 18:27] danielpetisme commented on #23
Can you provide a reproducer please.
I'm on a Mac and I can't reproduce the issue but a friend who is using Windows share the same concern.
We need more details to troubleshoot.

@BananeGuimauve you're using Windows too? Did you face the issue?

[2019-07-25 19:20] BananeGuimauve commented on #23
I just pull it and tested it on my personal computer at my home and it works too. Both computers are on Windows 10.
I will explain you a reproducer :
1) I go into my blueprint folder
2) I use "npm link" command
3) Now I create a new folder for example on my Desktop where I will generate the app and I go into
4) I use "npm link generator-jhipster-dotnetcore" command
5) Now, I obtain a node_modules

[2019-07-27 14:08] #12 closed

[2019-07-31 00:37] ivanmonteiro commented on #23
With commit 90d3406 everything is working fine. But with more recent commits only Java files are generated. My guess is that this blueprint is NOT being called.
I used the method of [Running local Blueprint version for development](https://github.com/jhipster/jhipster-dotnetcore#running-local-blueprint-version-for-development) to test it on Windows 10, Node v10.16.0 LTS and jHipster v6.1.2
I will

[2019-07-31 01:16] ivanmonteiro commented on #10
Hi, I'm adding some questions to the discussion:
**Any chances to supporting a NoSql database such as MongoDB?**
I'm not sure if Entity Framework Core supports it.

[2019-07-31 17:30] danielpetisme commented on #10
The NoSQL support would be awesome but it requires some time we (the current team) don't have
We will focus on what EF Core supports out of the box, if Mongo is covered by EF Core it will definitively ease the job.

With our current capacity and if it's not covered by EF, I don't think it would be feasible before early next year (we focus on delivery we can't star too many features in parallel)

@

[2019-07-31 22:15] ivan commented on #10
putting @ivan into GitHub emails the wrong Ivan

[2019-08-01 16:39] BananeGuimauve commented on #23
I managed to reproduce your problem by cloning the project and make a new "npm link".
Thanks @ivanmonteiro, thanks to you I found the commit and the line causing the problem.
In the commit 539208903c08c85520a53a03f6efa78452e0d8a2 a needed dependancy "to-pascal-case": "^1.0.0" in package.json has been deleted. I think @danielpetisme and me didn't noticed it because the dependancy was already instal

[2019-08-01 19:17] #14 closed

[2019-08-01 19:17] #23 closed

[2019-08-01 19:22] danielpetisme commented on #17
What's the expected behavior in the common .Net frameworks.
From what I have seen it typescript (which is close to the .Net world), the fields are often `?` suffixed (have a look to the JHipster frontend entities.
So for me, it would be `?` where ever we can and enforced by `[Required]` for business/domain rules.

[2019-08-02 20:35] robrui opened #30 "Cannot read property 'toLowerCase' of undefined"
Hi!

I'm clone this repository in my machine and try to exec this blueprint with following commands:

[code]
In the last step, when I select one, some or all modules, I have this exception:
[code]
Is sufficient data to resolve this issue? My Operating System is Windows 10.

Thanks a lot!

[2019-08-06 13:57] danielpetisme commented on #30
Hello,

Why do you do
`ren jhipster-dotnetcore generator-jhipster-dotnetcore`, you don't need it
Anyway I try to run the same commands on my Mac and it works but I know we had issues with the `toPascalCase` dependency these past days.
The blueprint is still experimental and moving fast so maybe we already fix the issue.
Could you:
* Update your local repo to be sure to have the latest updates (my

[2019-08-12 16:08] asdini opened #31 "generator-jhipster-dotnetcore@latest' is not in the npm registry."
Hi,

I am following the instruction on the ReadMe page, but I try to install the dotnetcore generator, I get the error blow.  If it is not available in npm registry, can I clone the project and link it as you would do for Development.

 npm install -g generator-jhipster-dotnetcore
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/generator-jhipster-dotnetcore -
Not found
n

[2019-08-12 17:04] danielpetisme commented on #31
Hello,

Thanks for reporting the issue. Indeed, the dotnet blueprint is not yet in npm registry. The README instructions have been generated when I started the blueprint but they are not usable yet, sorry for that. I really need to update the instructions until a public release.

If you want to try the blueprint.
[code]
Normally, after the the application type and application name questions, you s

[2019-08-12 19:12] asdini commented on #31
Hi Daniel,

Thanks for the prompt reply. As a side note, I normally develop JHipster with Java, but my colleagues are very experienced .NET developers. They were very exited about JHipster but sadly before your blueprint, it wasn't supported.  I need to introduce them to this blueprint so that they can develop with it and even contribute to it. It looks like you started the project recently but we

[2019-08-12 19:29] asdini commented on #31
If it helps, below are the versions of Node, npm, jhipster and yo installed my Mac laptop.
<img width="353" alt="Screen Shot 2019-08-12 at 23 27 57" src="https://user-images.githubusercontent.com/14091236/62892283-f794b300-bd58-11e9-9e83-22ececfb0361.png">

[2019-08-12 21:21] danielpetisme commented on #31
Thanks for the details!

Many people is reporting issues to generate a .Net app but we have troubles
to reproduce it.

I'll investigate, I may come back to you for further details.

Le lun. 12 août 2019 à 21:29, asdini <notifications@github.com> a écrit :

[2019-08-13 01:10] asdini commented on #31
I have read their comments too, the thing they have in common is they used MAC laptop.  Please test it on MacOS

[2019-08-13 08:21] danielpetisme commented on #31
I do have a Mac and it works....

Can you give me the HEAD commit to be sure we're using the same version.
Thanks

Le mar. 13 août 2019 à 03:10, Ahmed Dini <notifications@github.com> a
écrit :

[2019-08-13 08:33] asdini commented on #31
Thanks Daniel for investigating the issue.  If there is any thing, I can do to help, including giving you remove access, if you can't reproduce, I will be glad to help.

Below is the Head Commit info,

commit b36a1b72553663ddab5fc22a2beb98b01b7f1367 (HEAD -> master, origin/master, origin/HEAD)
Author: dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
Date:   Thu Aug 1 21:18:06 20

[2019-08-13 10:45] asdini commented on #31
Hi Daniel, thanks for the support,
It works now! It requires .Net Core to be installed on the system, I had it installed but forgot to set the path to the installation as PATH variable. I have noticed you have a dotnet.js file under generators that checks for if dotnet is installed but it doesn't work properly.
For anyone with the same issue this is how I fixed (MAC)
1. Follow the instructions abo

[2019-08-13 11:38] danielpetisme commented on #31
Awesome!!
I completely forgot this sanity check.
IMHO, the appropriate behavior would be to warn the user if the `dotnet`
command isn't in the PATH (just as jhipster does with `java` or `npm`).
WDYT?
Do you want to propose a PR for that?
Again thank you for spotting the issue.

Le mar. 13 août 2019 à 12:45, Ahmed Dini <notifications@github.com> a
écrit :

[2019-08-13 12:09] asdini commented on #31
Thanks, Yes, you right, we need to do some Minimal System Requirement checks, including checking if .Net is installed.  I am exploring the system, but definitely will create a PR for this .Net Requirement issue.   To attract contributors to the project, we need to have proper documentation.
1. Contributor documentation, I rarely see, opensource projects that have, these as they expect contributors

[2019-08-20 12:48] danielpetisme commented on #30
I spotted the issue.
The dotnet blueprint is the only JHipster blueprint to override the `LanguageGenerator` and I'm not sure why but during the `LanguageGenerator#initializing` method the property `this.baseName` is undefined.
https://github.com/jhipster/generator-jhipster/blob/52e4cec274003a4c90d2065df286f7f612a54c30/generators/languages/index.js#L109
As consequence, in the blueprint the `baseNa

[2019-08-20 16:17] asdini commented on #31
Hi Daniel,

Thanks for the fix. I have tested.  I can confirm the dotnet issue has been fixed. But you have introduced another bug which causes the build to fail when I run this command in the root directory of the .Net and Angular project generated by the blueprint.
dotnet run --verbosity normal --project ./src/DebugVsCodeFolder/DebugVsCodeFolder.csproj

This is caused by importing the rtl.scss f

[2019-08-20 18:55] danielpetisme commented on #31
Salaam Ahmed!

You're good to spot issues and their fix, thanks!
The good news is that I fixed it on the master https://github.com/jhipster/jhipster-dotnetcore/commit/43c320e481cd80a98194b293fc574514bbe336c8 you can test it.

I plan to publish an alpha version of the blueprint this week. Actually I wanted to do it today but I had to unpublish it and npm registry forces me to wait 24H... that's goo

[2019-08-22 21:00] robrui commented on #30
Hi! I apologize for delayed response. Thanks for trying resolve this issue.
In last time, I has rename the folder to link _JHipster_ dependency while the package does not published in NPM.

But, I try again installing same packages (`generator-jhipster` and `generator-jhipster-dotnetcore`) and I have errors anyway when I try run the blueprint.

I attach the details below:
`jhipster --blueprints do

[2019-08-23 07:36] danielpetisme commented on #30
Hello Robert,

I did a silent release of the blueprint. The version `0.1.0` is public and available but I need to work on additional documentation and communication before announce it to the world.

At the moment, we have a an issue for the entity generation. I think it's related to  the main `generator-jhipster` so I opened an issue:
https://github.com/jhipster/generator-jhipster/issues/10257
Whe

[2019-08-23 16:15] robrui commented on #30
Thanks a lot for help about this issue!
I try with the `--skip-checks` and it works, with some errors what do not affect the local run. I'll report that in another issue.

I close the issue!

[2019-08-23 16:15] #30 closed

[2019-08-23 16:41] robrui opened #33 "Minor: Package.json not found (wrong location) and 'rimraf' not recognized"
Hi!
When I finish the set-up to auto-generate solution, I observe some issues in the process.

**First: The solution cannot find a package.json file**
(Console lines)
[code]
(Log debug file)
[code]

**Second: rimraf is not recognized as an internal or external command**
(Console lines)
[code]
(Log debug file)
[code]
Greetings!

[2019-08-23 17:54] robrui opened #34 "Could not import a custom JDL, but console response has successful"
Hi again! I'm import a custom JDL (generated in JDL Studio, of course), and the console returns a success log.
[code]
But, in the dotnet solution, i didn't watch the models.
![imagen](https://user-images.githubusercontent.com/7157813/63612755-61ad2380-c5b5-11e9-8710-16b61f09f9d5.png)

NOTE: Without "skip checks", the message logs are similar.

Exists a solution (at least, temporally) for this inci

[2019-08-23 18:53] danielpetisme commented on #34
Hi Roberto,
Thank you for exploring the blueprint. We are looking for .Net devs feedbacks and I really appreciate the time you are investing.

Unfortunately, the JDL features are not covered yet but it's clearly must have. Feel free to propose something, I can provide some guidance.

Again thank you.

[2019-09-18 08:55] #17 closed

[2019-09-18 09:02] BananeGuimauve commented on #17
I closed this issue because I already implemented the suffix `?` to the field types earlier. So we don't need to change anything. :)

[2019-09-18 14:12] danielpetisme opened #38 "Update the Docker build"
Verify the docker build is following the recommmandations of
https://dev.to/dotnet/how-you-can-dockerize-a-net-core-app-4h96?ocid=AID2417799_TWITTER_oo_spl100000934921659

[2019-09-20 12:31] javeez2 opened #39 "Error when Creating Jhipster .Net Core solution."
`Creating Jhipster .Net Core solution.

events.js:183
      throw er; // Unhandled 'error' event
      ^

TypeError: dotnet.newSln(...).then(...).catch(...).finally is not a function
    at module.exports.end (/usr/local/lib/node_modules/generator-jhipster-dotnetcore/generators/server/index.js:176:29)
    at Object.<anonymous> (/usr/local/lib/node_modules/generator-jhipster-dotnetcore/node_modules

[2019-09-20 14:02] #15 closed

[2019-09-20 14:33] #8 closed

[2019-09-21 17:15] mraible opened #41 "Add support for OAuth 2.0 / OIDC Authentication"
The main JHipster generator supports OAuth 2.0 / OIDC. It'd be nice if its blueprints did as well.

[2019-09-23 19:37] danielpetisme opened #43 "Migrate to .Net Core 3.0"
.Net Core 3.0 is now public with cool a cool feature list:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0/

A .net core hipster must use 3.0 to be in the cutting edge 😄

[2019-09-24 07:20] jdubois commented on #41
I added a $100 bug bounty on this

[2019-09-24 07:20] jdubois commented on #43
I added a $100 bug bounty on this

[2019-09-25 14:45] BananeGuimauve commented on #39
Hi ! Do you still have the error ? Have you installed the .Net Core SDK ?

[2019-09-26 04:11] vraravam commented on #39
I get a different error:
[code]

[2019-09-26 13:11] vraravam commented on #39
I had to do the `npm link ...` part - and then it started working.

[2019-09-26 13:13] vraravam opened #44 "Does not create a .sln file"
When I tried to generate a new scaffold, it takes me through the wizard, but at the end, I could not find a `.sln` file. Without this file, importing into Visual Studio seems incomplete/incorrect.

[2019-10-09 06:41] unikzforce commented on #1
As I see that the project is migrating to .Net Core 3, then this article seems more relevant:

[You don’t need Cake anymore; the way to build .NET projects going forward.](https://pknopf.com/post/2019-03-10-you-dont-need-cake-anymore-the-way-to-build-dotnet-projects-going-forward/)

[2019-10-10 20:09] danielpetisme commented on #1
Definitively I'll have a look

[2019-10-25 16:01] ivanmonteiro opened #46 "Error using entity generator"
When running `jhipster entity author` the cli displays the field and validation questions and then the following error occurs and no entities are generated:

`
INFO! Using JHipster version installed globally
INFO! Executing jhipster:entity autor
INFO! Options: from-cli: true
     info Using blueprint generator-jhipster-dotnetcore for entity subgenerator

The entity autor is being created.

[remove

[2019-10-29 01:29] ivanmonteiro commented on #34
What is covered at the time?

[2019-10-29 02:20] ivanmonteiro commented on #33
After trying variations of npm --prefix , on Windows 10, I followed [this StackOverflow thread](https://stackoverflow.com/a/57441031/552369) and could install with the following command:
`cd src\PROJECT-NAME\ && npm install && cd ..\..\`

[2019-10-29 02:59] ivanmonteiro commented on #46
Ended up cloning the repository and using npm link as described in the project's readme

[2019-10-29 03:00] #46 closed

[2019-10-29 03:03] ivanmonteiro commented on #44
Maybe you dont have the dotnet core cli installed on your system or it is not in your PATH

[2019-10-29 12:29] nicolas63 opened #47 "Add Monitoring"
Like jhipster generator add one monitoring stack like ELK ( https://www.elastic.co/what-is/elk-stack ) or TICK stack ( https://www.influxdata.com/time-series-platform/ )

[2019-10-29 12:31] nicolas63 opened #48 "Add possibility to audit entities"

[2019-10-29 12:34] nicolas63 opened #49 "Extract JHipsterNet, generate a nuget and use it as dependencies on generated app"

[2019-11-04 22:51] danielpetisme commented on #39
Sounds like you solve your issue, feel free to re-open if needed

[2019-11-04 22:51] #39 closed

[2019-11-04 22:52] danielpetisme commented on #2
Fixed withe the presence in the npm registry
https://www.npmjs.com/package/generator-jhipster-dotnetcore

[2019-11-04 22:52] #2 closed

[2019-11-04 22:53] danielpetisme commented on #31
Solved with the release
https://www.npmjs.com/package/generator-jhipster-dotnetcore

[2019-11-04 22:53] #31 closed

[2019-11-08 03:24] ivanmonteiro commented on #9
I assume that the sonarqube's community edition (free) would be used, right?

[2019-11-08 03:53] ivanmonteiro opened #54 "Travis build error when running eslint"
All travis builds are failing - see https://travis-ci.com/jhipster/jhipster-dotnetcore/builds/134947981 for detailed logs.
Eslint is complaining of 78 problems such as identation, values never used, not defined variables, etc across many of the generator's files.

[2019-11-08 03:56] ivanmonteiro commented on #38
From what I see, It seems to be following the recommendations.  With an extra step of installing nodejs since it is required for the client app.

[2019-11-08 23:52] ivanmonteiro commented on #54
Should the errors be fixed or ignored? It would be nice to hear an opinion from you

[2019-11-08 23:54] ivanmonteiro commented on #49
I think it is a step in the right direction. And when a stable version is realeased I think It would be nice to have this code in a separete nuget package as you suggested.

[2019-11-09 10:43] danielpetisme commented on #54
They definitively need to be fixed.
Struggling with time to look at them closer :-(.

Le sam. 9 nov. 2019 à 00:52, Ivan Monteiro Cantalice <
notifications@github.com> a écrit :

[2019-11-10 15:34] matkoch commented on #1
Ping me if you have questions about nuke.

[2019-11-11 13:31] ivanmonteiro commented on #54
A lot of the errors seems to be related to indent rules on ".prettierrc" and on ".prettierrc". When you fix eslint complains abou tindent, you trigger the prettier complaints on indent...
Maybe its as simple as removing indent rule from eslint or prettier but i'm not quite sure how to proceed since I'm not familiar working with eslint/prettier.

[2019-11-20 19:45] ivanmonteiro commented on #54
@danielpetisme Made pull request #55 that reduces many of the errors related to eslint/prettier indentation rule conflit. Reduced from about 70 errors to about 20. Some of the other eslint errors remains waiting to be fixed by someone... Any volunteers?

[2019-11-22 23:38] danielpetisme commented on #54
`eslint` comes from the main jhipster project so I guess we can use it as reference...

[2019-11-23 17:10] danielpetisme commented on #1
Thank you for your proposition! Fancy a PR?

[2019-11-23 17:12] danielpetisme commented on #9
Yes. The idea would be to provide provide the SonarQube docker image in the generated project. If's already working with the Java project, I simply don't know how to configure Sonar to audit C# code.

[2019-11-23 18:19] matkoch commented on #1
No time unfortunately :) But all questions are welcome.

On Sat 23. Nov 2019 at 19:10, Daniel PETISME <notifications@github.com>
wrote:

[2019-12-01 03:23] ivanmonteiro commented on #9
I'm setting up sonarqube locally and I must say that there are some pre-requisites that are not that straight forward, especially for .net developers. SonarScanner needs Java Runtime Environment installed. Also, to get the test/build measurements we also need a global install of sonarscanner fot .net core and it needs to be added to the path.

One approach that I'm thinking to simplify all that is

[2019-12-15 11:54] vraravam opened #57 "Does not generate react ui code"
I have used jhipster on prior projects to generate java backend with react ui.

When I tried to generate a new project for dotnetcore - it only generates angular - not react.

[2019-12-15 14:52] danielpetisme commented on #57
Hi.

You are right react is one of the frontend option in the "official"
generator.
But... As for now the dotnet blueprint only covers Angular.
Feel free to contribute if it's important to you, it's not a lot of work, I
can explain what has to be done.

Le dim. 15 déc. 2019 à 12:54, Vijay Raghavan Aravamudhan <
notifications@github.com> a écrit :

[2020-01-19 06:28] #33 closed

[2020-01-19 06:28] #34 closed

[2020-01-23 07:43] geetha19983b opened #61 "Database support"
When I  try to generate a monolithic .net core application I was not asked for any option to choose database.The code generated is against SQL Lite with Entity framework as the ORM.

Can you please let me know what are the database supported for .net core and also how can we get option to choose the database during code generation.

[2020-01-27 14:26] maznag opened #62 "This blueprint is not compatible with the latest version of JHipster v6.6.0"
When I try to generate a sample app with this blueprint I have this error:

ERROR! Error: The installed generator-jhipster-dotnetcore blueprint targets JHipster v>=5.4.0 and is not compatible with this JHipster version. Either update the blueprint or JHipster. You can also disable this check using --skip-checks at your own risk

Installed JHipster version: 6.6.0

[2020-01-29 07:21] vraravam commented on #43
I have installed `generator-jhipster-dotnetcore@0.1.0` - but, this is still generating code that targets .net core 2.2. This issue is merged, and says there's support for v3 - but, that's not the observed behavior. IS there a new release of the package that I need to upgrade to? Or is there a release planned for supporting .net core 3.x?

[2020-01-29 20:59] #62 closed

[2020-01-29 21:01] danielpetisme commented on #43
Thank you for raising the problem.
@nicolas63 would you mind to have an eye on it please?

[2020-01-30 03:29] vraravam commented on #43
Update: Since I had the released version (0.1.0) installed and linked via `npm` - I think it had taken that installation. I have since uninstalled that version, reinstalled (not globally) and then tried the latest HEAD of master - and things seem better. Ther  are still 2 issues that I can see:
1) I am forced to use the `--skip-checks` command-line switch
2) The `AddMvc().SetCompatibilityVersion(C

[2020-01-30 08:49] maznag opened #64 "Entities import - CRUD operation doesn't work"
##### **Motivation for or Use Case**

Import entities with 'jhipster import-jdl'. The CRUD operations doesn't work. I Have this error

`System.InvalidOperationException: Endpoint MyCompany.Controllers.TestEntityController.CreateTestEntity (test-import) contains authorization metadata, but a middleware was not found that supports authorization.
Configure your application startup by adding app.UseAu

[2020-01-31 22:37] nicolas63 commented on #43
The npm package was not publish because the travis build failed on all build ...
Who can help me to fix it ?
Yes the .SetCompatibilityVersion(CompatibilityVersion.Version_2_2) is unused since dotnet core 3.0 so i can remove it.

[2020-02-02 14:34] #64 closed

[2020-02-02 14:43] maznag commented on #61
Duplicated issue, see #10

[2020-02-02 15:14] maznag opened #69 "Can we add service/dependency injection and repository layers for generated entities as for main generator JHipster ?"
I add this issue to see if we can add service (dependency injection) and repository layers for generated entities as for main generator JHipster ?

[2020-02-02 16:22] nicolas63 commented on #43
Now travis build was fix but the package was not publish on https://www.npmjs.com/package/generator-jhipster-dotnetcore. @danielpetisme could you and this phase to travis ? https://docs.travis-ci.com/user/deployment/npm/

[2020-02-04 10:58] maznag commented on #43
@nicolas63  the build failed since your commit #66. As the package generator-jhipster-dotnetcore@0.2.0 was not publish, unable to execute "npm install".

@nicolas63 @danielpetisme can you check please ?

[2020-02-04 12:33] nicolas63 commented on #43
The build is now ok but the package was not publish since 5 Months see https://www.npmjs.com/package/generator-jhipster-dotnetcore

[2020-02-04 12:36] nicolas63 commented on #43
Can we discuss in other issue. The .net core 3 migration is ok but not publish

[2020-02-04 12:41] nicolas63 opened #71 "Fix npm packaging"
The npm package was not publish alter build see https://www.npmjs.com/package/generator-jhipster-dotnetcore

[2020-02-04 16:26] danielpetisme commented on #43
You mean I have to work 🤣

[2020-02-04 17:34] nicolas63 commented on #43
Yes :wink: i have create #71

[2020-02-04 20:55] danielpetisme commented on #71
I released
https://www.npmjs.com/package/generator-jhipster-dotnetcore

Can you I have a weird issue locally.

[2020-02-05 06:42] nicolas63 commented on #71
Thanks :smiley: ! I'm testing as soon as possible

[2020-02-10 15:37] sergrdz opened #73 "Add support for Service Discovery and Config Server"
Like jhipster generator these features could be added with the library https://steeltoe.io/

[2020-02-10 20:41] mohamedsogoba commented on #43
please i need to install

[2020-02-10 23:13] danielpetisme commented on #43
Hello,

You should find all the details on the Readme.md

First you need Jhipster installed and then you can install the blueprint`

`npm install -g generator-jhipster-dotnetcore`

Once there you should be able to run
`jhipster --blueprint dotnetcore`

Le lun. 10 févr. 2020 à 21:41, mohamedsogoba <notifications@github.com> a
écrit :

[2020-02-11 11:30] ItsInsajd commented on #10
Hello,

So me and @kosnkow were checking out capabilities of this blueprint and  we discovered the only BD  available atm is SQLite. It would be a nice learning experience to work on this blueprint, so we are thinking about adding support for other databases, relational for now to  make things easier. So my question is, is anyone from the team already working on such feature?

If not, I would like

[2020-02-11 22:02] nicolas63 commented on #71
I have test it the project generation is ok but i have an issue with npm install during the generation. Is the same issue ?

[2020-02-11 22:07] nicolas63 commented on #10
It's good initiative :smiley: ! Nobody work on it currently. I think you can change existing file and add conditions to choose database type

[2020-02-12 11:14] kosnkow opened #74 "clientApp files in root app folder"
files of angular client app (package.json, tsconfig, node_modules etc) exist in main root app together with c# models, controllers ets.
Shuouldn't be moved to clientApp ?

[2020-02-12 14:29] ItsInsajd commented on #10
#75

[2020-02-26 05:35] pascalgrimaud commented on #9
closed by https://github.com/jhipster/jhipster-dotnetcore/pull/68

[2020-02-26 05:35] #9 closed

[2020-02-26 12:22] #61 closed

[2020-02-26 12:23] nicolas63 commented on #54
closed by #66

[2020-02-26 12:23] #54 closed

[2020-02-26 13:13] #43 closed

[2020-02-26 22:16] maznag opened #77 "add --skip-client and --skip-server options"
Allow to generate only frontend or backend app by adding --skip-client/--skip-server options

[2020-02-26 22:24] maznag commented on #74
we can also re-organize the entire structure of the generated application.  I’ll think about that and suggest a new structure

[2020-02-27 06:37] kosnkow commented on #74
exactly, after we add mongo support which is like 70% done, that would be probably next task, besides moving client app entirely to other folder we would also split whole app into more projects since now almost everything exists in one.

[2020-02-27 11:10] ItsInsajd commented on #74
I agree, keeping every layer in one project seems a bit messy, although it's okay for smaller apps.

[2020-02-27 11:41] nicolas63 commented on #74
I'am agree too. We can also extract shared project in nuget package see #49

[2020-02-28 08:50] kosnkow opened #79 "Test not working with authorize attribute"
We notices two integration tests are not working due to authorized endpoints.

[2020-02-28 09:16] ItsInsajd commented on #79
To be more precise, these tests are DeleteUser and GetAllAuthorities in UserResourceIntTest.

[2020-02-28 12:28] kosnkow opened #80 "Generating entities from model"
Hi, in original jhipster for java it is possible to generate entities from JDL model.
Is it possible in dotnet blueprint, or was there any idea to let say create cs file with list of classes and then recreate all entities ? I think that would be nice.

[2020-02-28 16:47] ProIcons commented on #57
What has to be done

[2020-02-28 20:50] danielpetisme commented on #80
We did not investigate how to use JDL directly with the dotnet blueprint.

Feel free to have a look!! I would be interested by the feasability (since we can already generate entities and relations I think from a pure technical standpoint is not impossible.

While I'm sure we can have a technical support I'm  sure it won't be very idomatic. The JDL uses Java-oriented keywords (like mapstruct for DT

[2020-02-28 20:56] danielpetisme commented on #74
I propose to focus on the original question and discuss the structure in a dedicated issue.

[2020-02-28 20:59] danielpetisme commented on #57
The main issue is that there is no easy ways to customize the client files generation output path. I used a silly workaround for Angular so we can either update the code here:
https://github.com/jhipster/jhipster-dotnetcore/blob/master/generators/entity-client/files.js

or wait for the PR which introduce a way to control the generation
https://github.com/jhipster/generator-jhipster/pull/11337

[2020-03-01 18:45] ivanmonteiro commented on #74
Maybe creating one folder with all things related to the client app. And on another folder all backend related files. Using --skip-server and --skip-client is not that straightforward to those who are new to jhipster.

The frontend could be switched to a separated folder like:
frontend/
frontend/src/
frontend/src/app/
...
frontend/package.json
...

Also one thing to think about is the backend's fo

[2020-03-07 20:48] #47 closed

[2020-03-10 22:47] maznag opened #81 "Unable to run generated app - build with error: 'certFilename' does not exist in the current context"
Unable to run generated app using the latest version.

Program.cs(82,165): error CS0103: The name 'certFilename' does not exist in the current context
 Program.cs(82,193): error CS0103: The name 'CertValidationCallback' does not exist in the current context TestDB.csproj

See last commit https://github.com/jhipster/jhipster-dotnetcore/commit/54cd2b3ab11f8856d7f411a36b17d8e057202889

[2020-03-11 08:05] nicolas63 commented on #81
Sorry is my bad, can you remove this part (new CertificateFileProvider(certFilename, String.Empty),CertValidationCallback))
I fix it as soon as possible

[2020-03-13 21:25] maznag commented on #77
I close this as 'skip-client' option already exists and it works using: 'jhipster --skip-client -d --blueprint dotnetcore'

for 'skip-server' we can use this option without blueprint as: 'jhipster --skip-server --db=sql --auth=jwt'

[2020-03-13 21:25] #77 closed

[2020-03-13 23:30] #81 closed

[2020-03-18 23:22] maznag opened #84 "build error - No matching version found for generator-jhipster-dotnetcore@0.3.0"
can you publish the new npm package generator-jhipster-dotnetcore@0.3.0 ?

[2020-03-21 18:22] ivanmonteiro commented on #84
Maybe @danielpetisme can publish to npm.
One suggestion is to configure Travis to publish the package to npm when a new tag is released.
Documentation: https://docs.travis-ci.com/user/deployment/npm/

[2020-03-21 18:28] nicolas63 commented on #84
Yes, for the moment only @danielpetisme can publish. Configure travis for publish npm package is good solution :smile:

[2020-03-21 18:41] ivanmonteiro commented on #84
This can be done adding this configuration .travis.yml
![image](https://user-images.githubusercontent.com/891084/77234052-51c8e280-6b8a-11ea-9fc1-3ab818be165b.png)

And configuring travis with the environment variables NPM_EMAIL and NPM_API_TOKEN. I hope that this helps.

![image](https://user-images.githubusercontent.com/891084/77233988-f991e080-6b89-11ea-9f27-7476b8922260.png)

[2020-03-21 19:20] pascalgrimaud commented on #84
I think it is not possible if you use OTP with NPM like me.

[2020-03-21 19:56] danielpetisme commented on #84
I'll release the coming week.
I need to spend some time to understand how we could speed up or delegate releasing.

[2020-03-21 20:09] pascalgrimaud commented on #84
@danielpetisme : just choose another releaser, then, we can contact Julien D. for adding him to the appropriate team in NPM organization.

[2020-03-21 20:17] danielpetisme commented on #84
Actually the dotnet-blueprint is not part of the Jhipster npm organization.

I'll contact you to have a proper setup.

[2020-03-25 18:48] wassimz commented on #84
@danielpetisme
any update on the release date of the the Blueprint ?? Still have onlt the 0.2 version on npm repository

Thanks

[2020-03-25 20:25] danielpetisme commented on #84
![Screenshot 2020-03-25 at 9 23 59 PM](https://user-images.githubusercontent.com/593564/77582063-11959700-6edf-11ea-932f-388f8f6543a2.png)

Here you go. 0.3.0 is out.

[2020-03-25 20:26] #84 closed

[2020-03-25 20:27] danielpetisme commented on #10
Fix #75

[2020-03-25 20:27] #10 closed

[2020-03-25 20:33] danielpetisme commented on #79
Can you setup a reproducer please

[2020-03-25 20:41] danielpetisme commented on #73
Could you detail what you want to do please.

From what I see, more and more projects are delegating discovery and configuration to an underlying infra service (like k8s).
On Java side, Netflix was a pioneer and opensource great projects which are not very active now...

What's your vision on it?

[2020-03-25 20:42] danielpetisme commented on #71
Fix #85

[2020-03-25 20:42] #71 closed

[2020-03-25 20:43] danielpetisme commented on #69
Basically, yes we can.
Fancy a PR?

[2020-03-25 20:46] danielpetisme commented on #48
The last time I checked this question, I did not find any suitable lib to audit entities.

@nicolas63 do you know anything that could help us to move forward, otherewise I close the issue.

[2020-03-25 20:48] danielpetisme commented on #1
The current build system looks good enough, I close for now the issue

[2020-03-25 20:48] #1 closed

[2020-03-25 20:50] danielpetisme commented on #44
Not active.
Closing

[2020-03-25 20:50] #44 closed

[2020-03-25 21:03] nicolas63 commented on #48
yes, there is https://github.com/thepirat000/Audit.NET or the other way is to override SaveChange in DbContext and add audit informations on entity who implement the IAuditableEntity interface

[2020-03-27 13:29] nicolas63 opened #87 "Adding api /management/info"
In the java generator on the url /management/info the info on the profile and banner is return :
exemple of response :
http://localhost:8080/management/info :
[code]

[2020-03-27 20:06] nicolas63 opened #89 "Use github actions intead of travis"
Like main jhipster generator we can migrate travis build to github actions

[2020-03-27 20:14] nicolas63 opened #90 "Publish the generated app"
one time per day ? or each commit ? publish the generated app to
https://github.com/jhipster/jhipster-sample-app-dotnetcore

[2020-03-28 00:33] sergrdz commented on #73
The idea is to add functionality for registration and discovery of services as the java version does. Using Eureka Register or Consul.

If we do it this way we could have communication between Java and NETCore microservices.

Therefore the microservices generated in NETCore should be able to integrate with Eureka Registry or Consul.

I have tested the library https://steeltoe.io/service-discovery/

[2020-03-28 11:03] nicolas63 opened #92 "Generating ci-cd in generated app"
https://www.jhipster.tech/setting-up-ci/

[2020-03-28 11:59] nicolas63 commented on #48
https://www.entityframeworktutorial.net/faq/set-created-and-modified-date-in-efcore.aspx
we can also add created by and updated by

[2020-03-28 12:13] nicolas63 opened #93 "Join dotnet foundation"
https://github.com/dotnet/foundation/blob/master/guidance/new-projects.md

Check all requirement and ask to join dotnet foundation

[2020-03-28 12:42] nicolas63 commented on #93
@danielpetisme you can follow this ? I can help you if you want.

[2020-03-28 13:31] nicolas63 opened #94 "Add vs code debug support"
##### **Overview of the feature request**

For debug in vs code jhipster we can add task like :
[code]

we can take inspiration from https://github.com/jhipster/generator-jhipster/blob/master/.vscode/launch.json

[2020-03-29 09:06] #89 closed

[2020-03-31 11:16] #94 closed

[2020-04-04 10:01] nicolas63 commented on #57
@mshima in the file-angular.js or file-react.js the generator use constant like :

[code]

How to override value with outputPathCustomizer ?
I have test to add something like this :
[code]
but only the folder webapp2 was created and file genrerated are in webapp folder

[2020-04-04 10:05] #41 closed

[2020-04-04 11:27] mshima commented on #57
Should be put at `cli/cli/sharedOptions.js`:
[code]
It will be shared between every generator.

https://github.com/jhipster/generator-jhipster/blob/master/test/templates/blueprint-cli/cli/sharedOptions.js

[2020-04-04 12:10] nicolas63 commented on #57
@mshima yes i have do this, the folder webapp2 was created but the generated files is in /src/main/webapp because in file-angular.js this contant is used ```const MAIN_SRC_DIR = constants.CLIENT_MAIN_SRC_DIR;```

[2020-04-04 12:20] mshima commented on #57
@nicolas63 I think I missed what do you want to achieve.
Do you have an code example/branch?
If you want to apply to a path string then you should run:
`const dest = this.destinationPath('src/main/webapp/foo')`
dest value should became `src/main/webapp2/foo`.

[2020-04-04 12:29] nicolas63 commented on #57
@mshima in the dotnet generator we override destination path like this :

[code]

I want refactor this for use outputPathCustomizer

You can see my code here https://github.com/nicolas63/jhipster-dotnetcore/blob/ReactAsfront/generators/client/index.js

[2020-04-04 12:31] nicolas63 commented on #57
The goal is to generate files in /src/MyApp/ClientApp rather than /src/main/webapp

[2020-04-04 12:51] mshima commented on #57
You should update generator-jhispter dependency to 6.8.0

[2020-04-04 12:53] nicolas63 commented on #57
it's already up to date

[2020-04-04 12:58] mshima commented on #57
you are right I confused.

[2020-04-04 13:02] mshima commented on #57
Worked for me:
[code]

Steps:
[code]

[2020-04-04 13:04] nicolas63 commented on #57
O_o ok so i investigate why it don't work for me.
thank you so much for your time and help !

[2020-04-04 16:44] nicolas63 commented on #57
@mshima the problem is only on windows due to windows format path
So i used the package "normalize-path" like :
[code]

[2020-04-04 16:53] mshima commented on #57
You could try `path.win32.normalize` instead.
Maybe this could be applied upstream. I don't know.

[2020-04-04 17:30] nicolas63 commented on #57
yes maybe in generator-base.js ?
[code]

[2020-04-04 17:52] mshima commented on #57
Yep.
Have you tested `path.win32.normalize`?

[2020-04-04 18:15] nicolas63 commented on #57
@mshima No, i have another problem.
There are still files in the folder /src/main/webapp

In think the problem is :

In file-angular.js when we use method: 'processJs'
[code]

the method is call and is transation is disable the path is not override

[code]

I'am not sure. what do you think?

[2020-04-04 18:47] mshima commented on #57
This one looks a bug to me.

[2020-04-04 18:55] mshima commented on #57
@nicolas63 can you test with https://github.com/jhipster/generator-jhipster/tree/output_customizer?

[2020-04-04 19:11] nicolas63 commented on #57
it's works !  there are just the src/main/webapp who was created but is empty. I don't know why

[2020-04-04 19:22] nicolas63 commented on #57
@mshima i have try without ```const normalize = require('normalize-path'); ``` but it doesn't work

[2020-04-04 20:15] mshima commented on #57
Just tried myself. `path.win32.normalize` doesn't do the job.
We should probably add normalize-path or slash.

[2020-04-04 20:29] nicolas63 commented on #57
For empty folder i have add a second regex :

[code]

So all works for me, if you could add normalize in main generator that would be great.
Thanks again for your help !

[2020-04-04 21:31] mshima commented on #57
Try this:
[code]

[2020-04-04 21:35] nicolas63 commented on #57
it works ! thanks

[2020-04-04 21:40] mshima commented on #57
I missed `: paths`.

Probably you saw.

[2020-04-04 22:04] nicolas63 commented on #57
yes, no problem thanks

[2020-04-05 16:50] nicolas63 commented on #93
## 1.   General Information

**Project Name:**

JHipster.NET blueprint

**License:**

Apache-2.0

**Contributor (Company, Organization or individual name(s)):**
The project is under JHipster Organization

Top five contributor :

@danielpetisme
@nicolas63
@BananeGuimauve
@maznag
@AdrianDo

**Existing OSS Project? (Yes/No):**

Yes

**Source Code URL:**

https://github.com/jhipster/jhipster-dotnetcor

[2020-04-05 16:51] nicolas63 commented on #93
@danielpetisme What do you think of that ? The is the on boarding issue on ( https://github.com/dotnet-foundation/projects/issue)

[2020-04-05 16:55] nicolas63 commented on #93
@jhipster/developers what do you think if this blueprint joins the .NET foundation ?

[2020-04-05 16:56] nicolas63 commented on #93
https://dotnetfoundation.org/

[2020-04-05 16:57] deepu105 commented on #93
If it helps the project in anyway I'm all for it

On Sun, 5 Apr 2020, 6:56 pm nicolas63, <notifications@github.com> wrote:

[2020-04-05 17:01] danielpetisme commented on #93
You definitely have my +1.
As always, struggling with time.
Feel free to start @nicolas63 , it's easier for me to support rather than lead this subject

[2020-04-05 19:20] nicolas63 commented on #93
https://github.com/dotnet-foundation/projects/issues/61

[2020-04-05 19:55] nicolas63 opened #96 "Mongo support"
@ItsInsajd and @AdrianDo Did you work on mongo support ?
I've seen a few commits on your fork. Do you need help ?

[2020-04-06 21:16] nicolas63 opened #97 "Add SonarCloud analysis on generator"
@deepu105, @pascalgrimaud or @jdubois can you create the project on sonarcloud ?

[2020-04-07 05:16] pascalgrimaud commented on #97
I'll take care of it

[2020-04-07 07:44] nicolas63 commented on #97
In same time, it is possible to add me in @jhipster/jhipster-net-admins ? (To be able to add github secret)

[2020-04-07 07:53] pascalgrimaud commented on #97
Here the information
- project key: jhipster_jhipster-dotnetcore
- organization key: jhipster

The SONAR_TOKEN was added to GitHub secrets.
First analyze was done when I linked SonarCloud to this project: https://sonarcloud.io/dashboard?id=jhipster_jhipster-dotnetcore

[2020-04-07 07:55] pascalgrimaud commented on #97
done

[2020-04-07 07:56] pascalgrimaud commented on #97
@nicolas63 : I'll let you add the Sonar Analyze to GitHub Actions, to check if it works well. Once you confirmed it, I'll let you close this ticket
Let me know if you encounter problems

[2020-04-07 07:57] jdubois commented on #97
@pascalgrimaud you are already an admin, I just checked

[2020-04-07 08:00] nicolas63 commented on #97
Great, thank you very much 😃 . I test it as soon as possible

[2020-04-07 10:06] pascalgrimaud commented on #97
@jdubois : yes I know, but I'd prefer letting @nicolas63 closing this ticket once he's considering the task done :)

[2020-04-07 11:01] nicolas63 commented on #97
@pascalgrimaud I have the error :
```You are running CI analysis while Automatic Analysis is enabled. Please consider disabling one or the other.```

Can you disable automatic analysis in sonarcloud ?

[2020-04-07 11:06] pascalgrimaud commented on #97
I don't know how to disable automatic analysis, maybe I can remove https://sonarcloud.io/dashboard?id=jhipster_jhipster-dotnetcore then, you'll try to push a new analysis ?

[2020-04-07 11:09] pascalgrimaud commented on #97
@nicolas63 : just done (disable), can you retry plz ?

[2020-04-07 11:15] nicolas63 commented on #97
@pascalgrimaud It works, thank you !

[2020-04-07 11:26] #97 closed

[2020-04-07 14:35] danielpetisme commented on #97
Hello,

Nicolas can I tweet the Sonar dashboard? The start are quite good IMHO with
the maturity we have.
Daniel PETISME
daniel.petisme@gmail.com

On Tue, Apr 7, 2020 at 1:26 PM nicolas63 <notifications@github.com> wrote:

[2020-04-07 15:01] sergrdz opened #98 "Add posibility to upgrade generated database"
Like the jhipster version for java, it uses liquibase to generate changes in the database. It would be nice to add this feature.

EntityFramework does it using "dotnet ef migrations add Update_1"

[2020-04-07 16:14] nicolas63 commented on #97
yes you can, but with minimal effort we can improve on that. It is better to wait no ?

[2020-04-07 16:31] danielpetisme commented on #97
As you prefer.

Le mar. 7 avr. 2020 à 18:14, nicolas63 <notifications@github.com> a écrit :

[2020-04-07 17:49] nicolas63 commented on #97
@danielpetisme it is better now 😃 (https://sonarcloud.io/dashboard?id=jhipster_jhipster-dotnetcore)

[2020-04-07 17:52] pascalgrimaud commented on #97
don't forget, you can add the badge in readme now

[2020-04-07 17:57] nicolas63 commented on #97
yes, i do this now

[2020-04-07 19:59] danielpetisme commented on #97
Arf I thought it was the quality of the generated project and not the
generator itself :/

Anyway super work Nico!
Daniel PETISME
daniel.petisme@gmail.com

On Tue, Apr 7, 2020 at 7:57 PM nicolas63 <notifications@github.com> wrote:

[2020-04-07 20:11] nicolas63 commented on #97
ah ah, no i will publish the app analysis after #90

[2020-04-10 08:28] nicolas63 commented on #98
@sergrdz As you said before EF already provide the migration tool. Do you want the generator to do it automatically when an entity was generated ?

[2020-04-10 14:47] sergrdz commented on #98
That's right, in the first generation of the application run the tool, and in subsequent changes to the model. In the current version, if changes are made to the model, they are not automatically added to the database. So the changes have to be added in another way.

[2020-04-10 18:31] nicolas63 commented on #98
We can do that, but i think the user must be able to choose when the migration is created so i propose you to ask if the generator add migration after entity creation with this the user can create multiple entity and create migration on the last entity.What do you think about this ? I work currently on issues for milestone 1.0.0. Feel free to you submit a PR if you are interested by this fonctiona

[2020-04-11 08:56] nicolas63 opened #103 "Write more test and write integration test for the generator"
Currently, there is no integration test and tests cover only 46% of the generator

[2020-04-13 14:19] sergrdz commented on #98
I think it's a good idea. But when entities are generated with the command "import-jdl", I can't find a way to know which is the end of generation to invoke generation of migration.

[2020-04-13 18:04] nicolas63 commented on #98
Yes, it's good remarks. So, yes we could generate migration when using entity generator.

[2020-04-13 18:06] nicolas63 commented on #80
The command jdl import already work because this command call entity generator, i close this issue

[2020-04-13 18:06] #80 closed

[2020-04-18 15:24] nicolas63 opened #112 "Override gitignore"
For now the generated gitignore is for java version so we can override for add dotnet version

[2020-04-18 17:15] nicolas63 opened #114 "SonarCloud analysis on generated app, and on PR"
@deepu105, @pascalgrimaud or @jdubois can you create the project https://github.com/jhipster/jhipster-sample-app-dotnetcore on sonarcloud please ?

The SonarCloud app(bot) is also link to github but analysis is done only on branch like https://github.com/jhipster/jhipster-dotnetcore/pull/111
I think the feature is good for monitoring code quality
Can you verify the configuration and check if you c

[2020-04-18 21:41] pascalgrimaud commented on #114
@nicolas63 : ok I will do it tomorrow. If I forget, don't hesitate to remind me :)

[2020-04-19 08:55] #57 closed

[2020-04-19 09:26] #13 closed

[2020-04-19 12:05] #79 closed

[2020-04-19 14:49] #74 closed

[2020-04-19 20:26] nicolas63 opened #118 "Entity generation don't work for one to one relation"

[2020-04-19 20:29] nicolas63 opened #119 "Add integration test on entity generation"
- [ ] Add integration test with jhipster entity cli
- [x] Add integration test with jhipster import-jdl cli

[2020-04-19 20:59] #118 closed

[2020-04-20 17:21] nicolas63 opened #127 "Release v1.0.0"
@jdubois, @deepu105 and @pascalgrimaud i think this project is nearly ready for the first release.
I think we can release this version just after jhipster v6.9.0.

Are you agree @danielpetisme ?

A lot of work has been done since 0.3 (https://github.com/jhipster/jhipster-dotnetcore/milestone/1)

Have you some requirement in terms of features or documentation for blueprint release ?

[2020-04-20 17:22] nicolas63 commented on #114
@pascalgrimaud just a quick reminder 😃

[2020-04-20 20:24] pascalgrimaud commented on #114
@nicolas63 : just done, right now
- project key: jhipster_jhipster-sample-app-dotnetcore
- organization key: jhipster

I added the SONAR_TOKEN to GitHub secrets.
The analyze will be there: https://sonarcloud.io/project/configuration?id=jhipster_jhipster-sample-app-dotnetcore

Don't hesitate to tell me if it doesn't work

[2020-04-20 20:35] nicolas63 commented on #114
@pascalgrimaud thank you very much. Have you verify the second question for sonarcloud bot ?
For now only internal PR was analyse by the SonarCloud bot (like #111)

![image](https://user-images.githubusercontent.com/14818936/79796997-cc864880-8356-11ea-81c4-fe724121d5d8.png)

if it is possible i would like analyse also the PR from fork repository

[2020-04-20 20:36] nicolas63 commented on #114
I think the configuration needs to be done here, but I don't have the rights.
https://github.com/apps/sonarcloud/installations/5508828

[2020-04-20 20:39] pascalgrimaud commented on #114
for security reason, I never manage to make it work for PR, as all secrets are not available for PRs
It can only works for local branch

Would you like to activate it ? it means you'll have to work with local branch of this repo, but the bad things is it will trigger 2 builds: one for branch, one for PR

[2020-04-20 20:45] nicolas63 commented on #114
Oh ok, it's already activate on local branch. Thank you for the explanation

[2020-04-20 21:23] nicolas63 commented on #114
@pascalgrimaud, I reopen this issue. I think we misunderstood, I would only the PR decoration with sonarcloud. It seems possible like (https://github.com/microsoft/VoTT/pull/938) and is it document here ( https://sonarcloud.io/documentation/analysis/pull-request/)

[2020-04-20 23:27] maznag opened #128 "Pagination doesn't work !"
The pagination doesn't work for user-managment

[2020-04-21 07:42] pascalgrimaud commented on #114
Indeed, I think we don't understand well each other, as it seems to be differents things here.

Analyze of blueprint **jhipster-dotnetcore**
- https://github.com/jhipster/jhipster-dotnetcore -> https://sonarcloud.io/dashboard?id=jhipster-core
- the automatic analysis is disabled, so we need to put a SONAR_TOKEN in secrets and push the analyze with the CI
- this part is done today

Analyze of the a

[2020-04-21 08:00] nicolas63 commented on #114
Analyze of blueprint jhipster-dotnetcore : this part is done today
Analyze of the another project jhipster/jhipster-sample-app-dotnetcore : sonar project created and yes I have to add the CI and i think use something like https://github.com/jhipster/generator-jhipster/blob/master/test-integration/scripts/25-sonar-analyze.sh

The last part is PR decoration by sonarcloud bot in generator project not

[2020-04-21 09:01] #128 closed

[2020-04-21 12:27] danielpetisme commented on #127
You did an awesome job Nicolas!!
I've got 2 main conditions to hit 1.0,0.
Feature side, it looks like we cover the `sample-app` scenario (client/server generation + JWT auth + entities generation with data migration + the corresponding tests). Can you confirm that.

The other aspect is the project overall quality, you did a great job with sonar (either for the generator and for the generated appli

[2020-04-21 17:05] pascalgrimaud commented on #114
I tried to param it, everything should be config as mentionned in docs but still doesn't work :(

https://sonarcloud.io/project/settings?category=pull_request&id=jhipster_jhipster-dotnetcore

[2020-04-21 17:36] nicolas63 commented on #114
I don't understand why this isn't working. Maybe you can give me the rights temporarily?
Thanks again for your time on this issue

[2020-04-21 20:57] nicolas63 commented on #127
[code]
Yes, just the data migration was done by entity framework not by the generator

[code]
https://sonarcloud.io/organizations/jhipster/projects i'am work on it, i juste have to exclude rules like main jhipster sample. And publish code coverage.

 ```if I ask a new team to start with the generator, do you think we have all the information to generate a first app without issue? All the documenta

[2020-04-22 08:02] pascalgrimaud commented on #114
did you link your GitHub account to SonarCloud @nicolas63 ?

[2020-04-22 08:03] nicolas63 commented on #114
yes

[2020-04-22 08:35] pascalgrimaud commented on #114
can you contact me by private mail plz ?

[2020-04-22 08:47] nicolas63 commented on #127
After exclude generated files the analysis is not bad 😃 , now i try to add coverage

![image](https://user-images.githubusercontent.com/14818936/79961088-80d2bc80-8486-11ea-808c-6aab663be7d7.png)

[2020-04-22 09:12] pascalgrimaud commented on #114
Oh, I just look at the logs in GitHub Actions:
- https://github.com/jhipster/jhipster-dotnetcore/pull/138/checks?check_run_id=605919815
- see the stacktrace:

[code]

That's because the SONAR_TOKEN is not available for manual analyze, maybe ?

[2020-04-22 09:15] nicolas63 commented on #114
Yes, it's work now 😃

[2020-04-22 10:12] nicolas63 commented on #114
All works now, analysis on generated app, and on PR.
Great thanks to @pascalgrimaud

[2020-04-22 10:18] #114 closed

[2020-04-22 14:47] nicolas63 opened #152 "Enum support"
For now the enum type is no support

[2020-04-22 19:53] nicolas63 opened #153 "Many to many do not work with jdl-import"

[2020-04-23 08:00] #87 closed

[2020-04-23 11:56] danielpetisme commented on #127
@nicolas63 you rock. I do approve the v1.0.0

[2020-04-23 12:05] jdubois commented on #127
Don't forget to announce it everywhere!! Can you tell me when I can tweet this with the JHipster account? Or just @ mention me

[2020-04-25 09:00] nicolas63 opened #165 "Blazor as front"
Give the possibility to choose blazor for the frontend framework with this we can have full stack .NET

The first goal is to have a sample app with login and entities pages

If you are interested : https://github.com/nicolas63/JhipsterBlazor

[2020-04-29 18:33] maznag opened #175 "Why you configured Dependabot Preview to automatically update dependencies? Is it a good practice?"
Why you configured Dependabot Preview to automatically update dependencies? Is it a good practice?

I think we need to update manually the versions to avoid regressions.

[2020-04-29 18:34] maznag opened #176 "Add sort possibility"
Sort doesn't work  for users management.

[2020-04-29 19:50] nicolas63 commented on #175
I think integration test are sufficient to avoid regressions and I merge PR of dependabot manually. But we can discuss if you are desagree

[2020-04-29 19:53] nicolas63 commented on #176
Can you analyze the server requests that failed during sorting ?

[2020-05-02 21:07] nicolas63 commented on #165
@jdubois, @deepu105 , @pascalgrimaud . I Have work on sample application using Blazor ( an .net framework for create front app with web assembly). I'll soon have the minimum functions for create generator. But what is better, add this options in this blueprint or create an other blueprint juste for the Blazor front ?

[2020-05-02 21:38] deepu105 commented on #165
Separate blueprint will be better IMO

[2020-05-03 07:59] nicolas63 commented on #165
Yes, but there are certain logics that can be shared such as the C# naming convention, solution management, etc. If I create a new blueprint , maybe this logic can be extracted in another package like jhipster core ?
One of the advantages of using .net on both the client and server side is the ability to share code.
Does it make sense to create another blueprint if I want to share code on the gene

[2020-05-03 08:36] danielpetisme commented on #165
I would propose to generate Blazor front in the current dotnet blueprint.

My guess is that only .Net devs will use Blazor. I can't imagine a Java
server with a .Net front, it does not feel natural...

So stick to the easiest solution, propose Blazor with the current blueprint
and later on, if it make sense to split it then we would have facts to
justify it.

Le dim. 3 mai 2020 à 09:59, nicolas63

[2020-05-03 08:56] nicolas63 commented on #165
Okay, I think that's a good solution. Thank you @danielpetisme

[2020-05-03 09:25] deepu105 commented on #165
If you do it in this blueprint you need to do dome work around to propose
react/angular options without overriding the entire front end prompts

On Sun, 3 May 2020, 10:56 am nicolas63, <notifications@github.com> wrote:

[2020-05-03 10:01] nicolas63 commented on #165
yes it is possible ?

[2020-05-07 01:10] ivanmonteiro opened #189 "Problem after generating app on Windows"
##### **Overview of the issue**

Fails to run application on Windows 10 machine but on docker inside a linux container it runs without any issue.

When running `dotnet run --verbosity normal --project ./src/Jhipster/Jhipster.csproj` as the generator suggests, the following error is shown:

npm webpack:build

Usage: npm <command>

where <command> is one of:
    access, adduser, audit, bin, bugs, c,

[2020-05-07 18:49] nicolas63 commented on #189
Have you used the master branch or just the npm package ?

[2020-05-07 20:20] nicolas63 commented on #189
I can't reproduce on windows. Do you have a configuration that could explain this problem ?

[2020-05-07 20:24] ivanmonteiro commented on #189
I used the master branch

[2020-05-07 20:38] nicolas63 commented on #189
can you try
```npm run webpack -- --config webpack/webpack.dev.js --env.stats=verbose```

[2020-05-07 20:52] ivanmonteiro commented on #189
Webpack: Starting ...

    → [0%] 0 of 0 modules ::
    → [0%] 0 of 0 modules ::
    → [0%] 0 of 1 modules :: src/content/scss/global.scss ~ internal
    → [0%] 1 of 1 modules ::
    → [0%] 1 of 2 modules :: src/content/scss/global.scss ~ internal
    → [0%] 1 of 3 modules :: src/app/app.main.ts ~ internal
    → [0%] 1 of 4 modules :: node_modules/style-loader/dist/runtime/injectStylesIntoStyleTag

[2020-05-07 20:55] nicolas63 opened #193 "Debug error with blueprint"
[code]

The ascii art was display twice now and error was diplay in debug mode, maybe due to your modification on blueprint auto-install @mshima ? Maybe link to https://github.com/jhipster/generator-jhipster/issues/11727 ?

[2020-05-07 21:07] nicolas63 commented on #189
Have you the same error with prod configuration ?
npm run webpack -- --config webpack/webpack.prod.js --env.stats=verbose

[2020-05-07 21:30] nicolas63 commented on #189
Normally this part (webpack build) is the same as the main generator. Have you the same error with the main generator ?

[2020-05-07 21:30] ivanmonteiro commented on #189
With prod configuration it seems to not generate errors.
Log:
npm run webpack -- --config webpack/webpack.prod.js --env.stats=verbose

Webpack Bundle Analyzer saved report to C:\Users\default.DESKTOP-NO1C5HC\projetos\jhipster-app-core-030\src\Jhipster\ClientApp\stats.html
Hash: 37fdd40129f39149f53c
Version: webpack 4.43.0
Time: 44522ms
Built at: 2020-05-07 18:27:53

[2020-05-07 21:33] mshima commented on #193
@nicolas63 try removing the auto-install cache: `rm -rf .yo-repository`

[2020-05-07 21:41] nicolas63 commented on #193
It's the same result (i have test on an empty folder)

[2020-05-07 21:50] mshima commented on #193
Are you trying to run a linked version?
Lookups like it's running a dotnetcore 0.3.0 instance were app blueprint doesn't exists.
`Error: Generator jhipster-dotnetcore:app isn't registered.` error is normal, it means the app blueprint was not found.

[2020-05-07 21:51] mshima commented on #193
I think https://github.com/jhipster/generator-jhipster/issues/11727 is related to commander 3 -> 4 update.

[2020-05-07 21:52] nicolas63 commented on #193
yes, i try to run linked version

[2020-05-07 21:53] nicolas63 commented on #193
and yes in 0.3.0 the app doesn't exist but it exist now

[2020-05-07 21:54] mshima commented on #193
See if `C:/Users/Nicolas/AppData/Roaming/npm/node_modules/generator-jhipster-dotnetcore/generators/app/index.js` exists.

[2020-05-07 22:04] nicolas63 commented on #193
Yes you're right, thanks ! i have re run npm link and the app folder appears. Now it's works !

[2020-05-07 22:08] #193 closed

[2020-05-08 05:58] nicolas63 commented on #189
Have you try the main generator (Spirngboot + angular ) ?

[2020-05-08 10:03] maznag commented on #175
Sorry for the delay !

I think it's better to do it manually like for the main Jhipster generator. I find that there is too much PR. 128 PR while we are just at version 0.3.0

I'll let you decide what's the best approach.

[2020-05-08 10:06] maznag opened #194 "404 error when refresh the fronted with a route path that not exist in the backend Route"
404 error when refresh the fronted with a route path that not exist in the backend Route, /dashboard for example

We need to add SPA support in the backend

I'll do a PR for this !

[2020-05-08 10:56] nicolas63 commented on #175
An other solution is to create dependabot PR on other branch and merge it manually after many update.
What do you think about it ?

[2020-05-08 11:58] maznag commented on #175
Why not, but we need to rebase before merge

[2020-05-08 16:59] #194 closed

[2020-05-08 17:03] nicolas63 commented on #175
Yes, I'll do that.  I see you regularly on the project would you be interested to come in the jhipster.net developers team ?

[2020-05-08 19:10] dependabot-preview[bot] opened #197 "Dependabot couldn't parse the config file at .dependabot/config.yml"
Dependabot couldn't parse the config file at `.dependabot/config.yml`. The error raised was:

[code]

Please ensure the config file is a valid YAML file. An online YAML linter is available [here](https://jsonformatter.org/yaml-validator).

[2020-05-08 19:14] #197 closed

[2020-05-08 19:32] ivanmonteiro commented on #189
The main java generator is working fine.
Also, I just tested with the npm version of this generator 0.3.0 installed using npm and it is working fine.
Only when I get the master version of this repository that has this error occurs.
Seems that some commit AFTER version 0.3.0 is causing this error

[2020-05-08 21:54] ivanmonteiro commented on #189
Which version of node are you using?

[2020-05-09 05:38] maznag commented on #175
Interesting. Yes I would like to join the JHipster.net developers team. Thanks for your proposition. I'm starting to get interested in dotnet core and I intend to contribute more to this project. I'm also a generator-jhipster (java/Angular) contributor (11 commit https://github.com/jhipster/generator-jhipster/commits?author=maznag  and I want to participate also this year).

[2020-05-09 06:23] nicolas63 commented on #189
12.16.3 on my machine and 12.16.1 on CI

[2020-05-09 06:27] nicolas63 commented on #189
I compared webpack files between this generator and the main generator the only differences are due to path.

[2020-05-09 06:32] nicolas63 opened #198 "Access rights"
@jdubois Can you add @maznag in jhipster-net-developers please ?

[2020-05-09 09:57] maznag commented on #176
Sort isn't implemented yet ! There is just a Sort class but isn't used in the UsePageable method

[code]

I find that there is too much unused code for pagination/sort classes.

@danielpetisme Have you used the Spring Data implementation org.springframework.data.domain.Pageable and Sort used in main generator JHipster to implement these classes? It seems to me that it is the same implementation!

[2020-05-09 10:03] maznag opened #199 "Main generator-jhipster generate too much unused components for ClientApp"
Main generator-jhipster generate too much unused component for ClientApp such as: audits, configuration, docs, health and metrics. there is non backend for these components.

We need to remove these component during the generation process.

[2020-05-09 10:11] danielpetisme commented on #176
You're right I took inspiration from spring pagination and translated it into c# and yes the migration is not done 100%

I searched for the same kind of lib in .Net but I wasn't satisfied.

What I like with spring pagination is the fact of using the same objects across the web and data access layers. The controller catch from the query string a `Pageable` wich is forward as is to the repository me

[2020-05-09 10:11] pascalgrimaud commented on #199
@maznag : for your information, we plan to remove all these components, probably in the next major v7 version of generator-jhipster.
All these information will be included in the project JHipster Control Center:
- discussion at https://groups.google.com/forum/#!topic/jhipster-dev/w-7tXPnIjlE
- project at https://github.com/jhipster/jhipster-control-center

It is currently developped by 2 interns a

[2020-05-09 10:31] maznag commented on #199
@pascalgrimaud thanks for this information.

[2020-05-09 14:18] nicolas63 commented on #93
[code]

[2020-05-09 14:18] #93 closed

[2020-05-09 20:26] #199 closed

[2020-05-10 05:03] maznag commented on #176
@danielpetisme  thanks for these precisions.

Likewise, I couldn't find a satisfied generic implementation. I only find simple examples for specific cases.

I find what you have initiated is in the right direction. I will try to continue on your work by adding a Sort possibility.

[2020-05-10 12:13] nicolas63 commented on #189
i have also the problem now, it is also present in the main generator (branch master)

[2020-05-10 12:14] nicolas63 commented on #189
linked issue (https://github.com/jhipster/generator-jhipster/issues/11755)

[2020-05-11 03:35] ivanmonteiro commented on #189
I downgraded the package html-loader from version 1.1.0 to version 0.5.5 as suggested by the issue that you mentioned above and now it works.

Thank you @nicolas63 , now I can run my application.

[2020-05-11 07:18] nicolas63 commented on #175
done in (https://github.com/jhipster/jhipster-dotnetcore/commit/9d69482d4cb8e4ef1bcd37b0e974f89634489212)

[2020-05-11 07:18] #175 closed

[2020-05-14 11:05] nicolas63 commented on #198
or maybe @deepu105 / @pascalgrimaud

[2020-05-14 11:13] jdubois commented on #198
Done :-)

[2020-05-14 11:13] #198 closed

[2020-05-14 11:17] nicolas63 commented on #198
thank you @jdubois 😃

[2020-05-14 12:45] maznag commented on #198
@jdubois thanks !

[2020-05-14 19:05] #189 closed

[2020-05-15 18:20] ivanmonteiro opened #212 "Make it easier to work with database migrations"
##### **Overview of the feature request**

Lets make working with databases and migrations more easy specially for new users.
Some of the problems I found could be stated as pre-requisites on the project documentation (such as the global install of .net core ef tool), so If you find it interesting I can provide a pull request adding those pre-requisites to the docs.

For me, the current workflow i

[2020-05-15 20:25] nicolas63 commented on #212
You're absolutely right !

Just few remarks/tips :

```dotnet add package Microsoft.EntityFrameworkCore.Design --version 3.1.4 ```
we can add Microsoft.EntityFrameworkCore.Tools

[code]

[2020-05-15 21:37] nicolas63 opened #214 "Security issue passwordHash was return in user management view"
In the method GetAllUsers of the UserController all user fields was return
we need to return only necessary fields for this we can map fields on UserDto

[2020-05-16 19:13] ivanmonteiro commented on #212
I sure can help with:

- documentation on migrations

- and add missing package required for migration on the csproj (and thanks for the suggestion of using Microsoft.EntityFrameworkCore.Tools it works and does resolve the error of missing Microsoft.EntityFrameworkCore.Design package).

But the automation of generating and running migrations is something that can be tricky - as per discussion on i

[2020-05-16 20:41] nicolas63 commented on #212
Yes, i think too the automation is harder and we need to design it before implement that.

[2020-05-16 20:59] ivanmonteiro commented on #212
On further inspection, the Microsoft.EntityFrameworkCore.Tools package seems to be related to the commands related to visual studio (Add-Migration, Scaffold-DbContext, etc...)  and since I'm using VS Code I'm using the cli instead (dotnet ef migrations add InitialCreate and dotnet ef database update) so I dont really need that package.

I DO need the Microsoft.EntityFrameworkCore.Design package si

[2020-05-16 21:33] nicolas63 commented on #212
Yes Microsoft.EntityFrameworkCore.Tools is a superset of design package. I don't really need it but i prefer add it rather than design for cover all use case.

[2020-05-16 21:37] ivanmonteiro commented on #212
Since it does solve the missing Desing package I'll be adding the Tools package

[2020-05-17 20:04] #212 closed

[2020-05-18 17:59] nicolas63 commented on #127
@jdubois can you tweet release 1.0.0-alpha of this package ?
Here is a summary of the features brought by this version :
 - OpenIdConnect (With keycloak and okta)
 - The react support
 - Sonar improvement
 - Many bug fixes

The link of the release note (https://github.com/jhipster/jhipster-dotnetcore/releases)

Thank you in advance !

[2020-05-18 19:03] jdubois commented on #127
Thanks, doing it right now! @nicolas63 are you on Twitter? What's your handle?

[2020-05-18 19:21] nicolas63 commented on #127
No, sorry i'm not on twitter

[2020-05-18 19:44] #127 closed

[2020-05-18 19:44] nicolas63 commented on #127
thanks @jdubois

[2020-05-19 19:13] amatosg opened #223 "Cannot read property 'otherEntityNamePascalized' of undefined"
##### **Overview of the issue**
When running `jhipster import-jdl ../FacturApp/facturapp.jh` I'm getting `Cannot read property 'otherEntityNamePascalized' of undefined`.

Full error log:

[code]

No entity was generated.

##### **Motivation for or Use Case**

I'm unable to import a JDL file.

##### **Reproduce the error**
* create a jhipster dotnet app
* import jdl
* bum

##### **Related issues**

[2020-05-19 19:35] nicolas63 commented on #223
Have you many-to-many relation in your jdl ?

[2020-05-19 19:37] amatosg commented on #223
yes, only one.

[2020-05-19 19:40] nicolas63 commented on #223
We have an issue with jdl and many-to-many (https://github.com/jhipster/jhipster-dotnetcore/issues/153)
But you can generate this entity with `jhipster entity YourEntity`

[2020-05-19 19:43] amatosg commented on #223
it only generated the json entities in the `.jhipster` folder though.

[2020-05-19 19:45] nicolas63 commented on #223
can you show me logs ?

[2020-05-19 19:48] amatosg commented on #223
this is the full log then executing the import command: https://pastebin.com/WDSaUYNV

[2020-05-19 21:03] nicolas63 commented on #223
I'm going to work on it. A workaround was to remove many-to-many in jdl and generate it manually with jhipster entity command

[2020-05-21 17:37] nicolas63 commented on #223
@amatosg  Can you try with #224 ?

[2020-05-21 17:58] amatosg commented on #223
did you lease it? How can I test it?

[2020-05-25 20:34] #153 closed

[2020-05-25 20:34] #214 closed

[2020-05-27 14:53] #176 closed

[2020-05-28 16:29] ivanmonteiro opened #228 "Problem with multiple many-to-many relationships in JDL"
##### **Overview of the issue**

When defining multiple many-to-many relationships with jdl, the Join Entity class is created with the same contents of the first relationship, for all relationships. This causes complier error because the same class is created again and again.

##### **Motivation for or Use Case**

##### **Reproduce the error**

Create a jdl with two or more many-to-many relationsh

[2020-05-30 05:04] ivanmonteiro opened #229 "NullReferenceException related to sorting/paging"
##### **Overview of the issue**

I get the following NullReferenceException when viewing any listing page:

Exception has occurred: CLR/System.NullReferenceException
Ocorreu uma exceção do tipo "System.NullReferenceException" em JHipsterNet.dll, mas ela não foi manipulada no código do usuário: 'Object reference not set to an instance of an object.'
   em JHipsterNet.Pagination.Binders.PageableBind

[2020-05-30 09:18] nicolas63 commented on #229
Can you create a PR with the fix and ask @maznag to review ?

[2020-05-30 23:12] ivanmonteiro commented on #229
Sure

[2020-05-30 23:13] ivanmonteiro commented on #229
I will do that this weekend

[2020-06-01 10:13] #229 closed

[2020-06-01 19:13] ivanmonteiro commented on #223
@nicolas63 I was also experiencing this error. I tested this and can confirm that this error does not occur with the fix that you provided (#224).
I experienced a little issue with multiple many-to-many relationships defined in jdl and opened issue #228 - basically all JoinedEntity classes are generated with the exact same code

[2020-06-01 19:15] nicolas63 commented on #223
Thank you for your feedback. I have see #228 but I haven't looked at the problem yet.

[2020-06-01 19:16] #223 closed

[2020-06-04 08:06] ivanmonteiro opened #240 "Redirect loop using pagination and quickly switching from one entity's list page to another"
##### **Overview of the issue**

When you open up another entity page while the current request is not finished, it seems that it causes a redirect loop.
This can possibly cause a Denial of Service.

It goes on like this:
Manually Open EntityA list page
Request for EntityA listing begins

Manually Open EntityB list page
Request for EntityB listing begins

Request for EntityA listing ends
Get redir

[2020-06-05 21:18] ivanmonteiro commented on #240
This seems to be related to the clientside request callback calling the router to change the url.
Since the previous request did not finish before we switched pages, when it completes, it calls the onSuccess function:
ClientApp/src/app/entites/entityname/entityname.component.ts
`
  protected onSuccess(data: ICliente[] | null, headers: HttpHeaders, page: number): void {
    this.totalItems = Number

[2020-06-05 21:20] ivanmonteiro commented on #240
I'm not sure how we can change this behaviour.
Maybe cancelling pending requests when the user changes the current page, is it possible?

[2020-06-05 21:26] nicolas63 commented on #240
Can you test this on java if they are the same issue ?

[2020-06-05 22:26] ivanmonteiro commented on #240
@nicolas63 I just tested on java version 6.9.0, added a delay of 2 seconds on both EntityNamesResource.java file (so I have time to click the navbar and switch from one entity to another)
And it shows the same behaviour of the dotnet version.

[2020-06-05 22:27] ivanmonteiro commented on #240
@nicolas63 so it seems to be related to the main jhipster generator

[2020-06-05 22:28] maznag commented on #240
This isn't related to the sorting/paging feature added to the backend.

It's indeed an issue of the frontend (main generator JHipster) which was fixed for v6.9.1 (https://www.jhipster.tech/2020/06/01/jhipster-release-6.9.1.html). See https://github.com/jhipster/generator-jhipster/issues/11768 and https://github.com/jhipster/generator-jhipster/pull/11773 for more details.

[2020-06-05 22:29] nicolas63 commented on #240
Ok so can you create an issue in main generator and reference this issue on it ?

[2020-06-05 22:31] ivanmonteiro commented on #240
Yes, I will create an issue on the main generator. This one remais open or close?

[2020-06-05 22:32] nicolas63 commented on #240
Nice thank you @maznag for this information. @ivanmonteiro can you try with 6.9.1 ?

[2020-06-05 22:32] ivanmonteiro commented on #240
I will test with 6.9.1 today and get back to you

[2020-06-05 23:14] ivanmonteiro commented on #240
@maznag I just locally upagraded  the dotnet generator to use tha main generator v6.9.1 and the issue is solved.
Thank you @maznag  and @maznag

[2020-06-05 23:18] ivanmonteiro commented on #240
There is a dependabot PR on dependencies branch that upgrades the version of main generator to v6.9.1 #238
Maybe merge it on branch?

[2020-06-06 06:59] nicolas63 commented on #240
Yes, i will do this today

[2020-06-06 07:27] #240 closed

[2020-06-06 07:31] nicolas63 commented on #119
Done in 8e72a71d229ffa2aa829d899bd0b0f3c674adfa3
 jhipster entity cli not covered because import-jdl call same method

[2020-06-06 07:31] #119 closed

[2020-06-06 07:46] nicolas63 commented on #240
merged #241. Thank you @ivanmonteiro for this bug report

[2020-06-06 07:47] nicolas63 commented on #228
I have look this issue but i have no idea how to resolve it. If anybody can help @jhipster/developers

[2020-06-09 19:23] #228 closed

[2020-06-10 19:29] nicolas63 opened #247 "Update to 1.0.0"
hi @jdubois the 1.0.0 is here can you tweet this please ?

[2020-06-11 03:20] ivanmonteiro opened #248 "Dotnet tests are failing due to wrong startup class"
##### **Overview of the issue**

Dotnet tests use a specific NhipsterWebApplicationFactory with TestStartup specific for the tests to work,
but the tests are generated with NhipsterWebApplicationFactory with Startup class instead, which causes errors.

##### **Motivation for or Use Case**

All entites tests are failing.

##### **Reproduce the error**

Generate application with at least one entity.

[2020-06-11 03:22] ivanmonteiro commented on #248
Closed because I just checked and it was alredy fixed latests commits

[2020-06-11 03:22] #248 closed

[2020-06-11 08:13] maznag opened #249 "Is there any C# API for Liquibase/Flyway to manage DB changes instead of EF Data Migration ?"
Is there any C# API for Liquibase/Flyway to manage DB changes  instead of EF Data Migration ?

[2020-06-11 11:58] nicolas63 commented on #249
Why do you need this ? Liquibase already work and i think flyway too but you need to create changeset manually

[2020-06-11 14:02] maznag commented on #249
Where do Liquibase already work? it isn't configured for the JHipster.net project ?

I need it to manage database changes like as for main generator-jhipster (with Liquibase). I'm talking about that https://www.liquibase.org (Only for Java). I think it doesn't exist for .Net.

I found this package https://www.nuget.org/packages/Liquibase.Cli/ but it isn't widely used and the project doesn't even e

[2020-06-11 14:15] maznag opened #252 "Add server-side Internationalization (i18n) support"
Can we add Internationalization (i18n) support in a server side as for main generator-jhipster (https://www.jhipster.tech/installing-new-languages/#supported-languages) ?

some links to help:
* https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1
* https://blog.codingmilitia.com/2019/04/24/aspnet-018-from-zero-to-overkill-internationalization/
* https://www.c-

[2020-06-11 18:16] nicolas63 commented on #249
Liquibase is not configured by jhipster.net but you can use it if you want (yes it's a java tool but you can use it).
Why do you need other tool than EF Data Migration ? the principle is exactly the same than liquibase

Yes today the project don't generate migration but if they is already an issue on it (https://github.com/jhipster/jhipster-dotnetcore/issues/98)
and @ivanmonteiro has documented ho

[2020-06-11 20:51] ivanmonteiro commented on #249
Personally I dont like liquibase. The main reason is because of its xml configuration files. I find them to be too verbose.

I'm more inclined to use migrations that you can write them using c# code and more in the philosophy line of ruby on rails migrations.
The benefits of compiling your migration code and being able to read it easily are really compelling to me.

About the Dotnet EF Migrations,

[2020-06-11 22:31] maznag commented on #249
@nicolas63 @ivanmonteiro thank you for your feedbacks.

I didn't pay attention that there is already an open issue for the data migration. So we can close this one :-)

Personally, I only used Liquibase for Java projects and I don't have a problem with it and I still use it.

This year I'm starting to be interested to dotnet core. I'm currently working on two different projects for a client: Angul

[2020-06-11 22:47] ivanmonteiro commented on #249
I think ef migrations it is good enough, but not perfect. We still have to run the dotnet ef tool to generate them.

And I would be happy to see improvements on migration on jhipster.net, like  generation of migration code automatically when entities are changed, see issue #98.
Or even choosing other migration library if it seems better to use.

Maybe we shoud discuss further there, and feel free

[2020-06-12 05:59] nicolas63 commented on #249
For me, ef migration is just THE ONE solution for dotnet project. You can do exactly the same thinks than liquibase (apply changes and rollback)
I think the better to choose is to test it 😄

`do code First and generate the migration after.`
Yes, if you choose code first approach.

I'am very interesting to have feedback from your client project.

For question like this or other discussion don't hes

[2020-06-12 05:59] #249 closed

[2020-06-16 04:45] ivanmonteiro commented on #152
I'm doing some development on enum on my fork at the add-enum branch and hope to push a PR soon

[2020-06-16 04:51] ivanmonteiro commented on #152
Just adding a remark that without the server-side translations (see issue #252), the client app will display translation-not-found error.

[2020-06-17 06:44] #247 closed

[2020-06-19 21:06] ivanmonteiro commented on #48
It would be nice if the user can choose if the entitiy will be auditable or not.

[2020-06-19 21:23] ivanmonteiro commented on #16
The templates of the emails could be stored as razor templates, the same template files of asp.net core/mvc.
Maybe the folder could be  Views/Mails or Views/Shared/Mails.
With this, we can pass a Model object, like WelcomeMailModel, pass it to the view and get the result as the final html for the email.

For reference:
https://www.c-sharpcorner.com/article/send-email-from-a-razor-page-in-net-core-

[2020-06-19 21:46] nicolas63 commented on #16
I think is a good idea :smile:
Can you try an implementation ?

[2020-06-20 07:36] #38 closed

[2020-06-20 10:51] nicolas63 commented on #48
Yes it is pretty easy to add with this  (https://www.entityframeworktutorial.net/faq/set-created-and-modified-date-in-efcore.aspx)

[2020-06-22 01:32] EnmanuelReyes opened #257 "Change webpack proxy port"
##### **Overview of the issue**

The .NET CORE application gets deployed using port 5001 but the webpack proxy points to localhost:8080, which is the default for the java application.

##### **Motivation for or Use Case**

So we can run the angular app individually with Browsersync.

##### **Reproduce the error**

Generate an application using this blueprint.

##### **Related issues**

##### **Sug

[2020-06-24 11:30] #112 closed

[2020-06-25 10:05] nicolas63 opened #262 "Update dependencies of the backend"
@romain325 is working on

[2020-06-26 07:08] nicolas63 opened #266 "Update gitattributes for detect c#"
A good example (https://github.com/jhipster/jhipster-kotlin/blob/master/.gitattributes)

[2020-06-26 10:12] nicolas63 opened #267 "Create jhipster dotnet version variable"
##### **Overview of the feature request**

Create jhipster dotnet version variable

##### **Motivation for or Use Case**

Today i manually update jhispter dotnet version in generated readme

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-06-26 10:18] nicolas63 commented on #267
For the implementation we juste need to reproduce jhispterVersion behavior

[2020-06-26 11:32] romain325 commented on #267
Is there already a "References" file or do we need to create it?

[2020-06-26 12:01] nicolas63 commented on #267
In this file (https://github.com/jhipster/jhipster-dotnetcore/blob/master/generators/common/templates/dotnetcore/README.md.ejs) you can find <%= jhipsterVersion %> who is declare by the main generator, the idea is to create an jhipsterDotnetVersion from package version like here (https://github.com/jhipster/generator-jhipster/blob/d66bc7a27edad0bb670af3500856c8da11fb7702/generators/server/index.js

[2020-06-26 12:53] romain325 commented on #267
Alright thx !  it's done, i'll just make it in another branch (i havent checkout master before creating the new branch lol)

[2020-06-26 18:09] ivanmonteiro commented on #257
I have noticed it too, took me some minutes to figure out where to change the port (webpack.dev.js).
It certainly needs to be changed somewhere, but I'm also not sure if on the client configuration side or change the ports of the dotnet backend.

[2020-06-26 18:20] nicolas63 commented on #257
Yes, i have change port in the generator but it didn't work. I need more time for investigate.

[2020-06-26 23:06] ivanmonteiro commented on #98
The java generator actually generates the liquibase migrations itself using templates, but since in dotnet we have the dotnet ef tool that automatically generates them I think using it is the way to go because it is just a simple command with one line.

I have added some documentation to the readme.md on how to use entity framework database migrations but it is still a manual job to run the dotnet

[2020-06-27 07:03] nicolas63 commented on #98
For the jdl the better place is in https://github.com/jhipster/generator-jhipster/blob/master/cli/import-jdl.js
At the end of  `generateEntities(env, forkProcess)`
But actually we not override this part.
Maybe and hook can be add in the main generator. Maybe @mshima can help us.

For generation after entity generation with cli we can add command here (https://github.com/jhipster/jhipster-dotnetcor

[2020-06-27 11:24] mshima commented on #98
Not sure but looks like you want something like this at the blueprint main generator:
[code]

[2020-06-27 11:33] nicolas63 commented on #98
@mshima thanks for your answer. I think your code work for one entity (like with entity generation with cli). The idea is to call this code only once after jdl generation rather than one per entity and i don't know if it is possible in the blueprint to add one callback after jdl generation.

[2020-06-27 12:38] mshima commented on #98
Not sure why you think so.
If you put at main(app) generator it will run once per application, if you put at entity generator it will run once per entity.

There is no easy way to add a custom callback to jdl generation, only if you override jhipster import-jdl/jdl command. The only callback is the jhipster main generator, which is called like `jhipster --with-entities --force` (can be missing som

[2020-06-27 13:25] nicolas63 commented on #98
Ah yes I hadn't thought about the app script. I think it's a good solution.

Thank you very much for your advice @mshima

[2020-06-27 20:34] #266 closed

[2020-06-27 20:38] #267 closed

[2020-06-28 20:44] nicolas63 opened #274 "Add DTO generation"
##### **Overview of the feature request**

Generate DTO and transform the entities to the DTO with AutoMapper

##### **Motivation for or Use Case**

Today we can only generate entities

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-06-28 20:47] nicolas63 opened #275 "Add service layer"
##### **Overview of the feature request**

Give the possibility to generate service layer

##### **Motivation for or Use Case**

Today all code is in controller

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-06-28 20:50] nicolas63 opened #276 "Create repository layer"
##### **Overview of the feature request**

Create a repository layer with unitofwork pattern

##### **Motivation for or Use Case**

Today we use directly the datacontext in the controller

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-06-28 20:51] nicolas63 commented on #69
I close it and split into two issues (#275,#276)

[2020-06-28 20:51] #69 closed

[2020-06-29 06:21] nicolas63 opened #277 "Update to jhipster 6.10.0"
release note => (https://www.jhipster.tech/2020/06/28/jhipster-release-6.10.0.html)

[2020-06-29 19:02] #262 closed

[2020-06-29 21:47] #277 closed

[2020-07-01 05:58] #152 closed

[2020-07-01 06:54] romain325 commented on #276
Just to notice that I'm actually working on it
I'll do a draft when I have something that is working

[2020-07-01 20:06] ivanmonteiro commented on #152
Bounty claimed https://opencollective.com/generator-jhipster/expenses/21333

[2020-07-01 20:13] ivanmonteiro commented on #274
I'm working on this on my branch and hope to provide a PR draft soon.

[2020-07-02 06:41] ivanmonteiro commented on #275
Just to notice that I'm working on it, while adding dto generation I had to enable service at it is a pre-requisite.
I'll do a draft PR soon with service layer generation

[2020-07-05 09:13] nicolas63 opened #287 "Bad indentation on enum generation"
##### **Overview of the issue**

The enum  generation apply bad indentation :

`
    public enum Language {
        FRENCH,        ENGLISH,        SPANISH,    }

`

##### **Motivation for or Use Case**

the good indentation is :

`
    public enum Language {
        FRENCH,
        ENGLISH,
        SPANISH
   }

`

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

#

[2020-07-05 09:14] nicolas63 commented on #287
@ivanmonteiro Can you take a look please ?

[2020-07-05 10:39] nicolas63 commented on #257
The port is change, now all is ok. You can try it with run `dotnet run` ans `npm start`.

[2020-07-05 10:39] #257 closed

[2020-07-05 15:28] ivanmonteiro commented on #287
Yes, I'll take a look at it soon

[2020-07-05 18:12] #287 closed

[2020-07-08 15:41] #274 closed

[2020-07-09 18:25] ivanmonteiro opened #296 "Refactoring question about ProblemDetailsException"
This question is about the ProblemDetailsException on this folder:

![image](https://user-images.githubusercontent.com/891084/87075579-f2551800-c1f6-11ea-844e-32a303d51a05.png)

Those ProblemDetailsException are used by the UserService and the api/main project.

I was tempted to move them to the Crosscutting project but it depends on a package that is not available for .net standard (crosscut laye

[2020-07-09 18:32] ivanmonteiro opened #297 "Refactoring question about Data folder"
This question is about the data folder (with the ApplicationDatabaseContext class and extensions).

Should it be moved to infrastructure layer or somewhere else?

I did a little test locally (have not pushed yet):
![image](https://user-images.githubusercontent.com/891084/87077274-44973880-c1f9-11ea-8fec-1f3f3923143a.png)

It allowed me to implement service layer without compilation errors while th

[2020-07-09 18:45] ivanmonteiro commented on #296
Also, should this whole web folder be moved?

[2020-07-09 19:38] nicolas63 commented on #297
Yes, that's exactly right. In the infrastructure layer there is dbcontext and repositories

[2020-07-09 19:46] ivanmonteiro commented on #297
What about Services? It would be a separate layer?

[2020-07-09 19:54] nicolas63 commented on #296
I think is a conception error. The services need to be independent of this exception. Hellang do not support .netstandard bécasse it's a .net core middleware so only controllers must have the logic of this exception.
I prefer this approach
`public void ConfigureServices(IServiceCollection services)
{
    services
        .AddProblemDetails(setup =>
        {
            setup.IncludeExceptionDetai

[2020-07-09 20:21] ivanmonteiro commented on #296
Would new exception classes need to be created and used on services (putting them on projectname.crosscutting.exceptions)?

So whe can map them to problem details on the application?

[2020-07-09 20:45] nicolas63 commented on #296
You can use existing exceptions but remove inherite of problem detail and just do mapping in the startup with an extension method

[2020-07-09 20:47] nicolas63 commented on #297
Services is in domain layer
Maybe you can have one folder for services and an other for entities. And a subfolder for services interfaces

[2020-07-09 22:00] ivanmonteiro commented on #296
Sounds good, I will give it a try

[2020-07-09 22:43] ivanmonteiro commented on #297
Having services and domain on the same project might be problematic because of dependencies. If any of the dependencies of services are not compatible with .net standard (so you can reuse the library with blazor).

But I can give it a try

[2020-07-09 22:58] nicolas63 commented on #297
All services must be compatible with .netstandard. If it's not, there's a problem. This layer is the business logic so it's not shared with blazor

[2020-07-09 23:07] maznag commented on #297
For me Domain or DB entities have to be with Data Layer (or Repository) that include DBContext.

I propose this architecture to refactor the structure of the project.:

- ProjectName.Common (Actually JHipsterNet project; I prefer to rename it to Common)
- ProjectName.Crosscutting
- ProjectName.Models (for all DTOs and VM objects)

- ProjectName.Data or Repository => for Domain and Data Layer

- Pr

[2020-07-09 23:52] ivanmonteiro commented on #297
I usually prefer a separate project for our entities (projectName.Domain)

I like this.

It makes sense. In dotnet we usually refer to Models instead of DTOs (lets be honest, Models serve the same function as DTOs just with a different name). Since dotnet apis use the MVC pattern it makes sense to call it Models instead of VM or Dtos.
It is a question of deciding if we want to be more like the jav

[2020-07-10 07:09] nicolas63 commented on #297
I prefer separate too, if DbContext is in Domain project, entities and persistence are strongly coupled

Or keep the name and do this (https://github.com/jhipster/jhipster-dotnetcore/issues/49)

DTO is very used in dotnet world, in our case models do not make sense. Model and view model are for the view, like Blazor for example.
It is used in project with razor because it's client part. Here we ha

[2020-07-10 07:13] nicolas63 commented on #297
A small precision about repositories, the repositories interfaces is in domain layer and implementation in infra layer

[2020-07-10 07:48] maznag commented on #297
@nicolas63 I see that you are too inspired by this architectural scheme that you propose each time and you absolutely want to implement it. Frankly I don't agree with that.

It is not because everyone implements unit of work and repository interfaces that we will do it. Still we have database specific implementations for both of these available with DbContext class.

It's just a personal opinion a

[2020-07-10 08:52] nicolas63 commented on #297
Yes because i think is good way (it's my opinion too) but we can discuss it. If you don't create repository it's difficult to do unit test you can use inmemory database but i prefer mock a repository to test only service layer for example

The unit of work is not a problem because it's DbContext, we can just add interface like (https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/

[2020-07-10 09:41] maznag commented on #297
We can continue to use extension methods for generic Code and add the Transaction notion rather than implement a Custom DB Context for each entity

[2020-07-10 09:53] nicolas63 commented on #297
I don't want a custom DbContext per entity just one generic repository who each specific repository implement and add custom logic if necessary.
With ef extensions methods if you use directly is hard to mock for unit test.
Today controller have the logic to query, attach, detach , includes entity. I think it's too much for controller or service and repository layer can do this

[2020-07-10 10:13] maznag commented on #297
OK for generic repository

Normally all the Db context code in the controllers will be migrated to the service Layer

[code]
Service

[code]
For tests, I use service rather than dbContext But effectively I have a problem for Update method (attach detach, ..) . So I use Dbcontext only for update (I don't have too much time to look at it in detail :-) and I use it like that :-) )

`var updatedProjec

[2020-07-10 11:54] nicolas63 commented on #297
Okay, what I propose is let @romain325 advance on the repo layer (#276)  and review this with me.

[2020-07-10 11:55] #296 closed

[2020-07-11 05:48] #297 closed

[2020-07-11 16:21] manisi opened #298 "webpack rtl.scss Error"
ERROR in ./src/content/scss/vendor.scss (./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/src!./node_modules/sass-loader/dist/cjs.js??ref--11-3!./src/content/scss/vendor.scss)
         Module build failed (from ./node_modules/sass-loader/dist/cjs.js):
         SassError: Can't find stylesheet to import.
            ╷
         12 │ @import 'src/Dotnetcoresample/ClientApp/src/cont

[2020-07-13 22:21] ivanmonteiro commented on #274
Claimed bug bounty https://opencollective.com/generator-jhipster/expenses/22014

[2020-07-14 16:54] nicolas63 commented on #298
@manisi can you try #300 and confirm that this solves your problem ?

[2020-07-15 04:10] manisi commented on #298
Hi ,
Thanks
reinstall generatore with : npm install -g generator-jhipster-dotnetcore
and then jhipster --blueprints dotnetcore
(Is the update generatore correct this way?)
The error still exists.
Thanks.

‫‪nicolas63‬‏ <‪notifications@github.com‬‏> در تاریخ سه‌شنبه ۱۴ ژوئیهٔ ۲۰۲۰
ساعت ۲۱:۲۵ نوشت:‬

[2020-07-15 06:10] nicolas63 commented on #298
no, it's not merged, you need to clone my fork (https://github.com/nicolas63/jhipster-dotnetcore) the fix is on master branch.
After that, you can launch `npm link` in the folder (it's replacing your current version with mine) and test it.

[2020-07-15 06:52] manisi commented on #298
Thanks alot.
thats ok. :)
way not exist language menu in navbar or select language in account setting?

‫‪nicolas63‬‏ <‪notifications@github.com‬‏> در تاریخ چهارشنبه ۱۵ ژوئیهٔ
۲۰۲۰ ساعت ۱۰:۴۰ نوشت:‬

[2020-07-16 09:12] nicolas63 commented on #298
yes, that's not normal. It's another bug

[2020-07-16 19:57] nicolas63 commented on #298
Can you retry with lastest version of my fork ?

[2020-07-16 20:14] nicolas63 opened #301 "Vue.js Support"
##### **Overview of the feature request**

Vue.js Support

##### **Motivation for or Use Case**

Vue.js has been added we can add support for this blueprint (rewrite path)
https://github.com/jhipster/generator-jhipster/pull/12064

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-07-16 20:21] nicolas63 opened #302 "Add sorting possibility on child entity"
##### **Overview of the feature request**

Add sorting possibility on child entity

##### **Motivation for or Use Case**

In this PR (https://github.com/jhipster/jhipster-dotnetcore/pull/226) only parent entity wan be sorted

with something like this we can add child sorting

[code]

[2020-07-16 20:32] manisi opened #303 "Can you retry with lastest version of my fork ?"
Can you retry with lastest version of my fork ?

that's OK.
Thanks
_Originally posted by @nicolas63 in https://github.com/jhipster/jhipster-dotnetcore/issues/298#issuecomment-659638269_

[2020-07-16 20:34] #303 closed

[2020-07-16 20:36] manisi commented on #298
that,s Ok
Thanks.

[2020-07-16 20:40] nicolas63 commented on #298
thank to you for your feedbacks ! 😃

[2020-07-16 20:41] #298 closed

[2020-07-25 08:02] manisi opened #309 "not generate the required code for AutoMapperProfile class"
Hello
Does not generate the required code to use AutoMapper in AutoMapperProfile class file after new Entity generate.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "nativeLanguage": "en"
    },
    "namespace": "

[2020-07-27 13:33] nicolas63 commented on #309
@ivanmonteiro do you have any idea where this bug could come from ?

[2020-07-28 12:26] manisi opened #310 "serilog : console log and File log not the same content"
Hi,
config serilog in appsetings file for use console or file ,It is not the same log in consloe and File.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "nativeLanguage": "en"
    },
    "namespace": "MyCompany",

[2020-07-28 14:28] ivanmonteiro commented on #309
With the command jhipster --with-entities --force the mapping is generated correctly, but using the entity generator (jhipster entity newEntity) the mapping is not generated.

I need to further investigate this.

[2020-07-28 15:31] ivanmonteiro commented on #309
This code does not generate the mapping for new entity when using the entity generator (AutomapperProfile.cs.ejs):

[code]

[2020-07-28 18:48] nicolas63 opened #311 "Serve swagger on /admin/api-docs"
##### **Overview of the feature request**

Today swagger is only serve on /swagger

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-07-28 19:19] nicolas63 opened #313 "Fix file naming and move VM and DTO"
##### **Overview of the issue**

The Vm classes are renamed but not the file like 'LoginDTO' /'LoginVM'
The file are in Project rather than Project.DTO

'KeyAndPasswordDTO' ,etc need to be move to Project.DTO

![image](https://user-images.githubusercontent.com/14818936/88711088-eaaed200-d117-11ea-840e-388dc8d1aad1.png)
![image](https://user-images.githubusercontent.com/14818936/88711108-f3070d00-d

[2020-07-28 19:20] nicolas63 commented on #313
@ivanmonteiro can you treat this please ?

[2020-07-28 19:22] nicolas63 commented on #310
@manisi if you have time can you help us to investigate this problem ?

[2020-07-28 19:36] ivanmonteiro commented on #313
Sure,
I remember implementing this (maybe on the dto PR I'm not sure).

I will make sure to fix vm/dto naming soon.

[2020-07-28 19:53] ivanmonteiro opened #314 "Display log messages on production and docker"
##### **Overview of the issue**

When using the production profile, the console log only displays the application banner.

Specially when using docker, since it uses the console log, I see no log info about the application using `docker logs` command.

Maybe should log some information (specially request and db query time)

##### **Motivation for or Use Case**

##### **Reproduce the error**

#####

[2020-07-28 21:03] ivanmonteiro commented on #313
@nicolas63 should the project suffix be uppercase too?
Currently it is ProjectName.Dto. Should it be renamed to upercase (to ProjectName.DTO)?

[2020-07-29 06:09] nicolas63 commented on #313
no it would be rather the opposite the entities to be named Dto because sonar detects smells codes (https://sonarcloud.io/project/issues?id=jhipster_jhipster-sample-app-dotnetcore&open=AXMvJE7ApL9noPyTDWYI&resolved=false&types=CODE_SMELL).
But it's not very important.

Thanks for your PR

[2020-07-29 06:11] #313 closed

[2020-07-29 06:26] manisi commented on #310
Yes, Sure 👍

[2020-07-29 14:25] ivanmonteiro commented on #313
I can rename to Dto its not problem for me.

[2020-07-29 14:35] nicolas63 commented on #313
@ivanmonteiro As you want, if your time permits, why not.

[2020-07-30 09:48] nicolas63 commented on #309
Error: Copying template dotnetcore/src/Project/Service/Mapper/AutoMapperProfile.cs.ejs failed. [ReferenceError: /Users/developer/Desktop/dotnetcoresample/jhipster-dotnetcore/generators/entity-server/templates/dotnetcore/src/Project/Service/Mapper/AutoMapperProfile.cs.ejs:49
47| else {
48| if(dto === 'mapstruct') { _%>

        49| CreateMap<<%= entity.name %>, <%= asDto(entity.name) %>>().ReverseM

[2020-07-30 16:51] ivanmonteiro opened #317 "Change DTO suffix to Dto"
##### **Overview of the feature request**

##### **Motivation for or Use Case**

##### **Related issues or PR**

#313

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-07-31 06:23] #309 closed

[2020-07-31 17:44] manisi opened #320 "namespace name 'Enums' does not exist"
Hello,
Error(s) : reference crosscuting enums
     SampleEntity.cs(5,30): error CS0234: The type or namespace name 'Enums' does not exist in the namespace 'MyCompany.Crosscutting' (are you missing an assembly reference?) [/dotnetcoresample/src/Dotnetcoresample.Domain/Dotnetcoresample.Domain.csproj]

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generat

[2020-07-31 19:00] #317 closed

[2020-07-31 19:01] manisi opened #321 "Not binding related Entity value to client Form"
Hello , when generate entity and use relation  many-to-one and with DTO - Automapper , client form(angular) in Edit Mode or View Mode not bind the value of related entity value.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues

[2020-08-01 07:26] #320 closed

[2020-08-02 18:16] nicolas63 commented on #321
it's due to angular generation (in https://github.com/jhipster/generator-jhipster/blob/master/generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs )

I'm gonna force the dto generation on client side.

`<%_ if (relationshipType === 'many-to-one' || (relationshipType === 'one-to-one' && ownerSide === true)) { _%>
            <%_ if (dto =

[2020-08-02 20:06] #321 closed

[2020-08-03 23:45] ivanmonteiro commented on #49
Would a new github repository be needed for this?

[2020-08-04 06:14] nicolas63 commented on #49
Yes here (https://github.com/jhipster/jhipster-net)

[2020-08-04 09:50] nicolas63 commented on #49
i have publish code from JhipsterNet, i publish the nuget soon

[2020-08-04 16:37] nicolas63 commented on #49
publication done (https://www.nuget.org/packages/JHipsterNet.Web/ and https://www.nuget.org/packages/JHipsterNet.Core/)

[2020-08-04 17:12] ivanmonteiro commented on #49
Wow, well done

[2020-08-04 17:21] nicolas63 commented on #49
I'm doing the modification on the generator 😃

[2020-08-04 18:16] nicolas63 commented on #314
All our logs are in debug and production log level is Info

[2020-08-04 19:23] #49 closed

[2020-08-05 00:32] ivanmonteiro commented on #314
In debug mode it is a LOT of information, maybe in production be more selective of what to log.
For me its important in production to log the current request controller or action and if possible how long it took to complete and how long database queries takes to run.

[2020-08-06 01:55] vraravam opened #332 "Add .editorconfig file to be included while generating the codebase"
##### **Overview of the feature request**

For the past few years, I have used a '.editorconfig' file that I incorporate into each codebase.

##### **Motivation for or Use Case**

This is very useful since most IDEs and text editors adhere to the configurations specified here - and thus, irrespective of which editor each team member uses, the formatting of the files are consistent.

An example of

[2020-08-13 18:54] #275 closed

[2020-08-16 19:03] nicolas63 opened #338 "Access rights"
@jdubois Can you add @ivanmonteiro  in jhipster-net-developers please ?

[2020-08-17 15:14] jdubois commented on #338
Done! Welcome @ivanmonteiro !

[2020-08-19 06:32] manisi opened #341 "Do not display Alert Notification in client"
Hello, in client angular form  after success submit action crud(add , delete,update) the AlertNotification not display.
for example  when save the MySample Entity ,the success alert not display .
##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {

[2020-08-19 07:35] manisi opened #342 "Improve Entity Generator Code in Controller"
Hello,
generated entity with Dto and Service ,in createEntity  method controller ,use _applicationDatabaseContext.SaveChangesAsync() instead of  _mySampleService.Save(mySample);
Thanks.

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "promptValues": {
      "nativeLangu

[2020-08-19 07:49] nicolas63 commented on #342
@ivanmonteiro can you look this ?

[2020-08-19 16:24] ivanmonteiro commented on #342
@nicolas63 I will provide a PR soon

[2020-08-19 16:56] ivanmonteiro commented on #342
The service layer returns a Task for use with async operator:

[code]

The Update action on controller is using the service layer correctly:
[code]

I just checked and seems that the Create method of controller is not using service, using dbcontex directly, this is wrong behaviour and should be changed to use service layer:
[code]

[2020-08-21 06:01] mraible commented on #342
Can you please add bug bounty labels and amounts to this project and give me permission to assign them? I want to spend Okta's donations! 😀

[2020-08-21 10:47] NtsikaMngoma opened #344 "I encounter an issue when deploying the Angular application to a server: ERROR Error: input must not be of zero length regarding the pagination."
I am just making a simple get request to fetch all.

##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating

[2020-08-24 11:24] NtsikaMngoma commented on #344
I have an understanding in deploying, but it seems as if this is where the underlying issue is: Showing NaN - 0 of 0 items on the actual page and ERROR TypeError: Cannot read property 'page' of undefined on console.

[2020-08-24 12:05] nicolas63 commented on #344
Can you give me your nginx conf for try it ?

[2020-08-25 07:48] ivanmonteiro opened #346 "Allow extending/customizing Services"
##### **Overview of the feature request**

The idea is to have one option for customizing/extending service classes (a common use case).
When using the generator to update existing entity or upgrading jhipster version it overwrites any customization added to the generated service files.

It would be nice to be able to customize/extend service implementations and not worry about having custom code

[2020-08-25 09:55] nicolas63 commented on #338
@jdubois any updaye ?

[2020-08-25 09:59] jdubois commented on #338
@ivanmonteiro I added you again to the team, but you need to accept the invitation (I guess you received an email)

[2020-08-25 10:14] ivanmonteiro commented on #338
Thank you @jdubois and @nicolas63. I just accepted the invitation request and It seems that now I have proper access.

[2020-08-25 10:16] nicolas63 commented on #338
Thanks @jdubois

[2020-08-25 10:16] #338 closed

[2020-08-26 06:27] nicolas63 opened #347 "Migration to .Net 5"
##### **Overview of the feature request**

The .net 5 will be realesed at the end of the year

##### **Motivation for or Use Case**

stay up to date and prepare  #348

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-08-26 06:29] nicolas63 opened #348 "Migration to ef core 5"
##### **Overview of the feature request**

The most important issue is treated (https://github.com/dotnet/efcore/issues/19003)

##### **Motivation for or Use Case**

We have hack for do many to many without navigation with ef core 5 we can remove all the hack 😃

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-08-31 23:17] ivanmonteiro opened #355 "Change dto json/dto structure"
##### **Overview of the feature request**

Change dto to use the following structure:
`{ "id": 1, "regionName": "fg", "relationShipId": 1 }`

Currently dto uses this structure (the same structure of using entities):
`{ "id": 1, "regionName": "fg", "relationShip": { "id": "user-2", "relationShipName": "name", } }`

Some work will need to be done on .net side for the dto  code and entity framework c

[2020-09-02 08:27] NtsikaMngoma opened #358 "Serilog Issue on IIS"
I am encountering 500.36 ANCM Out-Of-Process Handler Load Failure, please assist with a guide on how to deploy to IIS Server as I think the issue is based around Serilog, because when I remove logging, the application runs.

[2020-09-02 16:48] nicolas63 commented on #358
How do you have configure IIS ? I have try this and it work fine.
Step to reproduce : create a no managed app pool
![image](https://user-images.githubusercontent.com/14818936/92010998-bfd52080-ed4a-11ea-953e-21234e7eb680.png)

Create new WebSite on this app pool

Publish your app : `dotnet publish --verbosity normal -c Release -o ./app/out ./YourApp.csproj`

Copy the content of ./app/out folder in

[2020-09-02 16:51] NtsikaMngoma commented on #358
Please send me a translated screenshot if possible. If this is what I need to do, I am going to test.

[2020-09-02 16:53] nicolas63 commented on #358
I cannot translate but the important part is CLR version with No Managed code

[2020-09-02 16:58] NtsikaMngoma commented on #358
Okay, thanks. I will try and get back if it doesn't work.

[2020-09-02 17:06] nicolas63 commented on #344
@NtsikaMngoma any update ? How i can help you on this issue ?

[2020-09-02 17:26] NtsikaMngoma commented on #344
I sorted this issue out. I just need assistance with search and filtering without having to use elasticsearch.
I see you dotnet application doesn't have that yet.

[2020-09-02 19:23] nicolas63 commented on #344
@NtsikaMngoma Can you describe the resolution here ? Maybe it will be useful for other people
For search and filtering can you open an issue with the full description of what you want ?

[2020-09-02 19:49] NtsikaMngoma commented on #344
I had mistakenly left out the page size for the pagination in the Angular component file and therefore, it was giving problems, but I was able to resolve it through debugging, as the error was reading:  ERROR TypeError: Cannot read property 'page' of undefined on console

[2020-09-02 19:49] #344 closed

[2020-09-02 19:53] NtsikaMngoma opened #360 "Search and Filtering"
Is there a way to get a Jhipster Repo with NEST implemented, with elasticsearch like how there is one with the Spring version. If not what other ways can the existing repos in dotnet apply searching and filtering using multiple query params for the server and client?

[2020-09-02 19:55] NtsikaMngoma commented on #360
On the client application, when I type on the search bar to search, **Not Found** is returned, I assume this is based around NEST not setup on the API?

[2020-09-03 17:52] nicolas63 commented on #360
Something like main generator (https://www.jhipster.tech/entities-filtering/) ?

[2020-09-05 16:57] nicolas63 commented on #358
@NtsikaMngoma if it's ok for you can you close this issue ?

[2020-09-07 08:08] NtsikaMngoma commented on #360
Sort of, I just need something that can search a filter with multiple params, from username, firstname, surname, etc. Elasticsearch/solr could be suitable for data searching.

[2020-09-07 08:09] NtsikaMngoma opened #361 "Possibility to choose Dapper as ORM"
Is it possible to write a repo the same as the entity framework, but using dapper instead of EF.

[2020-09-07 12:22] NtsikaMngoma commented on #360
Yeah this could also work, but for dotnet, just to filter with the GET request, then autocomplete on the client if possible.

[2020-09-07 13:08] NtsikaMngoma commented on #358
I am still getting :  HTTP Error 500.30 - ANCM In-Process Start Failure  although I have added NoManagedAppPool

[2020-09-07 14:01] #358 closed

[2020-09-07 14:13] nicolas63 commented on #358
You have close this issue it's ok ?

[2020-09-07 14:15] NtsikaMngoma commented on #358
Yep. It works!

[2020-09-07 14:15] nicolas63 commented on #361
@NtsikaMngoma It's possible but I don't have the time to process this request and EF works well in most cases. If you still want this feature i can help you to do it on the generator

[2020-09-07 14:16] NtsikaMngoma commented on #358
Please review my other issues/requests.

[2020-09-07 14:17] NtsikaMngoma commented on #361
Sure, please assist.

[2020-09-07 18:53] ivanmonteiro commented on #361
I would start by taking a look at the template files: `EntityController.cs.ejs ` and `Service.cs.ejs`.
If you want you can fork, change to your needs and use your custom generator:
https://github.com/jhipster/jhipster-dotnetcore#running-local-blueprint-version-for-development

[2020-09-07 19:47] nicolas63 commented on #361
Exactly, you can look EntityController.ejs and Service.ejs.
For starting you can create a sample with dapper rather than ef maybe you can transform https://github.com/jhipster/jhipster-sample-app-dotnetcore.

When you have a sample who work with dapper you can copy your code in ejs files.

[2020-09-08 04:51] vraravam commented on #332
Closing this - since the PR was merged

[2020-09-08 05:34] nicolas63 commented on #332
This issue is not resolve the editorconfig was added on jhipster-net but not on the generator. For now the generated editorconfig is like (https://github.com/jhipster/jhipster-sample-app-dotnetcore/blob/master/.editorconfig)

[2020-09-09 08:24] NtsikaMngoma opened #362 "No soft delete in Asp_Users Table"
Is there a way to implement soft deletes in the users able that you have reference to, as the current build deletes.

[2020-09-09 09:42] nicolas63 commented on #362
As a deactivating function ?

[2020-09-09 09:45] NtsikaMngoma commented on #362
Correct

[2020-09-09 09:53] nicolas63 commented on #362
This feature is already implemented. Maybe a bug ?

On user management view you can click on Activated button
![image](https://user-images.githubusercontent.com/14818936/92583694-ff43c580-f292-11ea-97f8-e59d6803b4c5.png)

[2020-09-09 09:56] NtsikaMngoma commented on #362
Okay, no. Is Actived/Deactivated not for account confirmation purposes? I am actually referring to the delete button.

[2020-09-09 10:04] nicolas63 commented on #362
Yes it is use the account confirmation but it you disable manually the user can't log in .

[2020-09-09 10:06] NtsikaMngoma commented on #362
Okay, makes sense but I am talking about the delete button, on delete I would like to be able to retrieve the details for historic purposes/archive the user.

[2020-09-09 11:56] nicolas63 commented on #362
yes, but if we do this on delete button we have the same feature than activated button no ?

[2020-09-09 12:27] NtsikaMngoma commented on #362
No, it makes a full delete of the row of that user.
It's not archived for future reference.

[2020-09-09 13:43] nicolas63 commented on #362
yes it's actual behavior but if we change this we have the same thing than "activated" button ? The deactivation button is not enough to archive your users ?

[2020-09-09 18:55] nicolas63 opened #363 "Dockerfile is ignore by gitignore"
##### **Overview of the issue**

Dockerfile is ignore by gitignore

[2020-09-09 18:55] nicolas63 commented on #363
report by https://github.com/jhipster/jhipster-sample-app-dotnetcore/issues/1

[2020-09-09 18:58] #363 closed

[2020-09-11 05:56] #362 closed

[2020-09-13 07:31] bhawdeadlydan opened #367 "Dockerfile for the jhipster dotnetcore application is missing."
As part of README it is mentioned that to create a docker container we should run the following command

docker build -f ./src/Jhipster/Dockerfile -t jhipster .

However as part of the latest commit the Dockerfile has been deleted.

##### **Overview of the issue**

The dockerfile to generate the app is missing.

##### **Motivation for or Use Case**

The Dockerfile should be part of the generated p

[2020-09-13 17:25] nicolas63 commented on #367
Already fix by #364. Can you try with latest version ?

[2020-09-14 13:04] #367 closed

[2020-09-14 14:06] pdeoliveira opened #368 "Full browsersync support like we have with Java backend"
##### **Full browsersync support testing local on Dev client using npm start on <project>/src/Sampledotnetcore/ClientApp like we have with Java backend.**

In the current release, it works only on the home page (anonymous), but fails trying to authenticate on login (DBUG 58309 --- [ 20] M.A.S.K.H.Internal.HttpsConnectionMiddleware : Failed to authenticate HTTPS connection.
System.IO.IOException: A

[2020-09-14 17:49] pedrocoliveira commented on #368
I also used npm --prefix ./src/Sampledotnetcore/ClientApp start, but with same error (Failed to authenticate HTTPS connection) on .NET Core log when trying to authenticate both with admin and user (monolithic app).

[2020-09-14 17:56] nicolas63 commented on #368
thanks for the feedback i need more time for investigation

[2020-09-14 18:05] nicolas63 commented on #368
it's due to webpack options i can fix it as workaround you can set in webpack.dev.js

`target: ``http${options.tls ? 's' : ''}://localhost:5000``

by `http://localhost:5000`

[2020-09-14 19:20] pdeoliveira commented on #368
Thank you, but the problem was not with the code. When you load the application first time on the browser using https://localhost:5001 (or http that redirects to https), the browser shows a security screen, informing it's a non trusted source. After confirming it, the app is displayed and works. Only if you do this test and confirmation before using http://localhost:9000 it works (Chrome and Firef

[2020-09-14 19:20] #368 closed

[2020-09-14 21:32] ivanmonteiro commented on #368
@pdeoliveira I see that the issue is closed and probably solved, but if it can be of any help for someone facing problems with the https certificate. I have not had the time to test this issue, but I'll leave some references here and (hopefully) help someone:

https://docs.microsoft.com/pt-br/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&tabs=visual-studio#trust-the-aspnet-core-https-deve

[2020-09-15 21:09] nicolas63 opened #369 "Bad using in Service"
##### **Overview of the issue**

in service.cs.ejs we have `using MyCompany.Data.Extensions;`

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

in service.cs.ejs we have `using <%= namespace %>.Data.Extensions;`

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` f

[2020-09-15 21:18] #369 closed

[2020-09-18 07:06] NtsikaMngoma opened #372 "Setup SMTP"
I have been able to setup smtp on the spring project but I am not sure how to go about it in dotnet core. Please assist, especially for password recovery and new user login.

[2020-09-18 09:41] mark-mngoma opened #373 "Date Issue on client application"
I have been testing the sample dotnet project and notice that the client app has an issue is saving dates previous to the one inputted on the form but it works well with postman. Is the issue in this line of code: **if (!employee.id) {
        const today = moment().startOf('day');
        employee.hireDate = today;
      }**
in the employee-update component?

[2020-09-18 09:43] NtsikaMngoma commented on #373
I chose 2020-09-18 but api response payload gives 2020-09-17

[2020-09-18 10:27] nicolas63 commented on #373
Our clients code is based on java version can you verify if the java application has the same bug ?

[2020-09-18 10:41] NtsikaMngoma commented on #373
I have a java project running and it is fine, but I think the problem is within the dotnet client application neither java or dotnet server applications.

[2020-09-18 11:41] nicolas63 commented on #373
The dotnet client (angular) is exactly the same than java version. Which version of jhipster is on your java project?

[2020-09-18 12:45] NtsikaMngoma commented on #373
They are not exactly. I am actually testing this project: https://github.com/jhipster/jhipster-sample-app-dotnetcore

[2020-09-18 12:46] NtsikaMngoma commented on #373
The java project is running version 5.4.2, which is working fine.

[2020-09-18 12:49] nicolas63 commented on #373
This blueprint is base on jhipster 6.10.1

[2020-09-18 12:53] NtsikaMngoma commented on #373
Yes it is, but the bug persists on this version as well as I am testing on the latest and it seems the date reverts a day back.

[2020-09-18 13:34] nicolas63 commented on #373
Ok if think is link to https://github.com/jhipster/generator-jhipster/issues/11740

[2020-09-18 13:39] NtsikaMngoma commented on #373
This issue is not happening on the Java project, only the dotnet project.

[2020-09-18 14:09] nicolas63 commented on #373
Ok i will investigate this problem

[2020-09-18 22:14] nicolas63 commented on #372
Link to #16 ? You can try with this https://github.com/lukencode/FluentEmail

[2020-09-22 05:55] NtsikaMngoma commented on #373
Still an issue I am failing to resolve as I don't know whether the issue is how the date is parsed on the client application, because when I test on postman, everything works fine, so the issue is the client.

[2020-09-22 05:57] NtsikaMngoma opened #378 "Pagination Issue Through Webpack"
For some reason, as soon as I add in the api url into webpack.common.js, the pagination goes away but when I am running in development it shows.
new webpack.DefinePlugin({
            'process.env': {
                NODE_ENV: `'${options.env}'`,
                BUILD_TIMESTAMP: `'${new Date().getTime()}'`,
                VERSION: `'${packageJson.version}'`,
                DEBUG_INFO_ENABLED: op

[2020-09-22 06:58] NtsikaMngoma commented on #378
![pagination](https://user-images.githubusercontent.com/40614110/93852082-aa03ad00-fcb1-11ea-9258-f48434e4e954.PNG)
This is the application when I have the SERVER_API_URL CONST empty.

[2020-09-22 19:48] nicolas63 commented on #373
Can you give me more information i can't reproduce this on my machine, can you give me jdl / jhipster version / your machine os ?

[2020-09-22 19:49] nicolas63 commented on #378
Why you have set this variable ?

[2020-09-22 19:55] nicolas63 commented on #372
i close this issue and take #16 open

[2020-09-22 19:55] #372 closed

[2020-09-22 20:46] NtsikaMngoma commented on #373
It's this repo:https://github.com/jhipster/jhipster-sample-app-dotnetcore that I am running on the latest version of Windows 10 and also on docker.

[2020-09-22 20:49] NtsikaMngoma commented on #378
Because it seems like when I build using npm run build webpack:prod, it requires the address to be there. In my case it's http://localhost:5000

[2020-09-22 21:10] nicolas63 commented on #378
you served front in a different host ? Today it's the server who served angular with kestrel so the client is also on http://localhost:5000 and the variable SERVER_API_URL useless because it's relative to the server.
You can separate the front and the back but you need to remove the angular spa on the server

[2020-09-22 21:12] nicolas63 commented on #373
you don't generate an application ? you use directly the sample ? ok can try to reproduce with the sample

[2020-09-22 21:14] NtsikaMngoma commented on #378
Then what causes the pagination issue irrespective of the application structure? I did try deploying the jhipster demo project and I get the same pagination issue. That's what I am trying to understand.

[2020-09-22 21:15] NtsikaMngoma commented on #373
Yes, I am using the sample project to reference the logic on the client application, especially when it comes to setting datepickers through moment.js as you're using it in the sample project.

[2020-09-22 21:16] NtsikaMngoma commented on #373
I have a generated project, which I am referencing from the sample project.

[2020-09-22 21:23] nicolas63 commented on #378
With this variable empty you have the same issue ? If yes can you analyze network ?

[2020-09-22 21:27] NtsikaMngoma commented on #378
When it's empty it's not a problem but as soon as I  add in the api url then it creates the issue, mainly being that as far as I have read the project, when I build the static files, there must be the server url In  webpack.common.js when I have to deploy. Is that correct?

[2020-09-22 21:31] nicolas63 commented on #373
Everything in the example is generated with the generator.  But ok I will try again to reproduce.

Thanks for your feedback.

[2020-09-22 21:35] NtsikaMngoma commented on #373
Sure, please just working in doing a form post on the client to see the issue as it doesn't occur when testing with swagger or postman.

[2020-09-22 21:35] NtsikaMngoma commented on #373
Any field with datetime

[2020-09-22 21:37] nicolas63 commented on #378
No you don't need to set it. Because the dotnet server serve the application with kestrel and if the variable is empty the adress is relative to the server here localhost:5000

[2020-09-22 21:38] NtsikaMngoma commented on #378
Okay, I see. Then what if the applications are deployed separately?

[2020-09-22 21:40] nicolas63 commented on #373
I have try this but it's ok for me. Wich date format is on your os ?

[2020-09-22 21:43] nicolas63 commented on #378
If the application is deployed separatly you need to refactor/remove the server (SPA) and set this variable.

[2020-09-22 21:43] NtsikaMngoma commented on #373
Really? Does it not set to the date before? Like if you select 2020-06-04 then it persists as 2020-06-03?

My os datetime format is ddmmyyyy.

[2020-09-22 21:45] NtsikaMngoma commented on #378
I will try again but last time I deployed the monolith application, I still had the pagination issue only when running prod profile after webpack:prod build.

[2020-09-22 21:46] NtsikaMngoma commented on #378
But when I run npm with dev profile it's fine.

[2020-09-22 21:47] nicolas63 commented on #373
I have the same format. Can you try to generate an application with the latest version on the master ? ( you need to clone and call `npm link` )

[2020-09-22 21:49] NtsikaMngoma commented on #373
Using the jhipster generator and the jdl for entities or the demo repo?

[2020-09-22 21:51] nicolas63 commented on #373
Generator and jdl or you can also use entity cli

[2020-09-22 21:53] nicolas63 commented on #373
`git clone`
`cd repo`
`npm link`
`jhipster --blueprints dotnetcore`
`jhipster entity YourEntity`

[2020-09-22 21:58] NtsikaMngoma commented on #373
I am still getting the same issue, I am testing with entity employee, field hireDate

[2020-09-23 07:28] NtsikaMngoma commented on #373
I did everything here but I am still getting this issue. Please send me a screenshot of the process.

[2020-09-23 08:53] NtsikaMngoma commented on #373
I am still receiving this issue on response payload it shows date as **hireDate: 2020-09-22T22:00:00**, but date chosen was: 2020-09-23T22:00:00

[2020-09-23 10:23] NtsikaMngoma commented on #373
I am debugging and the timestamp is just being set at 22h00, I am not sure what config is handling this but it's on the client application, not the api.

[2020-09-23 11:29] NtsikaMngoma commented on #373
It seems like this bug is some UTC parsing issue with Moment as it's happening with all the client applications from the dotnetcore generator.

[2020-09-23 11:45] nicolas63 commented on #373
sorry for the delay, yes it's possible that the error comes from moment.js and UTC

[2020-09-23 11:48] NtsikaMngoma commented on #373
I am thoroughly reading the moment documentation but if you have an idea on fixing the bug please give me an update when possible.

[2020-09-23 11:48] nicolas63 commented on #373
in which timezone are you ?

[2020-09-23 11:51] NtsikaMngoma commented on #373
SAST UTC+2

[2020-09-23 12:10] nicolas63 commented on #373
Can you try to add ` options.SerializerSettings.DateTimeZoneHandling = DateTimeZoneHandling.Utc;`
in newtonsoft options in MvcStartup.cs ?

[2020-09-23 13:10] NtsikaMngoma commented on #373
I have added. Issue still persists as is

[2020-09-23 14:35] NtsikaMngoma commented on #373
I am testing the Java project and it's doing the same thing. Any ideas of configuring moment() properly?
![Screenshot (137)](https://user-images.githubusercontent.com/40614110/94027042-b9bae880-fdba-11ea-8c88-6bca7581b00f.png)

[2020-09-23 14:37] NtsikaMngoma commented on #373
It's a weird issue, very difficult to debug where it's coming from.

[2020-09-23 14:38] NtsikaMngoma commented on #373
But it is definitely an issue on client application parsing the date properly.

[2020-09-23 14:57] nicolas63 commented on #373
if the bug il also on the java version can you open an issue on https://github.com/jhipster/generator-jhipster ?

check before if the issue is not already open

[2020-09-25 20:33] ivanmonteiro opened #379 "Change Data namespace to Infrastructure.Data"
##### **Overview of the feature request**

ApplicationDatabaseContext and related classes were moved to Infrastructure project at "Data" subfolder.
But current namespace is ProjectName.Data and should be changed to ProjectName.Infrastructure.Data to reflect this change.

![image](https://user-images.githubusercontent.com/891084/94312942-3f25d080-ff54-11ea-93b9-a6f32105d7c1.png)

![image](https://u

[2020-09-26 00:33] #346 closed

[2020-09-26 17:15] nicolas63 opened #382 "Blazor sample app repository"
@jdubois

Can you create a sample repository for blazor app (#165) ?
We can named it jhipster-sample-app-blazor

Can you also create the project on sonarcloud please ?

thank you

[2020-09-26 19:23] nicolas63 commented on #332
We can apply coding style from dotnet runtime
https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/coding-style.md
https://github.com/dotnet/runtime/blob/master/.editorconfig

[2020-09-26 19:34] nicolas63 commented on #332
this issue can be done in three step or three PR
- [ ] Add .editorconfig with documentation for dotnet format (https://github.com/dotnet/format)
- [ ] Apply format on our solution
- [ ] check format in ci for detect format error on pull request

[2020-09-26 19:40] nicolas63 opened #383 "Remove in extension method @this and rename parameter"
##### **Overview of the feature request**

We have lot of extension method who use @this
` public static IServiceCollection AddWebModule(this IServiceCollection @this)`

@this is not the standard for the extension method we can rename to service or other pertinent name depending on the case

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read every

[2020-09-26 19:48] nicolas63 opened #384 "Bump nuget dependencies"
##### **Overview of the feature request**

Bump nuget dependencies (AutoMapper, Serilog, Scutor, etc )

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-26 19:55] nicolas63 opened #385 "Reduce code smells on sonar"
##### **Overview of the feature request**

We have 150 code smells on our sample (https://sonarcloud.io/dashboard?id=jhipster_jhipster-sample-app-dotnetcore)

we can quickly resolve several of them (like visibility)

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-26 20:00] nicolas63 commented on #92
close and split into in several small issue

[2020-09-26 20:00] #92 closed

[2020-09-26 20:01] nicolas63 opened #386 "[CI] Add github actions ci in generated project"
##### **Overview of the feature request**

[CI] Add github actions ci in generated project

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-26 20:01] nicolas63 opened #387 "[CI] Add gitlab ci in generated project"
##### **Overview of the feature request**

Add gitlab ci in generated project

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-26 20:05] nicolas63 opened #388 "[CD] Deploy generated app in Azure App Service"
##### **Overview of the feature request**

Deploy generated app to Azure App Service

sample project
https://github.com/Azure-Samples/dotnet_core_sample

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-26 20:07] nicolas63 opened #389 "[CD] Deploy generated app in Heroku"
##### **Overview of the feature request**

Deploy generated app in Heroku

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-26 20:27] nicolas63 opened #390 "[CI-CD] Build and publish docker image with github actions"
##### **Overview of the feature request**

Build and publish docker image with github actions

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-09-26 23:18] vinibeloni commented on #385
Hi, I would like to solve that issue.

[2020-09-27 00:40] swastikchugh commented on #385
Hey @nicolas63, I would like to contribute to this.

[2020-09-27 03:38] rohan2734 commented on #386
hi i would like to work on this issue.

[2020-09-27 03:39] rohan2734 commented on #387
hi i would like to work on this issue.

[2020-09-27 07:47] nicolas63 commented on #387
Nice

[2020-09-27 07:50] nicolas63 commented on #385
Hi, @swastikchugh you can share this task with @vinibeloni or you can take an other issue ( maybe #383 )

[2020-09-27 08:58] rohan2734 commented on #387
so you can assign me this , and i will start working on it.

[2020-09-27 09:12] nicolas63 commented on #387
done

[2020-09-27 09:15] nicolas63 commented on #387
if you have any question don't hesitate to ask me

[2020-09-27 09:19] rohan2734 commented on #387
@nicolas63  sure

[2020-09-27 09:36] nicolas63 opened #392 "Improve documentation"
##### **Overview of the feature request**

Today, all our documentation is in the readme and it is too voluminous. It's time to create a real documentation ( With read the docs )

I have already added this repository on read the docs and juste copy paste the readme (https://jhipsternet.readthedocs.io/en/latest/)

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just

[2020-09-27 21:58] austin0150 commented on #379
I would like to work on this if that's ok

[2020-09-27 22:31] nicolas63 commented on #379
Sure !

[2020-09-28 07:50] NtsikaMngoma commented on #378
I still haven't found a resolution for this bug as it's also happening to with your demo projects every-time I compile the project for production. Have you any idea? Also, what are the passwords for the seeded users in IdentityStartup from admin to anonymous?

[2020-09-28 07:58] NtsikaMngoma commented on #373
I managed to get this fixed but it would be great for you to look at it and fix it for future releases.

[2020-09-28 08:02] nicolas63 commented on #373
@NtsikaMngoma how did you fix it ?

[2020-09-28 08:07] NtsikaMngoma commented on #373
https://github.com/jhipster/generator-jhipster/issues/12577

[2020-09-28 08:36] nicolas63 commented on #373
Ok but we need to take open this issue while the other issue is not resolve

[2020-09-28 08:42] NtsikaMngoma commented on #373
It's the same issue, should I close it or will you close it once resolved?

[2020-09-28 08:42] NtsikaMngoma commented on #373
Please have a look at this issue as I am battling to figure it out: https://github.com/jhipster/jhipster-dotnetcore/issues/378

[2020-09-28 09:05] nicolas63 commented on #378
I think your deployment is not good. With the SPA like the examples it's kestrel that serves the front. Just run donet publish and dotnet YourAppName.dll. If you want separate front and back you need to change SPA in the backend

[2020-09-28 09:07] NtsikaMngoma commented on #378
I have both applications separated, so please advise in step required.

[2020-09-28 09:08] NtsikaMngoma commented on #378
Although that's the case, the demo jhipster project encounters the same issue, of which is why I am confused.

[2020-09-28 09:10] nicolas63 commented on #378
for the user : the mdp is the same than ident

[2020-09-28 09:25] nicolas63 commented on #378
Witth the sample project if you use run dotnet publish and dotnet run App.dll you have the same issue ?
If you have separated application you need to remove AddSpa and UseSpa in MvcStartup.cs. You also need to verify CORS and finally you can set SERVER_API_URL in webpack

[2020-09-28 09:29] NtsikaMngoma commented on #378
Yes, I get the same issue.

[2020-09-28 09:30] NtsikaMngoma commented on #378
As soon as I assign an API uri to the SERVER_API_URL, the pagination changes even in dev mode.

[2020-09-28 09:32] nicolas63 commented on #378
Can you create a git repo with your code and describe all steps to reproduce ?

[2020-09-28 10:41] NtsikaMngoma commented on #378
I see the issue only happens when I break up the monolith between server and client applications, if this is the case, what are the steps I am required to follow?

[2020-09-28 11:30] NtsikaMngoma commented on #378
Is this not based on response headers from CORS? I am reading the response and they are not the same.

[2020-09-28 11:35] NtsikaMngoma commented on #378
This is for the production profile: HTTP/1.1 200 OK
Content-Length: 6188
Content-Type: application/json; charset=utf-8
Server: Microsoft-IIS/8.5
X-Total-Count: 4
X-Pagination: {"totalCount":4,"size":20,"page":0,"totalPages":0,"isFirst":true,"isLast":true,"hasNext":false,"hasPrevious":false}
Access-Control-Allow-Origin: *
Access-Control-Expose-Headers: "Authorization,Link,X-Total-Count"
X-Powered-B

[2020-09-28 11:39] nicolas63 commented on #378
For me the production response is good, have you any error on client console ?

[2020-09-28 11:42] NtsikaMngoma commented on #378
No, there are no errors.

[2020-09-28 11:56] nicolas63 commented on #378
i reproduce the error (with dev and prod profile) i will investigate, can you verify if the java version have the same problem ? If not can you compare the request/response ?

[2020-09-28 12:00] nicolas63 commented on #378
this line `protected onSuccess(data: IMyEntity[] | null, headers: HttpHeaders, page: number, navigate: boolean): void {
    this.totalItems = Number(headers.get('X-Total-Count'));`

return 0

[2020-09-28 12:09] nicolas63 commented on #378
Maybe a problem with our CORS configuration (appsettings.json)

[2020-09-28 12:20] jdubois commented on #382
- I created the repo at https://github.com/jhipster/jhipster-sample-app-blazor and gave the permissions to the .NET teams (so it should be all good for you @nicolas63 )
- I created the Sonarcloud project at https://sonarcloud.io/project/configuration?id=jhipster_sample-app-blazor and gave you permissions

-> I hope it's OK, please mention me otherwise!

Also, I saw your request about allowing Read

[2020-09-28 12:24] nicolas63 commented on #382
Thank you @jdubois ! For readthedocs, sorry for the request, you can refuse it. I configured this manually and everything works now.

[2020-09-28 12:28] nicolas63 commented on #382
@jdubois Can you give me admin right on https://sonarcloud.io/project/configuration?id=jhipster_sample-app-blazor  and on https://sonarcloud.io/dashboard?id=jhipster_jhipster-sample-app-dotnetcore ?

[2020-09-28 12:44] jdubois commented on #382
Awesome! @nicolas63 you should be admin on both projects

[2020-09-28 12:44] #382 closed

[2020-09-28 14:00] NtsikaMngoma commented on #378
**"Cors": {
      "AllowedOrigins": "http://server.local",
      "AllowedMethods": "*",
      "AllowedHeaders": "*",
      "ExposedHeaders": "Authorization,Link,X-Total-Count,X-Pagination",
      "AllowCredentials": true,
      "MaxAge": 1800
    }**

[2020-09-28 15:01] nicolas63 commented on #378
it works with this ?

[2020-09-29 06:39] rohan2734 commented on #386
hi can you help me with this, what script do i need to run for starting this app? , since i have to mention it in the yml file.

[2020-09-29 06:40] rohan2734 commented on #386
@nicolas63  can you tell me the list of jobs that i can perform in the yml file? , or is it there  in README.md?

[2020-09-29 16:58] nicolas63 commented on #386
Today our generated project is like (https://github.com/jhipster/jhipster-sample-app-dotnetcore) without ci.
When the application was generated we need to add ci for build and test the application ( dotnet buid  and dotnet test for the server and npm test for the client )

Step for this issue :
-  [ ] create the workflow
-  [ ] create in the generator a ci-cd folder and ask the user he wants to ad

[2020-09-29 18:45] swastikchugh commented on #385
Hey @vinibeloni, how about we divide this one, you can maybe fix upto "src/.../Data/Extensions/DbSetExtensions.cs" according to the code smells list?

[2020-09-30 09:08] rohan2734 commented on #387
- @nicolas63  added ```.gitlab-ci.yml``` , in  https://github.com/rohan2734/jhipster-dotnetcore/tree/rohan2734
- Please check it, i never worked on this ci.
- please suggest me , and tell the changes ,and
- please guid me too

[2020-09-30 09:19] rohan2734 commented on #386
@nicolas63  how to create a work flow
- when i searched it in google, github docs is opened, and it tells to go to ```actions```
- after that we need to create a workflow, example:
![image](https://user-images.githubusercontent.com/58523134/94667128-04dd7a00-032c-11eb-87aa-f07c8591577c.png)

-but in your actions, there are lready workflows setup and there is no option to create one.
![image](https

[2020-09-30 09:37] nicolas63 commented on #387
You are not in the right direction (same for #386 )
This project is a code generator, and this repo have already a ci (https://github.com/jhipster/jhipster-dotnetcore/tree/master/.github/workflows)
The goal of this issue is to generate .gitlab-ci.yml in generated project. so you don't need to install jhipster just run command for build and test with dotnet and npm) .
You can try this by create a p

[2020-09-30 09:44] rohan2734 commented on #387
@nicolas63  okay i will try

[2020-09-30 10:14] rohan2734 commented on #387
- @nicolas63  this is the thing which i have tried,
- please check https://github.com/rohan2734/jhipster-dotnetcore/tree/rohan2734/.github/workflows

[2020-09-30 15:39] nicolas63 commented on #387
You can't put the gitlab-ci.yml here (it's the ci of the generator)

Take exemple on this ( https://github.com/jhipster/generator-jhipster/tree/master/generators/ci-cd)
We need the same thing in this generator

In your gitlab-ci you use directly command with this the runner need to have dotnet and npm. I prefer use docker image like (https://stackoverflow.com/questions/57292553/how-to-set-up-a-bui

[2020-09-30 16:49] ivanmonteiro commented on #276
I'm interested on working on this issue (if possible)

[2020-09-30 17:23] ivanmonteiro opened #397 "Add unit tests for related entities on the generated app"
##### **Overview of the feature request**

Add unit tests for related entities on the generated dotnet application.

As an example:
Unit tests for Employee should test adding and removing its Department relationship.

##### **Motivation for or Use Case**

Currently the unit tests only adds/removes the main entity.
Changes to the generator **may** cause issues regarding relationships and are not ca

[2020-09-30 17:28] ivanmonteiro commented on #389
Would this issue add the required configuration files to run the generated app on heroku? Or actually publish the generated project there?
Any reference points for this issue?

[2020-09-30 17:31] ivanmonteiro commented on #379
@austin0150 If you need help dont be afraid to ask!

[2020-09-30 18:39] nicolas63 commented on #276
Yes you can ! I have an example of what I want i send you this as soon as possible.

[2020-09-30 18:54] nicolas63 commented on #389
You just need custom build pack like https://medium.com/ingenious/net-core-and-heroku-74e6b41e8c64

[2020-09-30 19:05] austin0150 commented on #379
Well, @ivanmonteiro, I believe I was able to refactor the code properly, but I'm having an issue attempting to use the blueprint locally, and trying to generate an application with jhipster, to test the changes.
Would you be able to verify that I have taken the appropriate steps?

1. Install what is needed; Java11, NodeJS(LTS), Installing Jhipster with (npm install -g generator-jhipster), and then

[2020-09-30 20:17] nicolas63 commented on #379
@austin0150 this step is good, you can verify after npm link generator-jhipster-dotnetcore you have a folder node_modules with a folder generator-jhipster-dotnetcore verify if your code is in this folder

[2020-09-30 20:27] nicolas63 commented on #276
Exemple with unitofwork and generic repo to adapt with our pagination

[ServicesMobiles.zip](https://github.com/jhipster/jhipster-dotnetcore/files/5308086/ServicesMobiles.zip)

[2020-09-30 20:48] austin0150 commented on #379
@nicolas63 That helped, thank you, I found where I was going wrong.
Just for clarification, this issue applies to both the 'server' generator and the 'entity-server' generator, correct?

[2020-09-30 20:53] nicolas63 commented on #379
Yes

[2020-10-01 05:13] rohan2734 commented on #387
so where should i keep it?

[2020-10-01 14:36] vraravam commented on #332
working on it

[2020-10-01 14:59] vraravam commented on #332
This is now done as part of this [PR](https://github.com/jhipster/jhipster-dotnetcore/pull/400)

[2020-10-01 15:51] vraravam commented on #332
this is now doen as part of [this PR](https://github.com/jhipster/jhipster-dotnetcore/pull/401)

[2020-10-02 00:42] vinibeloni commented on #385
Hi @swastikchugh , oh sorry, I didn't see your comment, but I opened to my [pull request](https://github.com/jhipster/jhipster-sample-app-dotnetcore/pull/2) , and this file I didn't change it haha so you can resolve that issue.

[2020-10-02 05:40] #379 closed

[2020-10-02 05:44] nicolas63 commented on #385
@vinibeloni your pull request must be on this repo, the sample project was generated so we don't have to touch the code.

[2020-10-02 10:02] nicolas63 commented on #387
You must put this file in generator/ci-cd/template

[2020-10-02 10:04] nicolas63 commented on #387
You can use image: mcr.microsoft.com/dotnet/core/sdk:3.1

[2020-10-02 10:53] rohan2734 commented on #387
@nicolas63  raised a PR  please check.

[2020-10-02 18:57] ivanmonteiro commented on #276
Thanks for the example you sent.
One quesion, would the generic repository be sufficient for all entities or one repository per entitiy would be also needed to be generated?

[2020-10-02 19:14] nicolas63 commented on #276
You need per entity an interface who implement IGenericRepo

'public interface ISampleRepository : IGenericRepository<Sample> { } '

And the repo who implement this interface and inherite of GenericRepo

'public class SampleRepository : GenericRepository<Game>, ISampleRepository { public SampleRepository(IUnitOfWork context) : base(context) { } } '

[2020-10-02 23:47] EnmanuelReyes commented on #311
HI, @nicolas63 I would like to help with this ticket.

What's really needs to be done / How do you expect to access the API docs?

[2020-10-02 23:56] EnmanuelReyes commented on #384
Hi, I can help with this ticket.

I didn't find anything related to **Scutor**, is that correct?

Do you want any other dependencies to be updated?

[2020-10-03 00:52] ivanmonteiro commented on #384
Those dependencies are of the generated project, so the first step would be to check the sample project at https://github.com/jhipster/jhipster-sample-app-dotnetcore (or generate a new dotnet project using jhipster).

Then check the dotnet projects (main project, test project, domain, services, crosscut, etc....) nuget dependencies for outdated nuget packages.

Then, update the templates (Project.

[2020-10-03 01:09] EnmanuelReyes commented on #384
Thanks @ivanmonteiro, I will take this issue.

[2020-10-03 19:47] nicolas63 opened #407 "Add generation of gatling performance test"
##### **Overview of the feature request**

generation of gatling performance test

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-10-04 07:33] nicolas63 commented on #311
Today our swagger is serve on /swagger

On main generator the swagger-ui/index.html call an url swagger-resource
(https://github.com/jhipster/generator-jhipster/blob/master/generators/client/templates/angular/src/main/webapp/swagger-ui/index.html.ejs)

We need to analyse what is return by java version in this url to do the same thing

[2020-10-04 08:58] #407 closed

[2020-10-04 13:16] nicolas63 commented on #383
Need to be remove in DbContextExtensions and in MvcStartup.cs

[2020-10-04 16:53] ivanmonteiro commented on #385
@nicolas63 It seems that some confusion exists about this project and the sample (generated) project.

Should we add some information on both projects to try to avoid confusion about where PR's should be made?

[2020-10-04 17:29] nicolas63 commented on #385
Yes, but how ?

[2020-10-04 22:23] ivanmonteiro commented on #385
At the sample project's About section:
![image](https://user-images.githubusercontent.com/891084/95028244-498f4b00-0675-11eb-83aa-3e66058a73df.png)
Something along the lines of:

 "For issues and contributions refer to the JHipster.Net project (link)"

I think it would be sufficient.

Let me know what you think.

[2020-10-05 16:32] #384 closed

[2020-10-05 17:40] EnmanuelReyes commented on #311
Hi @nicolas63 , I found a way to make it working, assign this issue to me if you can.

[2020-10-06 18:03] #311 closed

[2020-10-07 09:28] maznag commented on #276
@nicolas63 @ivanmonteiro I think we don't need to implement UnitofWork. GenericRepository and one repository per entity is sufficient. Repository will be used per Service layer

I recently implemented the Repository Layer for one of my projects. here is an example without search functionality.

What do you think ?

- IGenericRepository
[code]
- GenericRepository

[code]
- ISampleRepository
[code]

[2020-10-07 09:33] nicolas63 commented on #276
@maznag you can take a look on the zip in before post.

My implementation is close to yours my unit of work is just an interface on dbcontext

[2020-10-07 10:10] maznag commented on #276
Ok. So I can delete my post which is useless since your zip contains everything ?

[2020-10-07 15:52] ivanmonteiro commented on #276
@maznag Both implementations are very similar indeed but yours is simpler. I tend to prefer simplicity.

Is the unit of work class necessary in your opinion @nicolas63?

[2020-10-07 16:06] nicolas63 commented on #276
Yes i think, when we want mock the dbcontext context it's easier. For the simplicity it's just an interface on the dbcontext so it's not too complex

[2020-10-07 16:20] ivanmonteiro commented on #276
@nicolas63 I had not considered that, you have a good point about testing (although I have not needed to mock dbcontext).

I'll proceed with your approach @nicolas63

[2020-10-07 18:18] ivanmonteiro commented on #276
@maznag thank you for your code and the time you took to express your opinions here, they are valuable and your code surely will help me as a reference

[2020-10-09 07:37] amarflybot opened #415 "Incomplete code in Startup.cs for SecurityModule"
##### **Overview of the issue**

The default vanilla code generated by `--blueprints` created a compilation issue.
Issue found in Startup.cs. for the below code.
[code]

##### **Reproduce the error**

simply installed `npm install -g generator-jhipster-dotnetcore` and ran `jhipster --blueprints dotnetcore`

##### **JHipster Version(s)**

JHipster.NET v1.1.2

##### **JHipster configuration**

Defau

[2020-10-10 10:54] nicolas63 commented on #415
Can you give me your .yo-rc.json ?

[2020-10-11 15:48] michelvosje commented on #383
Let me take a look.

[2020-10-12 07:16] nicolas63 commented on #415
yes it's a workaround for jdl importer compatibility but this parameter is never used

https://github.com/jhipster/jhipster-dotnetcore/blob/3f5edbfda96d9f88114c2b4aea79b1e5f7470793/generators/server/index.js#L100

[2020-10-12 07:18] nicolas63 commented on #415
What is your authentication type ? Did you answer the question about the type of authentication ?

[2020-10-12 08:03] #73 closed

[2020-10-12 11:27] nicolas63 commented on #415
You have choose micro service. Microservice is not available in 1.1.2 . The micro service implementation was added in #413 if you want try it clone and use master. Or you can use monolith architecture who is available in 1.1.2

[2020-10-12 12:24] #415 closed

[2020-10-12 19:06] #383 closed

[2020-10-14 17:09] nicolas63 commented on #392
https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html

[2020-10-17 17:48] ThirumlaDevi commented on #390
@nicolas63 I would like to help you with this github workflow. I am thinking of writing a workflow, which should be able to build and push docker image to [jhipster docker hub](https://hub.docker.com/r/jhipster/jhipster/), when a PR is merged.
Can you please assign this to me ?

[2020-10-18 18:52] nicolas63 commented on #390
This issue is for the generated application but like you suggest we can also do the same thing for the generator. You can start to read this https://github.com/jhipster/jhipster-dotnetcore/blob/main/README.md#using-docker. Do you need more informations ?

[2020-10-25 03:55] ThirumlaDevi commented on #390
@nicolas63 Thank you for providing the needed informations. I hope that PR https://github.com/jhipster/jhipster-dotnetcore/pull/425 fixes this issue :)
Please do let me know if you have any issues with the above PR.

[2020-10-25 10:18] nicolas63 opened #426 "Implement dependabot on generated csproj"
##### **Overview of the feature request**

like https://github.com/jhipster/generator-jhipster/pull/12415

We can add dependabot on csproj for bump nuget version

##### **Motivation for or Use Case**

Reduce time to bump nuget version

##### **Related issues or PR**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-10-25 13:14] ThirumlaDevi opened #428 "Extend "build-docker-image" github action workflow to check if built docker image is broken or not"
##### **Overview of the issue**

_build-docker-image_ github workflow checks only if jhipster-dotnetcore project's docker image is getting built successfully on PR.
This is not enough to check if the docker image is broken/not.

##### **Suggest a Fix**

Need to extend _build-docker-image_  github workflow to do the following:

- Start a container using the created image.
- Run end-to-end tests acr

[2020-10-25 13:49] ThirumlaDevi opened #427 "Extend "build-docker-image" github action workflow to check if built docker image is broken or not"
##### **Overview of the issue**

_build-docker-image_ github workflow checks only if jhipster-dotnetcore project's docker image is getting built successfully on PR.
This is not enough to check if the docker image is broken/not.

##### **Suggest a Fix**

Need to extend _build-docker-image_  github workflow to do the following:

- Start a container using the created image.
- Run end-to-end tests acr

[2020-10-25 13:53] pascalgrimaud commented on #428
transfered

[2020-10-25 13:54] nicolas63 commented on #428
thanks

[2020-10-25 13:54] #428 closed

[2020-10-27 20:35] #390 closed

[2020-10-31 20:27] #276 closed

[2020-11-01 09:48] nicolas63 opened #434 "New Bug introduce on sonar"
##### **Overview of the issue**

https://sonarcloud.io/project/issues?id=jhipster_jhipster-sample-app-dotnetcore&resolved=false&types=BUG

##### **Related issues**

intruduced after https://github.com/jhipster/jhipster-dotnetcore/pull/433

##### **JHipster Version(s)**

##### **JHipster configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory*

[2020-11-01 09:52] nicolas63 opened #435 "After migration to jhipster V7 add the possibility to use Cypress"
##### **Overview of the issue**

After migration to jhipster V7 add the possibility to use Cypress

##### **Browsers and Operating System**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-11-01 11:40] nicolas63 commented on #347
I started working on this

[2020-11-01 14:20] ivanmonteiro commented on #434
I'm working on this

[2020-11-01 14:31] ivanmonteiro commented on #348
I'm interested on working on this, especially because of the many-to-many feature of EF Core 5 that will be of great benefit.
I have made some tests and EF is not coupled to the .Net version.
Maybe you, @nicolas63, can work on the migration to .net 5 and I can work on this issue (EF5 and many-to-many support)?

[2020-11-01 14:34] nicolas63 commented on #348
@ivanmonteiro yes totally agree with you it would be a good step forward for the project !

[2020-11-01 14:45] ivanmonteiro commented on #48
@nicolas63 I like this feature, but I think it should not be mandatory.
What I mean is that the user/developer should be able to choose if he wants entities to be auditable or not.
The reason is that retrieving and updating the rows (addedDate/UpdatedDate) has some cost to it, when adding/updating entities and when listing entities the added/updated information will be retrieved adding more data t

[2020-11-01 14:52] nicolas63 commented on #48
For me, it is complex and unnecessary to add a question. I think the generated application can just expose this functionality and if users want an audible entity, they can add the interface in their entities.
By default no entity is audited.
Do you agree with this ?

[2020-11-01 16:31] ivanmonteiro commented on #48
I agree, I seems reasonable to me.
So if the user/developer want one entity to be auditable, he/she would manually change the generated entity to inherit from a base entity:
[code]

And DbContext shoud take care of updating those fields "automatically" when SaveChanges is called.

[2020-11-01 17:59] nicolas63 commented on #48
Yes exactly

[2020-11-02 18:44] #434 closed

[2020-11-07 10:16] manisi opened #443 "microservice problem in generated config that has single quote"
Hello,
when running microservice app :
2020-11-07 15:46:13.758 FATL 24217 --- [  1] Gateway.Program                          : Host terminated unexpectedly
System.Text.Json.JsonReaderException: ''' is an invalid start of a property name. Expected a '"'. LineNumber: 1 | BytePositionInLine: 2.
   at System.Text.Json.ThrowHelper.ThrowJsonReaderException(Utf8JsonReader& json, ExceptionResource resourc

[2020-11-07 12:36] manisi opened #446 "Bad Gateway 502 microservice gateway entity"
Hello,
getAllFoo Entity List:
Erorr: Bad Gateway 502
http://localhost:5000/services/microservicefoo/api/foos

:::**_GateWay_** :::

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
  "generator-jhipster": {
    "namespace": "Gateway",
    "applicationType": "gateway",

[2020-11-07 13:37] nicolas63 commented on #446
Can you give me for information ?

[2020-11-07 16:56] manisi commented on #446
Gateway ui (Foo Entity) when call data from  microserviceFoo this error
rise I think route from gateway to microserviceFoo  is incorrect

On Sat, Nov 7, 2020 at 5:07 PM nicolas63 <notifications@github.com> wrote:

[2020-11-07 22:08] maznag opened #452 "Add entities audit documentation"
Add documentation for entities audit feature.

Related issue #48  and PR #440

[2020-11-08 07:24] #48 closed

[2020-11-08 10:23] #443 closed

[2020-11-09 07:18] manisi commented on #446
@nicolas63  Hello ,
I think removing this phrase '/service' ,( UpstreamPathTemplate": "/service/microservice/api/bars/{everything}")  from the template generatore will be removed.
Thanks to you

[2020-11-11 12:55] #341 closed

[2020-11-11 14:37] #347 closed

[2020-11-11 16:36] ivanmonteiro opened #459 "Remove duplicate call to SaveChangesAsync()"
##### **Overview of the issue**

SaveChangesAsync() is being callled twice for create/update:
At the entity service/controller
And at  the entity repository method CreateOrUpdateAsync

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Version(s)**

Remove call to SaveChangesAsync() at the entity's repository met

[2020-11-11 18:04] nicolas63 commented on #347
bounty claimed https://opencollective.com/generator-jhipster/expenses/27886

[2020-11-11 21:37] #446 closed

[2020-11-13 19:58] ivanmonteiro opened #460 "Dotnet publish fails when using release configuration"
##### **Overview of the issue**

Error when running the command `dotnet publish --verbosity normal -c Release -o ./app/out ./JhipsterSampleApplication.csproj` while following the generated project's build instructions for production:

##### **Motivation for or Use Case**

##### **Reproduce the error**

Using main version of jhipsternet generator, create an application with jhipster --blueprint dot

[2020-11-13 20:04] nicolas63 commented on #460
I prefer first option

[2020-11-14 14:40] maznag commented on #378
* I can reproduce the bug when I run the frontend without TLS => redirection is made in the back to https:

`npm run start`

The X-Total-Count is present in the response returned by the BACK. On the other hand the `HttpHeaders` in the front only contains two parameters `content-length` and `content-type` and no `X-Total-Count`

* When I run the front with TLS => no problem

`npm run start-tls`

@N

[2020-11-15 02:47] ivanmonteiro opened #461 "Git is ignoring source files at ClientApp/src/app/admin/docs"
##### **Overview of the issue**

At the generated dotnet project, .gitignore is ignoring docs folder:
![image](https://user-images.githubusercontent.com/891084/99161685-65a1f580-26d3-11eb-99dc-bb71444633af.png)

Which is ignoring docs folder at `ClientApp/src/app/admin/docs`, which contains important source files for the client app:
![image](https://user-images.githubusercontent.com/891084/9916159

[2020-11-17 12:14] manisi opened #462 "Add possibility to use Field Type Blob in Entity Generator"
##### **Overview of the feature request**

add  blob dataType when generate Entity for store data like byte,image and etc in database.
##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-11-17 12:22] manisi opened #463 "Add possibility to Handling file upload."
##### **Overview of the feature request**

possibility for storing uploaded file data in file server and store path of it  in database.
##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-11-17 13:09] nicolas63 commented on #463
take a look at https://github.com/aloneguid/storage

[2020-11-17 13:11] nicolas63 commented on #378
@maznag do you think redirection is the problem ?

[2020-11-17 14:28] maznag commented on #378
yes, redirection is the problem when we start Front without TLS. it works well when we start Front with TLS and call Backend directly with https.

can you check with and without TLS to confirm ? and don't forget to use separate frontend and backend.

thanks for feedback :-)

[2020-11-18 06:10] manisi opened #466 "Add possibility to schedule jobs"
##### **Overview of the feature request**

for execute certain taskin the background that should be executed at predefined intervals of time .

##### **Motivation for or Use Case**

##### **Related issues or PR**

-   [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-11-18 06:25] nicolas63 commented on #466
Do you need jhipster for that ? You can use  https://www.hangfire.io/.

[2020-11-18 06:34] manisi commented on #466
i think embed in jhipster generator like Quartz.net is simpler than hangfire. Thanks

[2020-11-18 06:46] nicolas63 commented on #466
Yes maybe, but what is the added value of generating this part ? Add the nuget and expose the configuration ? If it's just for that I think developers can do it

[2020-11-18 06:59] manisi commented on #466
some time the first generated jhipster app need to use execute jobs. for example : the not active user must be deleted before 2 days ago. and the other hand yes add nuget package and use it. Thanks

[2020-11-18 07:08] nicolas63 commented on #466
If you need pre-made it's ok for me
Do you want work on it ?

[2020-11-18 07:18] manisi commented on #466
ok ,i hope i can do it .

[2020-11-18 07:26] nicolas63 commented on #466
If you need help, don't hesitate to ping me

[2020-11-18 16:21] #461 closed

[2020-11-18 16:22] #460 closed

[2020-11-19 21:16] ivanmonteiro opened #467 "Use needles at ApplicationDatabaseContext template"
##### **Overview of the feature request**

Use needles at ApplicationDatabaseContext template

##### **Motivation for or Use Case**

The file ApplicationDatabaseContext.cs is re-generated on every entity change.
It is very common for developers to need to change this file, so with needles some changes can be made to the file without losing all the modifications when using jhipster.

##### **Relate

[2020-11-19 21:20] nicolas63 commented on #459
@ivanmonteiro Do we need to address this before 2.0 ?

[2020-11-19 21:21] #348 closed

[2020-11-19 21:24] ivanmonteiro commented on #459
The second call to SaveChangesAsync is redundant, so I dont think it will be a problem.

There are two options for this:
Remove call to SaveChangesAsync() at the entity's repository method CreateOrUpdateAsync at the template file EntityRepository.cs.ejs.

or

Remove call to SaveChangesAsync() at controller and service.

[2020-11-19 21:35] nicolas63 commented on #459
I think it's the service/controller that should call Save

[2020-11-20 17:35] ivanmonteiro commented on #459
I have just noticed that DeleteAsync method at GenericRepository also calls SaveChangesAsync

[2020-11-20 21:06] #459 closed

[2020-12-03 17:48] ivanmonteiro opened #475 "Error when using migrations"
##### **Overview of the issue**

User @javadjahangiriniopdc reported the following error:

[code]

And suggested to add the package Microsoft.EntityFrameworkCore.SqlServer to the project Infrastructure.

As a note:

When I released the EF 5 version of this project, I noticed that I had to add a direct package reference to EF 5 to the infrastrtucture project, otherwise it would not compile. Maybe i

[2020-12-03 18:29] ivanmonteiro commented on #475
Found the following problem when running `dotnet ef migrations add InitialCreate --project src/JhipsterSampleApplication.Infrastructure/JhipsterSampleApplication.Infrastructure.csproj`:

`
Startup project 'JhipsterSampleApplication.Infrastructure.csproj' targets framework '.NETStandard'. There is no runtime associated with this framework, and projects targeting it cannot be executed directly. To u

[2020-12-03 18:51] ivanmonteiro commented on #475
This problem is also related to other databases, not only Sql server.

[2020-12-04 18:34] ivanmonteiro commented on #98
There is the Migrations Bundle Feature https://github.com/dotnet/efcore/issues/19693 that will probably be released with EF Core 6 that might be helpful.

[2020-12-05 13:13] nicolas63 commented on #355
I will work on it

[2020-12-05 18:52] #475 closed

[2020-12-09 08:44] Zenrac opened #487 "Wrong error displayed during registration"
##### **Overview of the issue**

When registering a new account, the error `Username is already in use` is never displayed.
Instead, the error displayed is `Email is already in use!` even if it's not the case.

##### **Motivation for or Use Case**

It should tell the user that the username is already in use. And it shouldn't tell that the email is already in use if it's not the case.

##### **Repr

[2020-12-09 08:52] Zenrac opened #488 "Generate Xamarin client application"
##### **Overview of the feature request**

- As we already have the possibility to get a Blazor front, and a ASP.core back, it could be interesting to have a way to generate a mobile application with .NET.
- Xamarin would allow to generate a cross platform application for both iOS and Android phones.
- Thanks to Xamarin we are able to share some code.

Work done before templating : https://github.

[2020-12-12 13:47] #355 closed

[2020-12-12 14:09] nicolas63 commented on #165
hello @mraible,
I think this issue is well advanced.
The documentation is missing but I will add it soon.
Today I can generate a blazor application (only JWT) with UT, entities with any kind of relationship and DTO.
Do you see anything else to do to validate this issue ?

[2020-12-12 19:07] mraible commented on #165
Can you provide the steps to create an app with this feature to test it?

[2020-12-12 20:13] nicolas63 commented on #165
You can also run UT from root folder with ```dotnet test```

[2020-12-13 21:05] nicolas63 commented on #378
@maznag i have test this and i have the problem only only without tls but i have no idea how to solve the problem.
Do you have an idea ?

[2020-12-14 20:50] maznag commented on #378
@nicolas63 thanks for the confirmation.

To solve this issue we need to not force HTS by default on the back and use `UseHttps` in appSettings.Env.json to specify if user want to use TLS or not. Otherwise, Backend can be accessible in http protocol by default (`UseHttps: false`).

When we use Front with TLS, we should use `UseHttps: true`

We can also aadd the new settings parameters as follow to

[2020-12-14 21:59] nicolas63 commented on #378
@maznag first sorry for the delay of my last response

And yes ! Your response is really a good idea.

If you can do a PR it would be perfect.
Tanks

[2020-12-14 22:35] mraible commented on #165
@nicolas63 I'm a n00b when it comes to .NET and this blueprint. :)

I installed the .NET SDK using Homebrew:

[code]

I was able to generate an app OK using a `.yo-rc.json` similar to the one provided above.

[code]

However, when I create an `entities.jdl` from the file above and try to import it, it yields a couple of errors.

[code]

The `package.json` does seem to be missing. Output from `ls -

[2020-12-14 22:48] nicolas63 commented on #165
Oh yes ! It's my bad i have forgot to not launch webpack build here (https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/entity-client/index.js#L50)
I will fix it. But your application works

[2020-12-15 18:11] nicolas63 commented on #165
@mraible https://github.com/jhipster/jhipster-dotnetcore/pull/496 it's fixed i merge it soon.

[2020-12-18 20:16] nicolas63 opened #498 "React generation is broken"
##### **Overview of the issue**

reported by @miketm001_gitlab on gitter

##### **Browsers and Operating System**

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-12-21 17:58] nicolas63 commented on #165
@mraible have you retry ?

[2020-12-21 18:07] #310 closed

[2020-12-21 18:07] nicolas63 commented on #314
close by #502

[2020-12-21 18:07] #314 closed

[2020-12-21 19:07] mraible commented on #165
I tried again today. The first thing I noticed is several warnings (I have JHipster v6.10.5 installed).

[code]

I ran the tests as the blueprint suggested:

[code]

This resulted in a couple errors:

[code]

Next, I ran it as instructed:

[code]

This seemed to work, but when I try to access `https://localhost:5001/`, I get a 404:

[code]

The server logs indicate it might be from a missing `favi

[2020-12-21 19:33] nicolas63 commented on #165
This is strange i will investigate

Have you installed Libman and WebCompiler ?
Libman: `dotnet tool install -g Microsoft.Web.LibraryManager.Cli`
WebCompiler: `dotnet tool install Excubo.WebCompiler --global`

This part run only the server part i will add instruction for client part
The 404 is here because no route match "/"

For the front you also need to run `dotnet run` in the folder or
`dotnet

[2020-12-21 20:07] mraible commented on #165
I was not aware that I needed to install Libman and WebCompiler. Will .NET developers know to do this? I have no idea since this is one of the first times I've tried to run a .NET app. 😉

After installing them, `dotnet test --list-tests --verbosity normal` results in 4 errors:

[code]

I tried to run the command you suggested for the front, but it doesn't work.

[code]

My `src` directory:

[code]

[2020-12-21 20:32] nicolas63 commented on #165
Yes i think Libman replace npm for depencies like bootstrap and Webcompiler replace webpack for build minify css.
But I have to document this properly.

For build error can you share generated code ? There is something wrong in generated app
You're on the main branch with `npm link` ?

Yes, we have also this when we run dotnet with angular or react, with blazor i have no way to do this or maybe wi

[2020-12-21 20:37] nicolas63 commented on #165
yes sorry i forgot `client` folder

[2020-12-21 20:45] mraible commented on #165
Yes, I'm on the main branch and using `npm link`. Here's my generated project: https://github.com/mraible/blazor-test

I did not import the entities yet.

[2020-12-21 21:01] nicolas63 commented on #165
I have find !
I have not extend `ComponentBase`  on admin component so the link between the class and component is case sensitive
The folder is `Blazor` and your namespace is in lowercase (`blazor`).
Can you retry with Pascal case namespace ?
Pascal case for the namespace is a convention in .net but i will make a fix for this and add warning if the namespace is in pascal case.

[2020-12-21 21:26] mraible commented on #165
My app is in a `blazor` directory, but I'm guessing that doesn't matter. I tried changing my `.yo-rc.json` to NOT use `Blazor` for the namespace and baseName:

[code]

Now, when I run the tests, I get even more errors:

[code]

Running the backend with `dotnet run --verbosity normal --project ./src/MyApp/MyApp.csproj` completes successfully.

Running the frontend with `dotnet run --project ./src/c

[2020-12-21 21:37] nicolas63 commented on #165
If you have the time you are totally the right person anyone should be able to generate an application

For your error is my bad i have use namespace variable rather than baseName to reference other project. I need to fix it.
Can you try with same name for namespace and baseName ? Sorry for all its inconveniences i hope not to waste your time

[2020-12-21 21:46] mraible commented on #165
If I use `MyApp` for both values, the tests pass but there are lots of warnings:

[code]

Now the backend, frontend, and authentication works!

I then tried importing the entities with `jhipster jdl entities.jdl --blueprints dotnetcore`. This doesn't seem to work.

[code]

[2020-12-21 21:58] nicolas63 commented on #165
Warnings is  cause by synchronous code in async inherited method. I'm going to review this, but I don't think I could change this behavior.

Can you give me your entities.jdl ? it contains only entities ?

Can you try with import-jdl ?

[2020-12-21 22:04] mraible commented on #165
My entities is the same as yours above. The reason it wasn't working is that I was using the `main` branch of JHipster, which was saying it was v6.10.5. Running `npm i -g generator-jhipster` fixed the problem.

This command now works:

[code]

[2020-12-25 22:16] dependabot-preview[bot] opened #508 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the

[2020-12-25 22:18] #508 closed

[2020-12-25 22:36] dependabot-preview[bot] opened #509 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the

[2020-12-25 22:37] #509 closed

[2020-12-25 22:39] dependabot-preview[bot] opened #510 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the

[2020-12-25 22:42] #510 closed

[2020-12-28 11:17] dependabot-preview[bot] opened #512 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the

[2020-12-28 16:25] nicolas63 commented on #332
I spent some time trying to fix the problems but the formatting organizes using directives in alphabetical order, so it depends on the name of the application. Maybe doing the formatting after the generation wasn't a bad idea. @ivanmonteiro what do you think?

[2020-12-29 19:44] ivanmonteiro commented on #332
Does the generator correctly detect which files needs to be overwritten and the diff tool works correctly?

As for the question you asked, would a "using directives ordering function" on the generator help? Or maybe disabling using directives sorting with:
[code]
I have not tested this, though. Hope this can be of any help.

[2021-01-01 21:25] nicolas63 commented on #332
I have already tested this but by looking at the source code i have see that it was necessary to delete this lines to disable alphabetical sort

[2021-01-02 20:27] #332 closed

[2021-01-02 22:42] #426 closed

[2021-01-03 10:16] #512 closed

[2021-01-03 10:17] dependabot-preview[bot] opened #518 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the

[2021-01-03 10:35] #518 closed

[2021-01-05 22:03] #378 closed

[2021-01-05 22:04] maznag commented on #378
Closed via https://github.com/jhipster/jhipster-dotnetcore/pull/514

[2021-01-05 22:10] maznag opened #542 "IdentityStartup Refactoring"
Load users and roles seed data from csv or json file instead of hard-coding the data. See IdentityStartup.cs

[2021-01-06 22:35] ivanmonteiro commented on #392
I have a few suggestions for the documentation. The first one is:

- Add a "catchy" headline to  grab attention

Add a headline to Github's readme (https://github.com/jhipster/jhipster-dotnetcore/blob/main/README.md) and ReadTheDocs.
A headline changes the way people read the rest of the docs and the way they remember the project. The headline frames the rest of the experience.  Ideally, It should

[2021-01-06 23:10] ivanmonteiro commented on #392
The second suggestion for improving the documentation is to:

- add an introductory gif or video to grab attention of new visitors

I'm thinking about a simple video/gif at the top of the readme (below the the headline) showing simple steps like:

- adding entitiy
- running the generated application

Thinking about the experience of first-time visitors of the repository, seeing gif or video previe

[2021-01-07 21:29] nicolas63 commented on #392
@ivanmonteiro totally agree with you I think we absolutely have to improve this part. I think we need to improve the generated readme with usefull command and all informations useful for the developers.
Maybe add a complete guide like https://github.com/jhipster/jhipster-guides/tree/main/guides
For gif vs videos i think gif are easier to realize

[2021-01-07 21:30] nicolas63 commented on #392
Maybe we can create a Projects in github to trace and distribute the realisation of the doc

[2021-01-08 19:33] ivanmonteiro commented on #392
Good idea. Could you setup the project?

[2021-01-08 20:55] nicolas63 commented on #392
https://github.com/jhipster/jhipster-dotnetcore/projects/1

[2021-01-10 08:45] #452 closed

[2021-01-21 20:41] maznag commented on #466
We can use integrated [.Net Core `HostedService`](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-5.0&tabs=visual-studio) to implement background task rather than use of external package

And use of [`Cronos` package](https://www.nuget.org/packages/Cronos) to parse Cron expressions and calculating next occurrences.

[2021-01-21 20:57] maznag commented on #361
In my opinion, it is useless to **make the generator complex by adding more options** and EF core is works well and is sufficient in most cases . In addition, with Dapper, we should  hard-code SQL queries which facilitates the injection of the SQL code. Dapper can only be used for performance reasons for BigData applications. **I don't recommend adding this functionality to the this blueprint**. D

[2021-01-21 21:07] nicolas63 commented on #361
Totally agree with you ! we can close this

[2021-01-21 21:16] #361 closed

[2021-01-21 21:17] nicolas63 commented on #466
the main advantage of the hangfire is that you can also have an admin part with the cron states, monitoring etc...
The persistence of the jobs is also a good feature

[2021-01-21 22:17] ivanmonteiro commented on #466
It would be interesting if the job scheduler could work properly when we horizontally scale the application (running the app on 3 servers, as example). We don't want the same job running on all servers. That would waste resources and lead to problems.

It seems that hangfire.io supports this scenario: https://docs.hangfire.io/en/latest/background-processing/running-multiple-server-instances.html

[2021-01-22 00:30] ivanmonteiro commented on #466
Quartz.Net also seems interesting and worth investigating. It supports job persistence (in memory and database by ado.net), fail retry and, clustering (multi-server).
See: https://www.quartz-scheduler.net/

[2021-01-22 00:46] ivanmonteiro commented on #466
My opinion is that the job shceduling solution should:

- be simple (no need of dependency on redis or external server at first)
- allow persistence - add robustness tor the application and is useful for server reboots, failover and retry
- work on multi-server applications. This is optional, but it is important for for future.

Both hangfire.io and Quartz.Net seems to have its pros and cons.
Quar

[2021-01-26 21:46] nicolas63 commented on #389
@ivanmonteiro you closed this issue a bit quickly I didn't have time to read your PR because your PR was in draft. i have some remarks why disable okta (we support okta with open-id authentication ) ? Can you clean the commented code ? The blazor part support this deployment ? if not i can help you to add it ?

[2021-01-26 22:12] ivanmonteiro commented on #389
I have explained on gitter what happened. Summing up:
I mistakenly pushed my work-in-progress to upstream instead of origin.
There is still work to be done: okta, clean commented code, test blazor deploy, etc... And of course a proper PR review.
I need some guidance on how to proceed now.

[2021-01-26 22:15] ivanmonteiro commented on #389
I have all the code on my fork feature branch and on my machine, so if main branch It needs to be reverted I have everything here.

[2021-01-26 22:34] nicolas63 commented on #389
@ivanmonteiro oh ok, we can discuss it on gitter

[2021-01-26 23:15] ivanmonteiro commented on #389
Continuing work on a new PR: https://github.com/jhipster/jhipster-dotnetcore/pull/561

[2021-02-01 15:49] ivanmonteiro commented on #389
@nicolas63 I'm having some errors trying to deploy the app with blazor.

First, I needed to install the tools needed as dependencies by blazor: libman and webcompiler.

I managed to do that by createing a new tools manifest (.config/dotnet-tools.json) with:
 `dotnet new tool-manifest` and adding the tools needed:
`dotnet tool install -g Microsoft.Web.LibraryManager.Cli`
and
`dotnet tool install Ex

[2021-02-01 16:37] ivanmonteiro commented on #389
@nicolas63 I just realized that the backend is at one port, and the blazor frontend is at a different port.
It might be possible to start two separate processes at the Procfie (https://github.com/jhipster/jhipster-dotnetcore/blob/main/generators/heroku/templates/Procfile.ejs).
But Heroku does not allow exposing ports so either the backend or the frontend would be served... =/
Since you're more exp

[2021-02-01 18:16] nicolas63 commented on #389
it's a really good idea thanks 😃

[2021-02-01 18:18] nicolas63 commented on #389
Yes it's two ports but i think we can deploy this on two dynos like the database no ?
If this do not works we can extract the blazor integration in an other issue

[2021-02-01 21:06] ivanmonteiro commented on #389
Actually the database is an addon. It "belongs" to the application/dyno.

But yes, with two separate apps maybe it could work:
- one for the backend with the db addon
- and another for the blazor frontend

From the [jincod's dotnetcore-buildpack docs](https://github.com/jincod/dotnetcore-buildpack):
`If repository contains multiple Web Applications (multiple Startup.* or Program.*), PROJECT_FILE a

[2021-02-01 21:09] ivanmonteiro commented on #389
Check https://github.com/jincod/dotnetcore-buildpack/blob/de0a0876c095965906659248e70cea54b0315591/bin/compile#L77 for why it needs to change. Heroku extracts the executable from the PROJECT_NAME environment variable. Usually the project name has the same casing as the AssemblyName/executable. But we use dasherizedBaseName at the backend/api csproj instead of the usual pascalizedBaseName.

[2021-02-01 21:17] nicolas63 commented on #389
Ok so i think i can change the assembly name i don't know why we use dasherized. I agree with heroku convention

[2021-02-01 21:20] ivanmonteiro commented on #389
Don't worry, I can change it ASAP. I also think the heroku convention is better.

[2021-02-04 01:14] ivanmonteiro commented on #389
The current status is:
Working:
- Monolithic deploys.

Databases available:
- mysql
- postgres
- MS SQL Server (not tested because it is paid but It should work)

Not working:
- Blazor deploy is **not** working (I might neeed a little help from @nicolas63 to make it work)

Not supported:
- Microservice deploy is not supported.
As far as I know it is difficult to run Consul on Heroku because of the

[2021-02-16 02:44] vraravam commented on #360
I have just released a linq-based filter library that was modeled on the java-based jHipster: https://www.nuget.org/packages/Linq.Query.Filters/ - please see if this is useful. I plan to try and work on weekends to learn contributing to jHipster-dotnetcore and see if I can raise a PR for generating this OOB.